<form role="form" class="product-tabs">

    <header class="panel-heading custom-tab">
        <ul class="nav nav-tabs">
            <li ng-class='{active:$first}' ng-repeat="(key, items) in attributeGroups" ng-click="click(key)">
                <a href="#collapse{{key}}" target="_self">
                    {{key}}
                </a>
            </li>
        </ul>
    </header>

    <div class="panel-body">
        <div class="tab-content">

            <div ng-class='{active:$first}' id="collapse{{key}}" class="tab-pane"
                 ng-repeat="(key, items) in attributeGroups">
                <div ng-repeat="attribute in items" ng-if="attribute.Type!=='group'">
                    <div ng-switch="attribute.Editors">

                        <div ng-switch-when="not_editable">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-not-editable editor-scope="attribute" item="item"></gui-not-editable>
                        </div>

                        <div ng-switch-when="multiline_text">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-multiline-text editor-scope="attribute" item="item"></gui-multiline-text>
                        </div>

                        <div ng-switch-when="html">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <textarea type="text" class="form-control" style="resize:vertical;" rows="7" data-gui-html id="tinymce1"
                                      placeholder="{{attribute.Label}}"
                                      ng-model="item[attribute.Attribute]"></textarea>
                        </div>

                        <div ng-switch-when="text">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-text editor-scope="attribute" item="item"></gui-text>
                        </div>

                        <div ng-switch-when="model_selector">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-model-selector editor-scope="attribute" item="item"></gui-model-selector>
                        </div>

                        <div ng-switch-when="array_model_selector">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-array-model-selector editor-scope="attribute" item="item"></gui-array-model-selector>
                        </div>

                        <div ng-switch-when="password">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-password editor-scope="attribute" item="item"></gui-password>
                        </div>

                        <div ng-switch-when="boolean">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-boolean editor-scope="attribute" item="item"></gui-boolean>
                        </div>

                        <div ng-switch-when="select">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-select editor-scope="attribute" item="item"></gui-select>
                        </div>

                        <div ng-switch-when="selector">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-select editor-scope="attribute" item="item"></gui-select>
                        </div>

                        <div ng-switch-when="multi_select">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-multi-select editor-scope="attribute" item="item"></gui-multi-select>
                        </div>

                        <div ng-switch-when="product_selector">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-product-selector editor-scope="attribute" item="item"></gui-product-selector>
                        </div>

                        <div ng-switch-when="category_selector">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-category-selector editor-scope="attribute" item="item"></gui-category-selector>
                        </div>
                        <div ng-switch-when="product_options">
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-custom-options-manager editor-scope="attribute"
                                                        item="item"></gui-custom-options-manager>
                        </div>

                        <div ng-switch-when="picture_manager">
                            <gui-picture-manager images-path="parent.imagesPath" images-list="parent.productImages"
                                                 selected="selectedImage" default-img="item.default_image"
                                                 ng-if="item._id">

                                <!-- Upload button -->
                                <div class="btn btn-success">
                                    <input type="file" id="uploadfile" name="uploadfile" ng-model="parent.uploadfile"
                                           ng-change="parent.imageAdd('uploadfile')"/>
                                </div>
                                <!-- Remove button -->
                                <button class="btn btn-danger" ng-click="parent.imageRemove(selectedImage)">Remove
                                </button>
                                <!-- Default button -->
                                <button class="btn btn-primary" ng-click="parent.imageDefault(selectedImage)">Mark as
                                    Default
                                </button>
                            </gui-picture-manager>
                        </div>

                        <div ng-switch-default>
                            <label>{{attribute.Label}} <span class="asterisk"
                                                             ng-show="attribute.IsRequired">*</span></label>
                            <gui-text editor-scope="attribute" item="item"></gui-text>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="btn-black" ng-click="parent.save()">Save</div>
<div class="btn-black" ng-click="parent.back()">Back</div>

<script>
    (function ($) {
        $(document).on("click", 'ul.nav-tabs li a', function (event) {
            event.preventDefault();

            $(this).parent().siblings().removeClass('active');
            $(this).parent().addClass('active');
            var href = $(this).attr('href');
            $('.tab-content div').removeClass('active');
            $(href).addClass('active');
        });
    })(jQuery)

</script>
