<div ng-repeat="attribute in attributes" ng-if="attribute.Type!=='group'">
    <div ng-switch="attribute.Editors">

        <div ng-switch-when="not_editable">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-not-editable editor-scope="attribute" item="item"></gui-not-editable>
        </div>

        <div ng-switch-when="multiline_text">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-multiline-text editor-scope="attribute" item="item"></gui-multiline-text>
        </div>

        <div ng-switch-when="html">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-html editor-scope="attribute" item="item"></gui-html>
        </div>

        <div ng-switch-when="text">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-text editor-scope="attribute" item="item"></gui-text>
        </div>

        <div ng-switch-when="model_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-model-selector editor-scope="attribute" item="item"></gui-model-selector>
        </div>

        <div ng-switch-when="array_model_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-array-model-selector editor-scope="attribute" item="item"></gui-array-model-selector>
        </div>

        <div ng-switch-when="password">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-password editor-scope="attribute" item="item"></gui-password>
        </div>

        <div ng-switch-when="boolean">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-boolean editor-scope="attribute" item="item"></gui-boolean>
        </div>

        <div ng-switch-when="select">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-select editor-scope="attribute" item="item"></gui-select>
        </div>

        <div ng-switch-when="selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-select editor-scope="attribute" item="item"></gui-select>
        </div>

        <div ng-switch-when="multi_select">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-multi-select editor-scope="attribute" item="item"></gui-multi-select>
        </div>

        <div ng-switch-when="visitor_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-visitor-selector editor-scope="attribute" item="item"></gui-visitor-selector>
        </div>

        <div ng-switch-when="product_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-product-selector editor-scope="attribute" item="item"></gui-product-selector>
        </div>

        <div ng-switch-when="category_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-category-selector editor-scope="attribute" item="item"></gui-category-selector>
        </div>

        <div ng-switch-when="product_options">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-custom-options-manager editor-scope="attribute"
                                        item="item"></gui-custom-options-manager>
        </div>

        <div ng-switch-when="picture_manager">
            <gui-picture-manager images-path="parent.imagesPath" images-list="parent.productImages"
                                 selected="selectedImage" default-img="item.default_image"
                                 ng-if="item._id">

                <!-- Upload button -->
                <div class="btn btn-success">
                    <input type="file" id="uploadfile" name="uploadfile" ng-model="parent.uploadfile"
                           ng-change="parent.imageAdd('uploadfile')"/>
                </div>
                <!-- Remove button -->
                <button class="btn btn-danger" ng-click="parent.imageRemove(selectedImage)">Remove
                </button>
                <!-- Default button -->
                <button class="btn btn-primary" ng-click="parent.imageDefault(selectedImage)">Mark as
                    Default
                </button>
            </gui-picture-manager>
        </div>

        <div ng-switch-default>
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-text editor-scope="attribute" item="item"></gui-text>
        </div>

    </div>
</div>
            