<div ng-repeat="attribute in attributes" ng-if="attribute.Type!=='group'">
    <div ng-switch="attribute.Editors">

        <div ng-switch-when="not_editable">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-not-editable editor-scope="attribute" item="item"></gui-not-editable>
        </div>

        <div ng-switch-when="multiline_text"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-multiline-text editor-scope="attribute" item="item"></gui-multiline-text>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="html"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">

            <gui-html editor-scope="attribute" item="item"></gui-html>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="text"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-text editor-scope="attribute" item="item" ng-required="attribute.IsRequired"
                      name="attribute.Attribute"></gui-text>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="datetime"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-datetime editor-scope="attribute" item="item"></gui-datetime>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="model_selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-model-selector editor-scope="attribute" item="item"></gui-model-selector>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="array_model_selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-array-model-selector editor-scope="attribute" item="item"></gui-array-model-selector>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="password"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-password editor-scope="attribute" item="item"></gui-password>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="boolean"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-boolean editor-scope="attribute" item="item"></gui-boolean>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="select"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-select editor-scope="attribute" item="item"></gui-select>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-select editor-scope="attribute" item="item"></gui-select>
            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="multi_select"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-multi-select editor-scope="attribute" item="item"></gui-multi-select>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>

        <div ng-switch-when="visitor_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-visitor-selector editor-scope="attribute" item="item"></gui-visitor-selector>
        </div>

        <div ng-switch-when="product_selector" class="cat-label">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-product-selector editor-scope="attribute" item="item" parent="parent"></gui-product-selector>
        </div>

        <div ng-switch-when="category_selector" class="cat-label">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-category-selector editor-scope="attribute" item="item"></gui-category-selector>
        </div>

        <div ng-switch-when="product_options">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-custom-options-manager editor-scope="attribute"
                                        item="item"></gui-custom-options-manager>
        </div>

        <div ng-switch-when="picture_manager">
            <gui-picture-manager images-path="parent.imagesPath" images-list="parent.productImages"
                                 selected="parent.selectedImage" default-img="item.default_image"
                                 bind-if="item._id">

                <!-- Upload button -->
                <div class="btn btn-success">
                    <input type="file" id="uploadfile" name="uploadfile" ng-model="parent.uploadfile"
                           ng-change="parent.imageAdd('uploadfile')"/>
                </div>
                <!-- Remove button -->
                <button class="btn btn-danger" ng-click="parent.imageRemove(parent.selectedImage)">Remove
                </button>
                <!-- Default button -->
                <button class="btn btn-primary" ng-click="parent.imageDefault(parent.selectedImage)">Mark as
                    Default
                </button>
            </gui-picture-manager>
        </div>

        <div ng-switch-default
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <gui-text editor-scope="attribute" item="item"></gui-text>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required) || (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">This field is required.</p>
        </div>


    </div>
</div>

