<section ng-init="init()">
    <form role="form" class="form-group">

        <!-- Pagination -->
        <gui-paginator object="this"></gui-paginator>
        
        <!-- Columns filter -->
        <div class="text-center" ng-if="parent.fields.length > 1">
            <label class="checkbox-inline" ng-repeat="field in parent.fields" ng-hide="field.notDisable">
                <input type="checkbox" ng-model="field.visible" ng-hide="field.notDisable">
                {{field.label || field.attribute}}

                &nbsp;&nbsp;&nbsp;
            </label>
        </div>


        <div class="filters" ng-if="parent.fields.length > 1" ></div>
        
        <br>
        
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped">
                <thead>
                    <tr>
                        <!-- Checkboxes column thead -->
                        <th class="checkboxes-column" ng-if="buttons.checkbox">
                            <input type="checkbox" id="selectAll" ng-click="selectAll()">
                        </th>

                        <!-- Other columns thead -->
                        <th ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'th-sort': field.label}" ng-click="field.label ? setSort(field.attribute) : ''">
                            {{field.label}}
                            <span ng-class="getSortClass(field.attribute)"></span>
                        </th>
                    </tr>

                    <!-- Filters row -->
                    <tr ng-hide="filters.length <= 1 && !filters[0].visible">
                        <th ng-if="buttons.checkbox">&nbsp;</th>
                        <th ng-repeat="filter in filters" ng-switch="filter.type" ng-show="parent.fields[$index].visible">
                            <div ng-switch-when="text">
                                <gui-filter-text editor-scope="filter.attributes" item="filter" object="this"></gui-filter-text>
                            </div>

                            <div ng-switch-when="range">
                                <gui-filter-range editor-scope="filter.attributes" item="filter" object="this"></gui-filter-range>
                            </div>

                            <div ng-switch-when="select">
                                <gui-filter-select editor-scope="filter.attributes" item="filter" object="this"></gui-filter-select>
                            </div>
                            <div ng-switch-default="">
                                &nbsp;
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="_item in items">

                        <!-- Checkboxes column -->
                        <td class="checkboxes-column" ng-if="buttons.checkbox">
                            <input type="checkbox" ng-model="parent.selected[_item[map.id]]" ng-if="!_item.IsStatic">
                        </td>

                        <!-- Other columns with ng-switcher -->
                        <td ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'select-link': field.type ==='select-link'}">
                            <span ng-switch="field.type">

                                <!-- Image -->
                                <span ng-switch-when="image">
                                    <img class="media-object" ng-src="{{parent.getImage(_item[field.attribute])}}"
                                         alt="{{item[map.name]}}" style="max-width: 75px; max-height: 75px;">
                                </span>

                                <!-- Currency -->
                                <span ng-switch-when="price">{{_item[field.attribute] | currency}}</span>
                                <span ng-switch-when="currency">{{_item[field.attribute] | currency}}</span>

                                <!-- Link -->
                                <span ng-switch-when="select-link">
                                    <div ng-click="parent.select(_item[map.id])">{{_item[field.attribute]}}</div>
                                </span>

                                <!-- String, text -->
                                <span ng-switch-default="">{{_item[field.attribute]}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <gui-paginator object="this"></gui-paginator>
        
        <div class="text-center">
            <div class="btn btn-primary" ng-click="parent.remove()" ng-if="buttons.delete">Delete</div>
            <div class="btn-black" ng-click="parent.create()" ng-if="buttons.new">New</div>
        </div>
    </form>
</section>