<section class="customers table-element" ng-init="init()">

    <form class="col-md-12">

        <div class="checkboxes head-checkboxes" ng-if="parent.fields.length > 1" >
            <div class="checkboxes-wrapper">
                <label class="myCheckbox visibility" ng-repeat="field in parent.fields" ng-hide="field.notDisable">
                    <input type="checkbox" ng-model="field.visible" ng-hide="field.notDisable">
                    <span>{{field.label || field.attribute}}</span>
                </label>
            </div>
        </div>
        <div class="clear"></div>

        <table>
            <!-- Labels -->
            <tr>
                <th ng-if="buttons.checkbox">
                    <div class="checkboxes">
                        <label class="myCheckbox">
                            <input type="checkbox" id="selectAll" ng-click="selectAll()">
                            <span></span>
                        </label>
                    </div>
                </th>
                <th ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'th-sort': field.label}" ng-click="field.label ? setSort(field.attribute) : ''">
                    {{field.label}}
                    <span ng-class="getSortClass(field.attribute)"></span>
                </th>
            </tr>
            <!-- Filters -->
            <tr ng-hide="filters.length <= 1 && !filters[0].visible">
                <th ng-if="buttons.checkbox">&nbsp;</th>
                <th ng-repeat="filter in filters" ng-switch="filter.type" ng-show="parent.fields[$index].visible">
                    <div ng-switch-when="text">
                        <gui-filter-text editor-scope="filter.attributes" item="filter" object="this"></gui-filter-text>
                    </div>

                    <div ng-switch-when="range">
                        <gui-filter-range editor-scope="filter.attributes" item="filter" object="this"></gui-filter-range>
                    </div>

                    <div ng-switch-when="select">
                        <gui-filter-select editor-scope="filter.attributes" item="filter" object="this"></gui-filter-select>
                    </div>
                    <div ng-switch-default="">
                        &nbsp;
                    </div>
                </th>
            </tr>
            <!-- for table design-->
            <tr></tr>

            <tr ng-repeat="_item in items">

                <td ng-if="buttons.checkbox">
                    <div class="checkboxes">
                        <label class="myCheckbox" ng-if="!_item.IsStatic">
                            <input type="checkbox" ng-model="parent.selected[_item[map.id]]">
                            <span></span>
                        </label>
                    </div>
                </td>
                <th ng-repeat="field in parent.fields" ng-show="field.visible">
                    <span ng-switch="field.type">

                        <!-- Image -->
                        <span ng-switch-when="image">
                            <img class="media-object" ng-src="{{parent.getImage(_item[field.attribute])}}"
                                 alt="{{item[map.name]}}" style="max-width: 75px; max-height: 75px;">
                        </span>

                        <!-- Currency -->
                        <span ng-switch-when="price">{{_item[field.attribute] | currency}}</span>
                        <span ng-switch-when="currency">{{_item[field.attribute] | currency}}</span>

                        <!-- Link -->
                        <span ng-switch-when="select-link">
                            <a href="" ng-click="parent.select(_item[map.id])">{{_item[field.attribute]}}</a>
                        </span>

                        <!-- String, text -->
                        <span ng-switch-default="">{{_item[field.attribute]}}</span>


                    </span>
                </th>

            </tr>
            <!-- for table design-->
            <tr></tr>
        </table>
        <!-- Pagination -->
        <div class="pagination-block" ng-if="paginator.countPages > 1">
            <ul class="pagination">
                <li class="{{getClass('prev')}}"><a href="" target="_self" ng-click="setPage('prev')">&laquo;</a></li>
                <li class="{{getClass(page)}}" ng-repeat="page in getPages()"><a href="" target="_self" ng-click="setPage(page)">{{page}}</a></li>
                <li class="{{getClass('next')}}"><a href="" target="_self" ng-click="setPage('next')">&raquo;</a></li>
                <!--<li><a href="#{{getURI('all')}}">ALL</a></li>-->
            </ul>
        </div>
        <div class="btn-black" ng-click="parent.remove()" ng-if="buttons.delete">Delete</div>
        <div class="btn-black" ng-click="parent.create()" ng-if="buttons.new">New</div>
    </form>
</section>

<script>
    jQuery("#selectAll").click(function () {
        if (jQuery("#selectAll").is(':checked')) {
            jQuery(".myCheckbox").find("input").attr("checked", true);
        } else {
            jQuery(".myCheckbox").find("input").attr("checked", false);
        }
    })
</script>
<style>
    
    
    

    
    .table-element .myCheckbox span {
        width: auto;
        padding-left: 30px;
        text-align: left;
    }
    
</style>