<section class="customers table-element" ng-init="init()">

    <form class="col-md-12">

        <div class="checkboxes head-checkboxes sorts" ng-if="parent.fields.length > 1" >
            <div class="checkboxes-wrapper">
                <label class="myCheckbox visibility" ng-repeat="field in parent.fields" ng-hide="field.notDisable">
                    <input type="checkbox" ng-model="field.visible" ng-hide="field.notDisable">
                    <span>{{field.label || field.attribute}}</span>
                </label>
            </div>
        </div>
        <div class="filters" ng-if="parent.fields.length > 1" ></div>
        <div class="clear"></div>

        <!-- Pagination -->
        <gui-paginator object="this"></gui-paginator>

        <table>
            <!-- Labels -->
            <tr>
                <th>
                    <div class="checkboxes">
                        <label class="myCheckbox">
                            <input type="checkbox" id="selectAll" ng-click="selectAll()">
                            <span></span>
                        </label>
                    </div>
                </th>
                <th ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'th-sort': field.label}" ng-click="field.label ? setSort(field.attribute) : ''">
                    {{field.label}}
                    <span ng-class="getSortClass(field.attribute)"></span>
                </th>
            </tr>
            <!-- Filters -->
            <tr ng-hide="filters.length <= 1 && !filters[0].visible">
                <th>&nbsp;</th>
                <th ng-repeat="filter in filters" ng-switch="filter.type" ng-show="parent.fields[$index].visible">
                    <div ng-switch-when="text">
                        <gui-filter-text editor-scope="filter.attributes" item="filter" object="this"></gui-filter-text>
                    </div>

                    <div ng-switch-when="range">
                        <gui-filter-range editor-scope="filter.attributes" item="filter" object="this"></gui-filter-range>
                    </div>

                    <div ng-switch-when="select">
                        <gui-filter-select editor-scope="filter.attributes" item="filter" object="this"></gui-filter-select>
                    </div>
                    <div ng-switch-default="">
                        &nbsp;
                    </div>
                </th>
            </tr>
            <!-- for table design-->
            <tr></tr>
            <tr ng-repeat="_item in items">

                <td>
                    <div class="checkboxes">
                        <label class="myCheckbox myCheckboxRow" ng-if="!_item.IsStatic">
                            <input type="checkbox" ng-model="parent.idsSelectedRows[_item[map.id]]">
                            <span></span>
                        </label>
                    </div>
                </td>
                <th ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'image-row': field.type ==='image'}" class="th2">
                    <span ng-switch="field.type">

                        <!-- Image -->
                        <span ng-switch-when="image">
                            <img class="media-object" ng-src="{{parent.getImage(_item[field.attribute])}}"
                                 alt="{{item[map.name]}}" style="max-width: 75px; max-height: 75px;">
                        </span>

                        <!-- Currency -->
                        <span ng-switch-when="price">{{_item[field.attribute] | currency}}</span>
                        <span ng-switch-when="currency">{{_item[field.attribute] | currency}}</span>

                        <!-- Link -->
                        <span ng-switch-when="select-link" class="select-link">
                            <a href="" ng-click="parent.select(_item[map.id])">{{_item[field.attribute]}}</a>
                        </span>

                        <!-- String, text -->
                        <span ng-switch-default="">{{_item[field.attribute]}}</span>

                    </span>
                </th>

            </tr>
            <!-- for table design-->
            <tr></tr>
        </table>
        <!-- Pagination -->
        <gui-paginator object="this"></gui-paginator>
    </form>
    <div class="clear"></div>
</section>
<div class="btn-black" ng-click="parent.remove()" ng-if="buttons.delete">Delete</div>
<div class="btn-black" ng-click="parent.create()" ng-if="buttons.new">New</div>
<div class="clear"></div>

<script>
//    jQuery("#selectAll").click(function () {
//        if (jQuery("#selectAll").is(':checked')) {
//            jQuery(this).parents("table").find(".myCheckbox > input").attr("checked", true);
//        } else {
//            jQuery(this).parents("table").find(".myCheckbox > input").attr("checked", false);
//        }
//    })
</script>
<style>
    .customers table th {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    div.pagination-block{
        text-align: center;
    }
    .checkboxes{
        text-align: right;
        margin-top: 20px;
    }

    .visibility{
        padding-left: 25px;
    }
    .table-element .myCheckbox span {
        width: 130px;
        padding-left: 30px;
        text-align: left;
    }
    th:first{
        width: 20px !important;
    }
    .customers table td .fa, .customers table th .fa{
        font-family: FontAwesome !important;
        width: 25% !important;
    }
    .th-sort{
        cursor: pointer;
    }
</style>