<div class="page-header">
    <div class="pull-right">
        <div class="btn-group"
            ng-class="{open: timeframe.isOpen}">
            <a ng-click="timeframe.toggle()"
                class="btn btn-default dropdown-toggle">
                Timeframe: {{timeframe.frame}} <i class="caret"></i>
            </a>
            
            <ul class="dropdown-menu dropdown-menu-right">
                <li ng-repeat="opt in timeframe.options">
                    <a ng-click="timeframe.set(opt)">
                        {{opt}}
                    </a>
               </li>
            </ul>
        </div>
    </div>
    
    <h1>
        <span class="fa fa-area-chart"></span>
        Reporting / Product
    </h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Sku</th>
            <th>Units Sold</th>
            <th>Gross Sales</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in report.aggregate_items">
            <td>{{product.name}}</td>
            <td>{{product.sku}}</td>
            <td>{{product.units_sold}}</td>
            <td>{{product.gross_sales | currency}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>
                Totals
                </th>
            <th>
            </th>
            <th>
                {{report.total_items}} items in <br> 
                {{report.total_orders}} orders
            </th>
            <th>
                {{report.total_sales | currency}}
            </th>
        </tr>
    </tfoot>
</table>