/* Header Section Variables */
$globalHeaderBack:                   #000000;
$visitorSetingBack:                 #242424;
$mainLinksColor:                     #ffffff;

/* LeftContainer Section Variables */
$tabLinkColor:                       #ffffff;
$browseControllerBack:               #00a3f5;
$browseBody:                         #95d2ff;
$LeftVisitorListBack:               #ffffff;
$LeftVisitorListText:               #242424;
$LeftVisitorTileBack:               #ffffff;
$LeftVisitorTileBackHover:          #19b2ff;
$LeftVisitorTileBackHoverText:      #ffffff;

/* RightContainer Section Variable */
$VisitorControlBarBack:             #157ac1;
$VisitorControlLink:                #ffffff;
$VisitorControlBarActive:           #136096;
$VisitorProfileImageBack:           #00a3f5;
$VisitorProfileMainInfoWrapperBack: #19b2ff;
$VisitorProfileMainInfoSpanColor:   #ffffff;
$VisitorProfileMainInfoLabelColor:  #ffffff;
$VisitorProfileMainInfoInputBorder: #1f292f;
$VisitorSecondaryInfoBack:          #eeeeee;
$VisitorSecondaryInfoFontColor:     #000000;
$VisitorSecondaryInfoLabelColor:    #000000;
$VisitorSecondaryInfoInputBorder:   #000000;

/* Footer Section Variable */
$MainFooterBack:                     #000000;


/* ProductRightTopContainer Section Varible */

$ProductSecondaryImagesHoverBack:   #95d2ff;
$ProductTopActionsBack:             #00a3f5;

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor));
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor);
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor);
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor);
  background-image:      -o-linear-gradient(top, $fromColor, $toColor);
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorStr='#{$fromColor}', endColorStr='#{$toColor}');
  }
@mixin css-arrow($arrow-position, $arrow-color, $arrow-size) {
  &:after {
    position: absolute;
    border: solid transparent;
    content: " ";
    top: auto;
    left: auto;
    height: 0;
    width: 0;
    margin: 0;
    border-color: transparent;
    border-width: $arrow-size;
    pointer-events: none;
  }
  @if $arrow-position == "top" {
    &:after {
      bottom: 100%;
      border-bottom-color: $arrow-color;
      margin-left: (-$arrow-size);
      left: 50%;
    }
  }
  @if $arrow-position == "right" {
    &:after {
      left: 100%;
      border-left-color: $arrow-color;
      margin-top: (-$arrow-size);
      top: 50%;
    }
  }
  @if $arrow-position == "bottom" {
    &:after {
      top: 100%;
      border-top-color: $arrow-color;
      margin-left: (-$arrow-size);
      left: 50%;
    }
  }
  @if $arrow-position == "left" {
    &:after {
      right: 100%;
      border-right-color: $arrow-color;
      margin-top: (-$arrow-size);
      top: 50%;
    }
  }
}