- {{getParentName()}}
<button class="btn btn-primary" ng-click="show(attribute.Attribute)" style="padding: 0px 10px;">Select</button>
<span class="fa fa-times" ng-click="clear(attribute.Attribute)" ng-if="getParentName()" style="padding: 0px 10px; cursor: pointer;"></span>
<div class="modal fade" id="{{attribute.Attribute}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                Categories
                <button class="btn btn-primary pull-right" ng-click="hide(attribute.Attribute)">Close</button>
            </div>

            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <gui-table-manager-popup items="items" object="this" buttons="{'new':false,'delete':false,'checkbox': false}"></gui-table-manager-popup>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>