<!-- Sidebar view -->
<div class="navbar navbar-default navbar-static-top visible-xs visible-sm">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand"
                href="/">
                <img src="/images/logo.png" />
                <span>Ottemo</span>
            </a>
        </div>

        <ul class="nav navbar-nav pull-right">
            <li>
                <a ng-click="isMenuActive = !isMenuActive"
                    class="nav-menu__expand">
                    <i class="fa fa-bars"></i> Menu
                </a>
            </li>
        </ul>
    </div>
</div>

<nav id="offcanvas"
    class="nav-menu"
    ng-class="{'nav-menu--active': isMenuActive}"
    ng-controller="dashboardMenuController">
    <div class="sidebar-wrapper">
        <a href="/"
            class="navbar-branding">
            <img src="/images/logo.png" />
            <span>Ottemo</span>
        </a>

        <ul>
            <!-- Main menu -->
            <li class="menu-item"
                ng-repeat="item in items"
                ng-class="{'open': item.isOpen && item.children}">

                <a ng-class="{'active': item.isActive }"
                    ng-href="{{item.link}}"
                    ng-click="closeAll(); item.isOpen = true;">

                    <i class="fa fa-fw {{item.icon}}"
                        ng-if="item.icon"></i>

                    <span>{{item.title}}</span>

                    <i class="fa fa-angle-down children-icon"
                        ng-if="item.children"></i>
                </a>

                <!-- Sub menu -->
                <ul class="sub-menu"
                    ng-if="item.children">
                    <li class="menu-item"
                        ng-repeat="item in item.children">
                        <a ng-class="{'active' : item.isActive}"
                            ng-href="{{item.link}}">

                            <i class="fa fa-fw {{item.icon}}"
                                ng-if="item.icon"></i>

                            <span>{{item.title}}</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="navbar-user">
                <a href="/logout">
                    <i class="fa fa-fw fa-sign-out"></i> Log Out ({{user.getFullName() || 'root'}})
                </a>
            </li>
        </ul>
    </div>
</nav>

