
    <div class="VisitorControlBar" id="editControlBar">
    <ul>
        <li><span>visitor type:</span></li>
        <li class="use-type-select">
            <a href="#" title="">{{visitor.role}}<span></span></a>
        </li>
    </ul>
</div>

<div class="VisitorSecondaryInfo">
    <accordion close-others="oneAtATime">
        <accordion-group heading="Picture" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
            <div class="VisitorProfileMainImage">
                <img ng-src="{{visitor.image}}" width="150" height="150" alt="" />
            </div>
            <div class="VisitorProfileButtons">
                <button id="visitor-new-image">Add New</button>
                <button id="visitor-remove-image">Remove</button>
            </div>
            <div class="clear"></div>
       </accordion-group>
    <accordion-group heading="{{section.sectionTitle}}"  ng-repeat="section in formFields.sections">
        <div class="{{section.sectionClass}}" ng-repeat="formField in section.sectionFields" ng-class="{'second': $index == 1}">
            <div ng-switch="formField.type">
                <label for="{{formField.name}}">{{formField.label}}</label>
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="text" name="{{formField.name}}" ng-switch-when="text" ng-model="visitor[formField.name]" />
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="email" name="{{formField.name}}" ng-switch-when="email" ng-model="visitor[formField.name]" />
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="password" name="{{formField.name}}" ng-switch-when="password" ng-model="visitor[formField.name]" />
            </div>
        </div>
    </accordion-group>
    </accordion>
    <div class="clear"></div>
    <div class="VisitorAbsoluteButtons">
        <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
        <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("click", ".accordion-item", function () {
            alert("hi");
        });
        $(".accordion-item").click (function(){
            alert("hi");
        });
    });

</script>