<div class="VisitorControlBar" id="editControlBar">
    <ul>
        <li><span>visitor type:</span></li>
        <li class="use-type-select">
            <a href="#" title="">{{visitor.role}}<span></span></a>
        </li>
    </ul>
</div>
<div class="VisitorProfileImage" id="editImage">
    <img ng-src="{{visitor.image}}" width="150" height="150" alt="" />
</div>
<div class="VisitorProfileMainInfoWrapper">
</div>
<div class="VisitorSecondaryInfo" id="editBody">
    <div ng-repeat="section in formFields.sections">
        <h3>{{section.sectionTitle}}</h3>
        <div class="{{section.sectionClass}}" ng-repeat="formField in section.sectionFields" ng-class="{'second': $index == 1}">
            <div ng-switch="formField.type">
                <label for="{{formField.name}}">{{formField.label}}</label>
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="text" name="{{formField.name}}" ng-switch-when="text" ng-model="visitor[formField.name]" />
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="email" name="{{formField.name}}" ng-switch-when="email" ng-model="visitor[formField.name]" />
                <input class="{{formField.class}}" ng-require="formField.required" id="{{formField.name}}" type="password" name="{{formField.name}}" ng-switch-when="password" ng-model="visitor[formField.name]" />
            </div>
        </div>
    </div>
    <select-state></select-state>
    <div class="clear"></div>
    <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
    <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
</div>
