<div class="ProductControlBar" id="editControlBar">
    <p><input type="checkbox" ng-model="product.is_visible" name="visible" id="visible" /><label for="visible">Visible</label></p>
</div>
<div class="ProductAccordionInner">

<accordion close-others="oneAtATime">
    <accordion-group heading="Picture" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
    <div class="ProductMainTopContainer">
    <div class="ProductMainImage" id="editImage">
        <img ng-src="{{product.image}}" alt="" height="91px" width="auto"/>
    </div>
        <div class="ProductSecondaryImages">
            <ul>
                <li ng-repeat="image in product.media_gallery track by $index">
                    <a href="#" title=""><img ng-src="{{image}}" alt=""></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="ProductProfileButtons">
            <button id="visitor-new-image">Add New</button>
            <button id="visitor-remove-image">Remove</button>
            <button id="visitor-default-image">Default</button>
        </div>
    <div class="clear"></div>
</div>
  </accordion-group>
    <accordion-group heading="Name">
<div class="ProductSecondaryInfo" id="editBody">
    <ul>
        <li>
            <label>product name</label>
            <input type="text" name="name" ng-model="product.name" required/>
        </li>
        <li>
            <label>product ID</label>
            <input type="text" name="id" ng-model="product.id" ng-disabled="true"/>
        </li>
    </ul>
    <ul>
        <li>
            <label>SKU</label>
            <input type="text" name="sku" ng-model="product.sku" required />
        </li>
        <li>
            <label>MPN</label>
            <input type="text" name="mpn" ng-model="product.mpn"/>
        </li>
    </ul>
 </div>
    </accordion-group>
        <accordion-group heading="Description & Metadata">

    <div class="ProductSecondaryInfo">
    <div class="clear"></div>
    <label>tags</label>
    <input type="text" ng-model="product.tags" ng-list/>
    <label>categories</label>
    <input type="text" name="categories" ng-model="product.categories" ng-list/>
    <div class="ProductSecondaryInfoSep"></div>
    <label>short description</label>
    <input type="text" name="short_description" ng-model="product.short_description"/>
    <label>long description</label>
    <textarea rows="0" cols="0" name="description" ng-model="product.description"></textarea>
    <div class="clear"></div>

</div>
    </accordion-group>
</accordion>
    </div>
<div class="ProductAbsoluteButtons">
    <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Cancel</button>
    <button ng-click="save()" ng-disabled="isSaveDisabled()">Save</button>
</div>
