<div class="top top-custom order-details-head">
    <i class="fa fa-list-alt"></i>
    <h6 ng-if="order._id"> Order Details</h6>
    <h6 ng-if="!order._id"> New order </h6>
</div>

<div class="panel-body">

    <div class="page-title"></div>

    <div>

        <div class="account-right order-detail">
            <h6>Order # is: <strong>{{order.increment_id}}</strong></h6>
            <h6>Date: <span>{{getDate();}}</span></h6>
            <div class="hr"></div>
            <div class="od-blocks">
                <div class="od-block">
                    <h6>Billing & Shipping</h6>
                </div>
                <div class="od-block">
                    <h6>Bill to:</h6>
                    <p>{{order.billing_address.company}}
                    <p>{{order.billing_address.last_name}} {{order.billing_address.first_name}}</p>
                    <p>{{order.billing_address.address_line1}} {{order.billing_address.address_line2}}, {{order.billing_address.city}},</p>
                    <p>{{order.billing_address.zip_code}}, {{order.billing_address.state}}, {{order.billing_address.country}}</p>
                    <p>T: {{order.billing_address.phone}}</p>
                </div>

                <div class="od-block">
                    <h6>Ship to:</h6>
                    <p>{{order.shipping_address.company}}
                    <p>{{order.shipping_address.last_name}} {{order.shipping_address.first_name}}</p>
                    <p>{{order.shipping_address.address_line1}} {{order.shipping_address.address_line2}}, {{order.shipping_address.city}},</p>
                    <p>{{order.shipping_address.zip_code}}, {{order.shipping_address.state}}, {{order.shipping_address.country}}</p>
                    <p>T: {{order.shipping_address.phone}}</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="hr"></div>
            <table  class="od-product">
                <tr>
                    <th><h6>Product Name</h6></th>
                    <th>Qty</th>
                    <th>Total Price</th>
                </tr>
                <tr ng-repeat="product in order.items">
                    <td>{{product.Name}}</td>
                    <td>{{product.Qty}}</td>
                    <td>{{product.Price | currency}}</td>
                </tr>
            </table>
            <hr>
            <div class="od-total">
                <span>{{order.subtotal | currency}}</span>
                <span>Subtotal:</span>
                <div class="clear"></div>
                <span>{{order.shipping_amount | currency}}</span>
                <span>Shipping:</span>
                <div class="clear"></div>
                <span>{{order.tax_amount | currency}}</span>
                <span>Tax:</span>
                <div class="clear"></div>
            </div>
            <br>
            <div class="hr"></div>
            <div class="order-total">
                <h6>{{order.grand_total | currency}}</h6>
                <h6>Order Total:</h6>
                <div class="clear"></div>
            </div>
            <div class="btn-group pull-right">
                <a class="btn-black" href="#/orders/">Back</a>
                <a class="btn-black" href="#/orders/">Save</a>
            </div>
            
        </div>
    </div>


</div>