<!-- Page title -->
<h2 class="title label-info" ng-if="order._id">
    <span class="fa fa-list-alt"></span>
    Order <strong>№{{order.increment_id}}</strong>
</h2>
<h2 class="title label-info" ng-if="!order._id">
    <span class="fa fa-list-alt"></span>
    New order
</h2>

<br>
<h3 class="text-center">Date: <strong>{{getDate();}}</strong></h3>
<hr>

<!-- bill to table -->
<div class="col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <h3 class="text-center">
        Bill to:
    </h3>

    <!-- bill to info -->
    <table class="table table-bordered order-details">
        <tr class="text-left">
            <td><strong>Company:</strong></td>
            <td>{{order.billing_address.company}}</td>
        </tr>
        <tr class="text-left">
            <td><strong>Name:</strong></td>
            <td>{{order.billing_address.last_name}} {{order.billing_address.first_name}}</td>
        </tr>
        <tr class="text-left">
            <td><strong>Address:</strong></td>
            <td>{{order.billing_address.address_line1}} {{order.billing_address.address_line2}}, {{order.billing_address.city}}</td>
        </tr>
        <tr class="text-left">
            <td><strong>Zip,state,country:</strong></td>
            <td>{{order.billing_address.zip_code}}, {{order.billing_address.state}}, {{order.billing_address.country}}</td>
        </tr>
        <tr class="text-left">
            <td><strong>Phone:</strong></td>
            <td>{{order.billing_address.phone}}</td>
        </tr>
    </table>
</div>

<!-- ship to table -->
<div class="col-sm-5 col-xs-12">
    <h3 class="text-center">
        Ship to:
    </h3>

    <!-- ship to info -->
    <table class="table table-bordered order-details">
        <tr>
            <td><strong>Company:</strong></td>
            <td>{{order.shipping_address.company}}</td>
        </tr>
        <tr>
            <td><strong>Name:</strong></td>
            <td>{{order.shipping_address.last_name}} {{order.shipping_address.first_name}}</td>
        </tr>
        <tr>
            <td><strong>Address:</strong></td>
            <td>{{order.shipping_address.address_line1}} {{order.shipping_address.address_line2}}, {{order.shipping_address.city}},</td>
        </tr>
        <tr>
            <td><strong>Zip,state,country:</strong></td>
            <td>{{order.shipping_address.zip_code}}, {{order.shipping_address.state}}, {{order.shipping_address.country}}</td>
        </tr>
        <tr>
            <td><strong>Phone:</strong></td>
            <td>{{order.shipping_address.phone}}</td>
        </tr>
    </table>
</div>

<div class="clearfix"></div>
    
<!-- products in order -->
<div class="col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
    <table class="table table-bordered text-left order-details">
        <tr ng-repeat="product in order.items">

            <!-- product name -->
            <td class="text-left">{{product.Name}}</td>

            <!-- product quantity -->
            <td>{{product.Qty}}</td>

            <!-- product price -->
            <td>{{product.Price | currency}}</td>
        </tr>
    </table>
</div>

<!-- total table -->
<div class="col-sm-5 col-xs-12">
    <table class="table table-bordered text-left order-details">
        <tr>
            <td class="text-left"><strong>Subtotal:</strong></td>
            <td>{{order.subtotal | currency}}</td>
        </tr>
        <tr>
            <td class="text-left"><strong>Tax:</strong></td>
            <td>{{order.tax_amount | currency}}</td>
        </tr>
        <tr>
            <td class="text-left"><strong>Order Total:</strong></td>
            <td>{{order.grand_total | currency}}</td>
        </tr>
    </table>
</div>

<div class="clearfix"></div>
<br>    
<div class="text-center">
    <a class="btn btn-primary" href="#/orders/">Back to orders</a>
</div>
<br>            