.route__ctrl--giftcardslist {
    .page-header {
        .list-group {
            margin: -4px 0 0;
            min-width: 150px;
            .list-group-item {
                padding: 13px 24px;
            }
        }
    }
}

