<!-- Page title -->
<h2 class="text-center" ng-if="address._id">Address: {{getFullAddress()}}</h2>
<h2 class="text-center" ng-if="!address._id"> New address </h2>

<div class="col-xs-12">
	<!-- Error message -->
    <ot-message-manager item="message"></ot-message-manager>

    <!-- Tabs editor -->
    <ot-attributes-editor-form-tabs attributes-list="attributes" object="this" item="address"></ot-attributes-editor-form-tabs>
</div>
<br><br>
<div class="text-center">
	<div class="btn btn-primary" ng-click="backToVisitor()">Back to visitor's page</div>
</div>
<br>