<!-- Menu title -->
<a class="menu-item" href="{{item.link === null ? '' : item.link}}" target="{{item.link != null ? '' : '_self'}}" ng-class="(item.items.length &gt 0) ? dropdown-toggle : ''" ng-switch="it.getType(item.icon)">
    <i class="{{item.icon}}"></i>&nbsp;
    <span>{{item.title}}</span>&nbsp;
    <span class="fa-chevron-down fa" ng-if="item.items.length &gt 0"></span>
</a>

<!-- Sub menu -->
<div class="sub-menu" ng-if="item.items.length &gt 0">
    <div class="menu-list" ng-repeat="item in item.items track by $index" ng-include="getTemplate('dashboard/header/offcanvasItem.html')"></div>
</div>