<!-- Menu title -->
<a
ng-href="{{item.link}}"
ng-class="{'dropdown-toggle' : item.items}">
	<i class="fa fa-fw {{item.icon}}" ng-if="item.icon"></i>
	<span>{{item.title}}</span>
	<i class="fa fa-angle-down children-icon" ng-if="item.items"></i>
</a>

<!-- Sub menu -->
<ul class="sub-menu" ng-if="item.items">
	<li class="menu-item" ng-repeat="item in item.items">
		<a class="menu-item"
		ng-href="{{item.link}}">
			<i class="fa fa-fw {{item.icon}}" ng-if="item.icon"></i>
			<span>{{item.title}}</span>
		</a>
	</li>
</ul>
