<!-- Sidebar -->
<ng-include src="getTemplate('dashboard/sidebar/view.html')"></ng-include>

<!-- Header view -->
<ng-include src="getTemplate('dashboard/header.html')"></ng-include>

<!-- Main content -->
<section ng-controller="seoEditController" class="container-fluid">
    <ng-view></ng-view>
</section><!-- main content end-->

<!-- Theme-switcher -->
<ng-include src="getTemplate('dashboard/themeSwitcher/view.html')"></ng-include>

<!-- Theme-switcher by code -->
<ng-include src="getTemplate('dashboard/themeSwitcher/view2.html')"></ng-include>

<!-- Scripts -->
<script src="themes/default/scripts/main.js"></script>

<!-- processing -->
<ng-include src="getTemplate('dashboard/processing/view.html')"></ng-include>