/**
 * @template .form-control.file>label>input[type=file multiple]+span.file-text{Select files...}
 */
.form-control.file {
    position: relative;
    padding: 0;

    label {
        display: block;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }

    input {
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    .file-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $padding-base-vertical $padding-base-horizontal;
    }
}

/**
 * @template ul.file-list
 */
.file-list {
    margin-top: 10px;
    padding-left: 26px;
}