html,
body {
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  padding-left: 230px;
}
#content {
  min-height: 100%;
}
#loader {
  margin-left: -230px;
  position: absolute;
  width: 100%;
}

.nav-menu {
  width: 230px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 20;
  background: $navbar-default-bg;
  transition: all 0.4s ease;

  &.active {
    left: 0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }


  .navbar-user {
    position: absolute;
    bottom: 0;
    height: 60px;
    width: 100%;

    .logout{
      display: block;
      color: #fff;
      border: none;
      background: 0 0;
      font-size: 25px;
      margin-top: 16px;
      float: right;
    }

    .avatar {
      border-radius: 50% !important;
      width: 50px;
      height: 50px;
      position: relative;
      top: 5px;
      margin-left: 10px;
      margin-bottom: 5px;
    }
  }

}

.nav-menu h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  margin-left: 15px;
  line-height: 1.8;
}
.nav-menu a {
  display: block;
  line-height: 1;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300 !important;
  color: $navbar-default-link-color;
  padding: 15px 0px 15px 15px;
  border-bottom: 1px #343438 solid;
  position: relative;
  transition: all 0.4s ease;

  &:hover {
    background: $navbar-default-link-hover-bg;
    color: $navbar-default-link-hover-color;
    transition: all 0.4s ease;
  }

  &.active {
    background: $navbar-default-link-active-bg;
    color: $navbar-default-link-active-color;
    transition: all 0.4s ease;
  }
  &.navbar-branding {
    height: 60px;
    line-height: 60px;
    padding: 1px 0 0 15px;
    font-size: 22px;
    color: #fff;

    img {
      width: 20px;
      margin-right: 10px;
      vertical-align: baseline;
    }
  }

  .fa {
    margin-right: 15px;
  }
  .children-icon {
    position: absolute;
    font-size: 14px;
    right: 0;
  }
}

.nav-menu .sub-menu {
  // hidden by default
  display: none;

  a {
    padding-left: 70px;
  }
}