<div class="page-header">
    <h1 ng-if="order._id">
        <span class="fa fa-list-alt"></span>
        Order №{{order.increment_id}}
    </h1>
    <h1 ng-if="!order._id">
        <span class="fa fa-list-alt"></span>
        New order
    </h1>
</div>


<!-- Error message -->
<gui-message-manager item="message"></gui-message-manager>

<ng-include src="'/themes/views/order/order-details.html'"></ng-include>

<label class="col-xs-12 col-sm-4 col-sm-offset-4">Change status
    <select class="form-control" name="status" id="status" ng-model="order.status"
    ng-init="order.status"
    ng-options="obj.value as obj.label for obj in statuses"></select>
</label>

<div class="clearfix"></div>

<h3>Notes</h3>
<ul ng-if="order.notes">
    <li ng-repeat="note in order.notes">{{ note }}</li>
</ul>
<textarea name="newNote" id="newNote" rows="5" class="form-control" ng-model="order.note"></textarea>

<br>
<div class="text-center">
    <a class="btn btn-default" href="/orders">Back to orders</a>
    <a class="btn btn-primary" ng-click="save()">Save</a>
</div>
<br>
