<div class="page-header">
    <h1>
        <span class="fa fa-list-alt"></span>
        Orders
    </h1>
</div>

<!-- Error message -->
<gui-message-manager item="message"></gui-message-manager>


<!-- export -->
<form class="pull-right"
    action="{{ actions.export }}"
    method="POST">

    <!-- the goal with this is to post to an endpoint without using ajax, so that we can receive a
    pdf download prompt back -->
    <!-- stash the list of order ids here, so that we can post to the foundation endpoint -->
    <input type="text"
        name="orders"
        ng-model="selectedIds"
        style="display: none;">

    <button type="submit"
        class="btn btn-default"
        ng-disabled="!selectedIds.length">
        Export
        <span style="text-transform:lowercase !important">.csv</span>
    </button>


    <!-- printing -->
    <div class="btn-group" ng-class="{open: actions.isOpen}">
        <a class="btn btn-default dropdown-toggle"
            ng-class="{disabled: !selectedIds.length}"
            ng-click="actions.isOpen = !actions.isOpen">
            Print <i class="caret"></i>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
            <li><a ng-href="{{ actions.printUrl() }}">Orders</a></li>
            <li><a ng-href="{{ actions.packingSlipUrl() }}">Packing Slip</a></li>
        </ul>
    </div>
</form>
<div class="clearfix"></div>

<!-- Table -->
<gui-table-manager items="orders"
    object="this"
    buttons="{'new':false,'delete':false}"></gui-table-manager>

