<div class="page-header">
	<h1>
		<span class="fa fa-list-alt"></span>
		Orders
	</h1>
</div>

<!-- Error message -->
<gui-message-manager item="message"></gui-message-manager>


<!-- export -->
<form class="pull-right" action="{{ export.action }}" method="POST">
	<button type="submit"
	class="btn btn-default"
	ng-disabled="!selectedIds.length">
		Export
		<span style="text-transform:lowercase !important">.iif</span>
	</button>
	<input type="text" name="orders" ng-model="selectedIds" style="display: none;">

	<!-- print -->
	<a class="btn btn-default"
	ng-class="{disabled: !selectedIds.length}"
	ng-href="{{ selectedIds.length ? printUrl() : '' }}">
		Print
	</a>
</form>
<div class="clearfix"></div>

<!-- Table -->
<gui-table-manager items="orders"
object="this"
buttons="{'new':false,'delete':false}"></gui-table-manager>
