<div ng-repeat="order in orders">
	<div class="page-header">
		<h1 ng-if="order._id">
			Order {{order.increment_id}}
			<!-- ({{order._id}}) -->
		</h1>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<h3>Billing Address</h3>

			<div>
				<div>{{order.billing_address.first_name}} {{order.billing_address.last_name}}</div>

				<div ng-if="order.billing_address.company">
					<th>Company:</th>
					<td>{{order.billing_address.company}}</td>
				</div>

				{{order.billing_address.address_line1}} <br>
				{{order.billing_address.address_line2}}
				<br ng-if="order.billing_address.address_line2">

				{{order.billing_address.city}} {{order.billing_address.state}}
				{{order.billing_address.zip_code}} {{order.billing_address.country}}
				<div>Ph: {{order.billing_address.phone}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<h3>Shipping Address</h3>

			<div>
				<div>{{order.shipping_address.first_name}} {{order.shipping_address.last_name}}</div>

				<div ng-if="order.shipping_address.company">
					<th>Company:</th>
					<td>{{order.shipping_address.company}}</td>
				</div>

				{{order.shipping_address.address_line1}} <br>
				{{order.shipping_address.address_line2}}
				<br ng-if="order.shipping_address.address_line2">

				{{order.shipping_address.city}} {{order.shipping_address.state}}
				{{order.shipping_address.zip_code}} {{order.shipping_address.country}}
				<div>Ph: {{order.shipping_address.phone}}</div>
				<div>Em: {{order.customer_email}}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<h3>Order Details</h3>
			<div>Date: {{order.created_at | date:"MM/dd/yyyy h:mma"}}</div>
			<div>Shipping Method: {{order.shipping_method}}</div>
			<div>Payment Method: {{order.payment_method}}</div>
		</div>
		<div class="col-sm-6">
			<h3>Shipping Notes</h3>
			<!-- TODO: pull in shipping notes here -->
			<p>None.</p>
		</div>
	</div>

	<h3>Order Items</h3>
	<table class="table table-bordered order-details">
		<thead>
			<tr>
				<th>Name</th>
				<th>SKU</th>
				<th>Options</th> <!-- dynamic options -->
				<th>Qty</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="product in order.items">
				<td>{{product.Name}}</td>
				<td>{{product.Sku}}</td>
				<td>
					<div ng-repeat="option in product.Options">
						{{ option.label }}: {{ option.value }}
					</div>
				</td>
				<td>{{product.Qty}}</td>
				<td>{{product.Price | currency}}</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2"></td>
				<td colspan="2">
					<div>Subtotal:</div>
					<div>Shipping:</div>
					<div>Tax:</div>
					<div ng-if="order.discount">Discounts:</div>
					<div>Order Total:</div>
				</td>
				<td class="text-right">
					<div>{{order.subtotal | currency}}</div>
					<div>{{order.shipping_amount | currency}}</div>
					<div>{{order.tax_amount | currency}}</div>
					<div ng-if="order.discount">({{order.discount | currency}})</div>
					<div>{{order.grand_total | currency}}</div>
				</td>
			</tr>
		</tbody>
	</table>

	<p style="page-break-after:always;"></p>
</div>