<button type="button" ng-click="show()">Edit</button>

<div class="modal fade" id="jsonEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                JSON
            </div>

            <div class="modal-body">
                <div class="panel panel-default">
                    <!-- List block -->
                    <div class="panel-body">
                        <form name="jsonForm">
                            <ul class="media-list">
                                <!-- Items of the list -->
                                <li class="media" ng-repeat="item in items  track by $index">
                                    <span class="input-wrap">
                                        <label for="">Option Name</label>
                                        <input type="text" ng-model="item.key" />
                                    </span>
                                    
                                    <span class="input-wrap">
                                        <label for="">Option Value</label>
                                        <input type="text" ng-model="item.value" />
                                    </span>
                                    
                                    <div class="btn btn-primary" ng-click="remove(item.key)">Delete</div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
                <button class="btn btn-primary save pull-right" ng-click="hide()">Save</button>
                <button class="btn btn-primary add pull-right" ng-click="addItem()">Add Option</button>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>