- {{getCountItems()}} items
<button class="btn btn-primary" ng-click="show(attribute.Attribute)" style="padding: 0px 10px;">Select</button>

<div class="modal fade" id="{{attribute.Attribute}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                Products
                <button class="btn btn-primary pull-right" ng-click="hide(attribute.Attribute)">Close</button>
                <span class="fa fa-expand fa-2x navbar-right" ng-hide="isExpand" ng-click="expand()" style="cursor: pointer"></span>
                <span class="fa fa-compress fa-2x navbar-right" ng-show="isExpand" ng-click="compress()" style="cursor: pointer"></span>
            </div>

            <div class="modal-body">
                <div class="panel panel-default">
                    <!-- Search block -->
                    <!--<div class="panel-heading">-->
                    <!--</div>-->

                    <!-- List block -->
                    <div class="panel-body">
                        <gui-table-manager-popup items="items" object="this" buttons="{'new':false,'delete':false}"></gui-table-manager-popup>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>

<style>
    .modal-header span{
        margin-right: 10px;
    }
    .modal-header button{
        bottom: 6px;
        position: relative;
     }
</style>