<div class="form-control" style="border:none">
    <strong ng-bind="countSelected"></strong> 
    <span>items selected</span>
    <button class="btn-primary btn btn-xs" ng-click="show(attribute.Attribute)">Select</button>
</div>

<div class="modal fade" id="{{attribute.Attribute}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title text-center">Products</h2>
                <div class="clearfix"></div>
            </div>

            <div class="modal-body">
                <!-- Table -->
                <gui-table-manager-popup items="items" object="this" buttons="{'new':false,'delete':false}"></gui-table-manager-popup>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="hide(attribute.Attribute)">Save</button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>