<div class="top top-custom">
    <i class="fa fa-tags"></i>
    <h6 ng-if="attribute.Attribute"> {{attribute.Label}}</h6>
    <h6 ng-if="!attribute.Attribute"> New Attribute </h6>
</div>

<div class="panel-body">
    <gui-message-manager item="message"></gui-message-manager>
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseGeneral"
               target="_self">
                General
            </a>
        </h4>
    </div>

    <div id="collapseGeneral" class="panel-collapse collapse in">
        <div class="panel-body">
            <div ng-switch="attribute.Editors">
                <input type="hidden" name="Model" value="product" required/>
                <input type="hidden" name="Collection" value="product" required/>

                <div>
                    <label for="inp_Attribute">Attribute</label>
                    <input type="text" class="form-control" name="Attribute" id="inp_Attribute"
                           ng-model="attribute.Attribute"/>
                </div>
                <div>
                    <label for="inp_Type">Type</label>
                    <select class="form-control" name="Type"
                            data-ng-model="attribute.Type" id="inp_Type"
                            data-ng-options="choice for choice in typesAttribute">
                    </select>
                </div>
                <div>
                    <label for="inp_Label">Label</label>
                    <input type="text" class="form-control" name="Label" id="inp_Label"
                           ng-model="attribute.Label"/>
                </div>
                <div>
                    <label for="inp_Group">Group</label>
                    <input type="text" class="form-control" name="Group" id="inp_Group"
                           ng-model="attribute.Group"/>
                </div>
                <div>
                    <label for="inp_Editors">Editors</label>
                    <select class="form-control" name="Editors"
                            ng-init="attribute.Editors = editorsList[0]"
                            ng-change="choiceEditor()" id="inp_Editors"
                            data-ng-model="attribute.Editors"
                            data-ng-options="choice for choice in editorsList">
                    </select>
                    <gui-json-editor data="attribute.Options" ng-if="isEditOptions"></gui-json-editor>
                </div>
                <div>
                    <label for="inp_Options">Options</label>
                    <input type="text" class="form-control" name="Options"
                           ng-readonly="readonlyEditors()" id="inp_Options"
                           ng-model="attribute.Options"/>
                </div>
                <div>
                    <label for="inp_Default">Default</label>
                    <input type="text" class="form-control" name="Default" id="inp_Default"
                           ng-model="attribute.Default"/>
                </div>
                <div>
                    <label for="inp_IsRequired">IsRequired</label>
                    <select class="form-control" name="IsRequired"
                            ng-init="attribute.IsRequired = true" id="inp_IsRequired"
                            data-ng-model="attribute.IsRequired"
                            data-ng-options="choice for choice in [true, false]">
                    </select>
                </div>

                <div>
                    <label for="inp_IsLayered">Layered</label>
                    <select class="form-control" name="IsLayered" id="inp_IsLayered"
                            ng-init="attribute.IsLayered = true"
                            ng-model="attribute.IsLayered"
                            ng-options="choice for choice in [true, false]">
                    </select>
                </div>

                <div>
                    <label for="inp_IsPublic">Public</label>
                    <select class="form-control" name="IsPublic" id="inp_IsPublic"
                            ng-init="attribute.IsPublic = attribute.IsPublic || false"
                            data-ng-model="attribute.IsPublic"
                            data-ng-options="choice for choice in [true, false]">
                    </select>
                </div>

                <div>
                    <label for="inp_IsRequired">Validators</label>
                    <input type="text" class="form-control" name="Default"
                           ng-model="attribute.Validators"/>
                </div>

            </div>
        </div>
    </div>
    <div class="btn-black" ng-click="save()">Save</div>
    <div class="btn-black" ng-click="back()">Back</div>
</div>