<label>
	{{attribute.Label}}
	<span class="asterisk" ng-show="attribute.IsRequired">*</span>
</label>

<!--<textarea type="text"-->
<!--class="form-control"-->
<!--style="resize:vertical;"-->
<!--rows="40"-->
<!--placeholder="{{attribute.Label}}"-->
<!--dynamic-name="attribute.Attribute"-->
<!--ng-required="attribute.IsRequired"-->
<!--ng-model="item[attribute.Attribute]">-->
<!--</textarea>-->

<div id="ng-app" class="ng-scope">
    <div text-angular ng-required="attribute.IsRequired" ng-model="item[attribute.Attribute]" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
    <br>
</div>



