<div class="table-responsive" ng-show="inventory.length">
    <table class="table table-hover table-v-middle">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="th in inventory[0]">{{th.code}}</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="r in inventory">
                <!-- TODO: this is just to get a permutation count -->
                <td>{{$index +1}}</td>
                <td ng-repeat="s in r">
                    {{s.selection}}
                </td>
                <td>
                    <!--
                    NOTE: r is technichally an array so this
                    is a little masked
                    -->
                    <input class="form-control input-sm"
                        type="number"
                        ng-model="r.qty"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="!inventory.length">
    <!-- TODO: WIRE UP TO BASE QTY -->
    options don't control inventory
</div>

<pre>// options
{{options | json}}
</pre>
<pre>// inventory
{{inventory | json}}
</pre>