<div class="table-responsive" ng-show="inventory.length">
    <table class="table table-hover table-v-middle">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="(th, s) in inventory[0].options">{{th}}</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in inventory">
                <!-- TODO: this is just to get a permutation count -->
                <td>{{$index +1}}</td>
                <td ng-repeat="(code, selection) in row.options">
                    <!-- we could show this if the total number of rows is something hideous -->
                    <b>{{code}}:</b>
                    {{selection}}
                </td>
                <td>
                    <input class="form-control input-sm"
                        type="number"
                        ng-model="row.qty"/>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div ng-show="!inventory.length">
    <!-- TODO: WIRE UP TO BASE QTY -->
    options don't control inventory
</div>

<pre>// options
{{options | json}}
</pre>
<pre>// inventory
{{inventory | json}}
</pre>