<div class="page-header">
    <a class="btn btn-primary pull-right" ng-click="save()">Save</a>
    <!-- <a href="/orders/print?ids={{order._id}}"
    class="btn btn-default pull-right"
    ng-if="order._id">
        Print
    </a> -->

    <h1 ng-if="order._id">
        <span class="fa fa-list-alt"></span>
        <a href="/orders">Orders</a> / {{order._id}}
    </h1>
    <h1 ng-if="!order._id">
        <span class="fa fa-list-alt"></span>
        <a href="/orders">Orders</a> / New
    </h1>
</div>


<!-- Error message -->
<gui-message-manager item="message"></gui-message-manager>


<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">Order Items</div>
            <table class="table table-bordered order-details">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>SKU</th>
                        <th>Options</th> <!-- dynamic options -->
                        <th>Price</th>
                        <th>Quantity</th>
                        <th class="text-right">Totals</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in order.items">
                        <td>{{product.Name}}</td>
                        <td>{{product.Sku}}</td>
                        <td>
                            <div ng-repeat="option in product.Options">
                                {{ option.label }}: {{ option.value }}
                            </div>
                        </td>
                        <td>{{product.Price | currency}}</td>
                        <td>{{product.Qty}}</td>
                        <td class="text-right">{{product.Qty * product.Price | currency}}</td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">
                            <div>Subtotal:</div>
                            <div>Shipping:</div>
                            <div>Tax:</div>
                            <div ng-if="order.discount">Discounts:</div>
                            <div>Order Total:</div>
                        </td>
                        <td class="text-right">
                            <div>{{order.subtotal | currency}}</div>
                            <div>{{order.shipping_amount | currency}}</div>
                            <div>{{order.tax_amount | currency}}</div>
                            <div ng-if="order.discount">({{order.discount | currency}})</div>
                            <div>{{order.grand_total | currency}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Order Notes</div>
            <div class="panel-body">
                <ul ng-if="order.notes">
                    <li ng-repeat="note in order.notes">{{ note }}</li>
                </ul>
                <textarea name="newNote" id="newNote" rows="5" class="form-control" ng-model="order.note"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Shipping Address</h4>
                <div>
                    <a ng-if="order.visitor_id" href="/visitor/{{order.visitor_id}}">
                        {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}
                    </a>
                    <span ng-if="!order.visitor_id">
                        {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}
                    </span>
                </div>

                <div ng-if="order.shipping_address.company">
                    {{order.shipping_address.company}}
                </div>

                {{order.shipping_address.address_line1}} <br>
                {{order.shipping_address.address_line2}}
                <br ng-if="order.shipping_address.address_line2">

                {{order.shipping_address.city}}, {{order.shipping_address.state}}
                {{order.shipping_address.zip_code}} {{order.shipping_address.country}}
                <div>Phone: {{order.shipping_address.phone}}</div>
                <div>Email: {{order.customer_email}}</div>
            </div>

            <!-- <div class="panel-heading">Billing Address</div> -->
            <div class="panel-body">
                <h4>Billing Address</h4>
                <div>{{order.billing_address.first_name}} {{order.billing_address.last_name}}</div>

                <div ng-if="order.billing_address.company">
                    {{order.billing_address.company}}
                </div>

                {{order.billing_address.address_line1}} <br>
                {{order.billing_address.address_line2}}
                <br ng-if="order.billing_address.address_line2">

                {{order.billing_address.city}}, {{order.billing_address.state}}
                {{order.billing_address.zip_code}} {{order.billing_address.country}}
                <div>Phone: {{order.billing_address.phone}}</div>
            </div>

            <div class="panel-body">
                <h4>Order Details</h4>
                <div><strong>ID:</strong> {{order._id}}</div>

                <div title="{{order.shipping_method}}">
                    <strong>Shipping Method:</strong><br /> {{order.shipping_info.shipping_method_name}}
                </div>
                <div>
                    <strong>Shipping Notes:</strong> {{order.shipping_info.notes || 'n/a'}}
                </div>
                <div><strong>Payment Method:</strong></div>
                <ul>
                    <li title="{{order.payment_method}}">{{order.payment_info.payment_method_name}}</li>
                    <li ng-if="order.payment_info.creditCardType">
                        {{order.payment_info.creditCardType}} xxx-{{order.payment_info.creditCardNumbers}}
                    </li>
                    <li ng-if="order.payment_info.transactionID">
                        Transaction ID: {{order.payment_info.transactionID || 'n/a'}}
                    </li>
                </ul>

                <div><strong>Order Date:</strong> {{order.created_at | otStoreDate}}</div>
            </div>
            <div class="panel-body">
                <div class="">
                    <label class="">Change status</label>

                    <select class="form-control"
                        name="status"
                        id="status"
                        ng-model="order.status">
                        <option
                            ng-repeat="option in statuses"
                            ng-disabled="option.isDisabled"
                            value="{{option.value}}">
                            {{ option.label }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>



