<div class="page-header">

    <!-- Actions: export, print -->
    <form class="pull-right"
        action="{{ actions.export }}"
        method="POST">

        <!-- the goal with this is to post to an endpoint without using ajax, so that we can receive a
        pdf download prompt back -->
        <!-- stash the list of order ids here, so that we can post to the foundation endpoint -->
        <input type="text"
            name="orders"
            ng-model="selectedIds"
            style="display: none;">

        <button type="submit"
            class="btn btn-default"
            ng-disabled="!selectedIds.length">
            Export
            <span style="text-transform:lowercase !important">.csv</span>
        </button>


        <!-- printing -->
        <div class="btn-group" ng-class="{open: actions.isOpen}">
            <a class="btn btn-default dropdown-toggle"
                ng-class="{disabled: !selectedIds.length}"
                ng-click="actions.isOpen = !actions.isOpen">
                Print <i class="caret"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li><a ng-href="{{ actions.printUrl() }}">Orders</a></li>
                <li><a ng-href="{{ actions.packingSlipUrl() }}">Packing Slip</a></li>
            </ul>
        </div>
    </form>

    <h1>
        <span class="fa fa-list-alt"></span>
        Orders
    </h1>
</div>

<!-- Error message -->
<gui-message-manager item="message"></gui-message-manager>

<ul class="nav nav-tabs">
    <li ng-class="{active: tabs.isActive('pending,new')}">
        <a ng-click="tabs.setStatus('pending,new')">Incomplete</a>
    </li>
    <li ng-class="{active: tabs.isActive('processed')}">
        <a ng-click="tabs.setStatus('processed')">
            Processed
            <!-- <span class="badge">4</span> -->
        </a>
    </li>
    <li ng-class="{active: tabs.isActive('declined')}">
        <a ng-click="tabs.setStatus('declined')">Declined</a>
    </li>
    <li ng-class="{active: tabs.isActive('completed')}">
        <a ng-click="tabs.setStatus('completed')">Completed</a>
    </li>
</ul>

<!-- Order Reesults -->
<div ng-show="isLoading"
    class="tab-content-empty">
    <i class="fa fa-circle-o-notch fa-spin"></i> loading...
</div>

<gui-table-manager
    items="orders"
    object="this"
    buttons="{'new':false,'delete':false}">
</gui-table-manager>

<div ng-show="!orders.length && !isLoading"
    class="text-center">
    <h3><i class="fa fa-flag-checkered"></i> 0 Orders</h3>
    <p>
        No orders to review in this tab. <br />
        Active filters may be hiding any orders that you are looking for.
    </p>
</div>



