// We have tabs to filter order status
// so lets hide the select drop down
.route__ctrl--orderlist #filter-status {
    display: none;
}

.page-header {
    .form-control {
        width: auto;
        margin-top: -4px;
        margin-left: 4px;
    }
}