<!-- Controller wrapper -->
<div class="login-page container"
    ng-controller="loginLoginController">
    <br>

    <!-- Logo -->
    <div class="text-center">
        <img alt="logo"
            class=""
            ng-src="{{getImg('logo-login.png')}}">
    </div>

    <br>

    <!-- form -->
    <div class="row">
        <form class="jumbotron col-sm-8 col-sm-offset-2"
            role="form"
            name="loginForm">
            <h2 class="text-center">Login</h2>

            <hr>

            <!-- Error message -->
            <gui-message-manager item="message"></gui-message-manager>

            <!-- Login -->
            <div class="form-group">
                <label for="username">Email Address:</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                    </span>
                    <input id="username"
                        class="form-control"
                        type="text"
                        placeholder="Login"
                        ng-model="loginCredentials.email"
                        autocomplete="on"
                        autocapitalize="off"
                        autocorrect="off"
                        autofocus
                        required />
                </div>
            </div>

            <!-- Password -->
            <div class="form-group">
                <label for="password">Password:</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                    <input id="password"
                        class="form-control"
                        type="password"
                        placeholder="Password"
                        ng-model="loginCredentials.password"
                        required
                        autocomplete="on"
                        auto-fill-sync/>
                </div>
            </div>

            <div class="clearfix"></div>
            <br>

            <!-- Sign in button -->
            <div class="text-center">
                <button class="btn btn-default btn-lg"
                    type="submit"
                    ng-click="login()">
                    <span class="glyphicon glyphicon-ok"
                        aria-hidden="true"></span> Sign In
                </button>
            </div>
        </form>
    </div>
</div>

<!-- TODO: cleanup once we have body classes from routes -->
<style>
body {
    background: #222 !important;
    padding-left: 0;
}

.navbar,
#offcanvas {
    display: none !important;
}

</style>

