<!-- left side start-->
<div class="left-side sticky-left-side" ng-controller="dashboardHeaderController">

    <div class="left-side-inner">

        <!-- visible to small devices only -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" ng-src="{{getImg('photos/user-avatar.png')}}" class="media-object">

                <div class="media-body">
                    <h4><a href="#">{{it.getUsername()}}</a></h4>
                    <span>"Hello There..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">Account Information</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li ng-repeat="item in rightMenu track by $index" ng-include="getTemplate('dashboard/header/menuItem.html')"></li>
            </ul>
        </div>

        <!--sidebar nav start-->
        <ul class="nav nav-pills nav-stacked custom-nav" ng-controller="dashboardSidebarController">
            <li class="menu-list" ng-repeat="item in items track by $index"
                ng-include="getTemplate('dashboard/header/sidebarItem.html')"></li>
        </ul>
        <!--sidebar nav end-->

    </div>
</div>
<!-- left side end-->