<!--<h1>Welcome to the Dashboard</h1>-->
<div class="top">
    <i class="fa fa-home"></i>
    <h6>Dashbord</h6>
</div>
<section class="dashboard">
    <!-- block Today Visits -->
    <div class="d-progressbar col-md-4">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <div class="col-sm-6 col-xs-6">
                            <span class="num">2456</span>
                            <span class="text">Today Visits</span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="perc">20%</span>
                            <span class="pointer">
                                <i class="fa fa-arrow-up"></i>
                            </span>
                            <div class="clear"></div>
                            <span class="text">higher than yesterday</span>
                        </div>
                        <div class="clear"></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- block Today Sales -->
    <div class="d-progressbar col-md-4 d-progress-middle">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <div class="col-sm-6 col-xs-6">
                            <span class="num">145</span>
                            <span class="text">Today Sales</span>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                            <span class="perc">3%</span>
                            <span class="pointer">
                                <i class="fa fa-arrow-up"></i>
                            </span>
                            <div class="clear"></div>
                            <span class="text">higher than yesterday</span>
                        </div>
                        <div class="clear"></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- block Pageviews Realtime -->
    <div class="d-progressbar col-md-4 d-progress-last">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-body extra-pad">
                        <p>Pageviews Realtime</p>
                        <div class="col-sm-6 col-xs-6">
                            <span class="text">
                                <span>26</span>
                                visitors online
                            </span>
                        </div>
                        <div class="clear"></div>
                        <div class="progress progress-xs">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <span class="text">15</span>
                            <div class="progress progress-xs">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <span class="text">Direct</span>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <span class="text">15</span>
                            <div class="progress progress-xs">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <span class="text">Direct</span>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <span class="text">15</span>
                            <div class="progress progress-xs">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                            <span class="text">Direct</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- block chart for Visitors -->
    <div class="col-md-5">
        <div class="panel panel-info d-visitors">
            <div class="panel-heading">
                <h3 class="panel-title">Visitors</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="visitors-chart">
                        <div id="visitors-container" style="width: 100%; height:155px; text-align: center; margin:0 auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btns-pad">
                        <span class="btns">today</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">yesterday</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns active">last 7 days</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">last 30 days</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">other period</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- block chart for Total Sales -->
    <div class="col-md-5">
        <div class="panel panel-info d-sales">
            <div class="panel-heading">
                <h3 class="panel-title">Total Sales</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div id="visitors-chart2">
                        <div id="visitors-container2" style="width: 100%; height:155px; text-align: center; margin:0 auto;">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btns-pad">
                        <span class="btns">today</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">yesterday</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns active">last 7 days</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">last 30 days</span>
                    </div>
                    <div class="btns-pad">
                        <span class="btns">other period</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- right block Website Conversions -->
    <div class="col-md-2">
        <div class="panel panel-info">
            <h4>Website Conversions</h4>
            <div class="panel-body">
                <a href=""> 
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <p>Added
                    <br>
                    to Cart
                </p>
                <span>
                    0%
                    <span class="small">(0)</span>
                </span>
                <a href=""> 
                    <i class="fa fa-download"></i>
                </a>
                <p>Reached
                    <br>
                    Checkout
                </p>
                <span>
                    0%
                    <span class="small">(0)</span>
                </span>
                <a href=""> 
                    <i class="fa fa-dollar"></i>
                </a>
                <p>Purchased</p>
                <span>
                    0%
                    <span class="small">(0)</span>
                </span>
            </div>
        </div>
    </div>
    <!-- block Top Referrals -->
    <div class="col-md-5">
        <div class="panel panel-info d-table">
            <div class="panel-heading">
                <h3 class="panel-title">Top Referrals</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>www.richkidsbrand.com</td>
                        <td>58</td>
                    </tr>
                    <tr>
                        <td>www.brand.com</td>
                        <td>43</td>
                    </tr>
                    <tr>
                        <td>www.rich.com</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>www.kids.com</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>www.dsbrand.com</td>
                        <td>3</td>
                    </tr>
                </table>
                <a href="#">View report</a>
            </div>
        </div>
    </div>
    <!-- block Top Sellers -->
    <div class="col-md-5">
        <div class="panel panel-info d-table d-sellers">
            <div class="panel-heading">
                <h3 class="panel-title">Top Sellers</h3>
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <img ng-src="{{getImg('product/img1.jpg')}}" alt="" />
                        </td>
                        <td>
                            Loyal Panther Crew
                            <br>
                            12 Sold
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img ng-src="{{getImg('product/img2.jpg')}}" alt="" />
                        </td>
                        <td>
                            Loyal Panther Crew
                            <br>
                            12 Sold
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img ng-src="{{getImg('product/img1.jpg')}}" alt="" />
                        </td>
                        <td>
                            Loyal Panther Crew
                            <br>
                            12 Sold
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img ng-src="{{getImg('product/img2.jpg')}}" alt="" />
                        </td>
                        <td>
                            Loyal Panther Crew
                            <br>
                            12 Sold
                        </td>
                    </tr>
                </table>
                <a href="#">View report</a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</section>

<script>
    (function ($) {

        var data7_1 = [
            [1354586000000, 253],
            [1354587000000, 465],
            [1354588000000, 498],
            [1354589000000, 383],
            [1354590000000, 280],
            [1354591000000, 108],
            [1354592000000, 120],
            [1354593000000, 474],
            [1354594000000, 623],
            [1354595000000, 479],
            [1354596000000, 788],
            [1354597000000, 836]
        ];
        var data7_2 = [
            [1354586000000, 253],
            [1354587000000, 465],
            [1354588000000, 498],
            [1354589000000, 383],
            [1354590000000, 280],
            [1354591000000, 108],
            [1354592000000, 120],
            [1354593000000, 474],
            [1354594000000, 623],
            [1354595000000, 479],
            [1354596000000, 788],
            [1354597000000, 836]
        ];

        $.plot($("#visitors-chart #visitors-container"), [
                    {
                        data: data7_1,
                        label: "Page View",
                        lines: {
                            fill: true
                        }
                    },
                    {
                        data: data7_2,
                        label: "Online User",

                        points: {
                            show: false
                        },
                        lines: {
                            show: false
                        },
                        yaxis: 2
                    }
                ],
                {
                    series: {
                        lines: {
                            show: true,
                            fill: false
                        },
                        points: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: "#ffffff",
                            symbol: "circle",
                            radius: 5
                        },
                        shadowSize: 0
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#f9f9f9",
                        borderWidth: 1,
                        borderColor: "#eeeeee"
                    },
                    colors: ["#65CEA7", "#424F63"],
                    tooltip: true,
                    tooltipOpts: {
                        defaultTheme: false
                    },
                    xaxis: {
                        mode: "time"


                    },
                    yaxes: [
                        {
                            /* First y axis */
                        },
                        {
                            /* Second y axis */
                            position: "right" /* left or right */
                        }
                    ]
                }
        );


        $.plot($("#visitors-chart2 #visitors-container2"), [
                    {
                        data: data7_1,
                        label: "Page View",
                        lines: {
                            fill: true
                        }
                    },
                    {
                        data: data7_2,
                        label: "Online User",

                        points: {
                            show: false
                        },
                        lines: {
                            show: false
                        },
                        yaxis: 2
                    }
                ],
                {
                    series: {
                        lines: {
                            show: true,
                            fill: false
                        },
                        points: {
                            show: true,
                            lineWidth: 2,
                            fill: true,
                            fillColor: "#ffffff",
                            symbol: "circle",
                            radius: 5
                        },
                        shadowSize: 0
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        tickColor: "#f9f9f9",
                        borderWidth: 1,
                        borderColor: "#eeeeee"
                    },
                    colors: ["#65CEA7", "#424F63"],
                    tooltip: true,
                    tooltipOpts: {
                        defaultTheme: false
                    },
                    xaxis: {
                        mode: "time"


                    },
                    yaxes: [
                        {
                            /* First y axis */
                        },
                        {
                            /* Second y axis */
                            position: "right" /* left or right */
                        }
                    ]
                }
        );


    })(jQuery);

</script>