<!-- Page title -->
<h2 ng-if="visitor._id" class="text-center">
	Visitor: {{visitor.first_name}} {{visitor.last_name}}
</h2>

<h2 ng-if="!visitor._id" class="text-center">
	New visitor
</h2>

<div class="col-xs-12">

	<!-- Message -->
	<gui-message-manager item="message"></gui-message-manager>

	<!-- Atributes -->
	<gui-attributes-editor-form-tabs attributes-list="attributes" object="this" item="visitor"></gui-attributes-editor-form-tabs>
	
	<br>
</div>

<div class="text-center">
	<div class="btn btn-primary" ng-click="addressForm()">Addresses</div>
</div>