<div class="form-inline text-center">
    <!-- Low range -->
    <div class="form-group"
        ng-class="{ 'has-error' : lowInvalid }">
        <input type="date" class="form-control range" ng-model="low" />
        <p ng-show="lowInvalid" class="help-block">Invalid format. Select correct date.</p>
    </div>
    <!-- High range -->
    <div class="form-group"
        ng-class="{ 'has-error' : highInvalid }">
        <input type="date" class="form-control range" ng-model="high" />
        <p ng-show="highInvalid" class="help-block">Invalid format. Select correct date.</p>
    </div>
    <a ng-click="submit()" class="btn btn-default">apply</a>
</div>

