<div class="page-header">
    <h1>
        <span class="fa fa-exchange"></span>
        Import / Export
    </h1>
</div>

<div class="row animated fadeIn" ng-init="init()">

    <!-- Error message -->
    <div class="col-xs-12">
        <ot-message-manager item="message"></ot-message-manager>
    </div>

    <!-- Import Status Progressbar -->
    <div class="col-xs-12 impex-progressbar" ng-show="isImportRun">
        <div class="outer-box">
            <div class="title">Currently importing file: {{file.name}}</div>
            <div class="progress">
                <div class="progress-bar progress-bar-success"  style="width: {{importProgress}}%"></div>
            </div>
        </div>
    </div>

    <form class="form" role="form" class="product-tabs" name="otEditForm" novalidate>

        <!-- Upload file -->
        <div class="col-xs-12 col-sm-6 form-group"
            ng-class="{ 'has-error': importMethod && !file }">
            <label for="file">File</label>
            <div class="input-group">
                <ot-input-file
                    class="form-control"
                    file="file"
                    input-id="'file'"
                    input-name="'file'">

                    {{ (file && file.name) ? file.name : 'Choose file' }}
                </ot-input-file>
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="import('batch')">Import csv script</button>
                </div>
            </div>
            <p ng-show="importMethod && !file" class="help-block">This field is required.</p>
        </div>

        <!-- Select model -->
        <div class="col-xs-12 col-sm-6 form-group" ng-class="{ 'has-error' : (importMethod == 'model' || exportMethod == 'model') && !model}">
            <label for="model">Model</label>
            <p ng-show="(importMethod == 'model' || exportMethod == 'model') && !model" class="help-block">This field is required.</p>
            <div class="input-group">
                <select
                    class="form-control"
                    name="model"
                    id="model"
                    ng-model="model"
                    required
                    ng-options="value as value for value in modelList">
                </select>
                <div class="input-group-btn">
                    <button class="btn btn-info" ng-click="export('model')">Export Model</button>
                    <button class="btn btn-primary" ng-click="import('model')">Import Model</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Taxes -->
        <div class="col-xs-12 col-sm-6 form-group">
            <label>Taxes</label>
            <span class="clearfix"></span>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-info" ng-click="export('tax')">Export Taxes</button>
                    <button class="btn btn-primary" ng-click="import('tax')">Import Taxes</button>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- Discounts -->
        <div class="col-xs-12 col-sm-6 form-group">
            <label>Discounts</label>
            <div class="form-group">
                <div class="btn-group">
                    <button class="btn btn-info" ng-click="export('discount')">Export Discounts</button>
                    <button class="btn btn-primary" ng-click="import('discount')">Import Discounts</button>
                </div>
            </div>
        </div>
    </form>
</div>

<span ng-bind-html="exportFile"></span>
