<div>
    <form id="FacebookConf">
        <h3>Facebook Settings</h3>
        <ul>
            <li>
                <label for="ClientID">ClientID</label>
                <input type="text" name="ClientID" id="ClientID" ng-model="configFormField.FacebookOauthConfig.ClientID" />
            </li>
            <li>
                <label for="ClientSecret">ClientSecret</label>
                <input type="text" name="ClientSecret" id="ClientSecret" ng-model="configFormField.FacebookOauthConfig.ClientSecret" />
            </li>
            <li>
                <label for="RedirectURL">RedirectURL</label>
                <input type="text" name="RedirectURL" id="RedirectURL" ng-model="configFormField.FacebookOauthConfig.RedirectURL" />
            </li>
            <li>
                <div ng-repeat="scopes in configFormField.FacebookOauthConfig.Scopes">
                    <label for="email{{$index + 1}}">email{{$index + 1}}</label>
                    <input type="text" name="email{{$index + 1}}" id="email{{$index + 1}}" ng-model="scopes.email" />
                </div>
            </li>
        </ul>
    </form>
</div>


