<p class="hidden-xs">
    <button class="btn btn-default" ng-click="addNewOption()">Add option</button>
</p>
<p class="visible-xs text-cente">
    <button class="btn btn-default"
            type="button"
            ng-click="addNewOption()">
        Add option
    </button>
</p>

<div class="panel-group">
    <div class="panel panel-lg panel-default product-option"
         ot-custom-option
         option="option"
         options-manager="this"
         is-managing-stock="item.isManagingStock"
         ng-repeat="option in optionsData | toArray | getOrdered">
    </div>
</div>

<!--<br/><br/>-->

<!--<div class="well" ng-repeat="option in optionsData | toArray | getOrdered">-->
    <!--<button class="btn btn-sm btn-warning pull-right"-->
        <!--type="button"-->
        <!--ng-click="removeOption(option.key)">-->
        <!--<i class="fa fa-remove"></i> Delete Option-->
    <!--</button>-->

    <!--<legend>Option: {{option.label}}</legend>-->

    <!--<div class="table-responsive">-->
        <!--<table class="table table-condensed">-->
            <!--<colgroup>-->
                <!--<col width=""/>-->
                <!--<col width="15%"/>-->
                <!--<col width="15%"/>-->
                <!--<col width="15%"/>-->
                <!--<col width="15%"/>-->
            <!--</colgroup>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Option Label</th>-->
                    <!--<th>Type</th>-->
                    <!--<th>Is Required</th>-->
                    <!--<th ng-if="item.isManagingStock">Controls Inventory</th>-->
                    <!--<th>Sort</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<td class="form-group">-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="option.label"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                    <!--<td class="form-group">-->
                        <!--<select class="form-control" ng-blur="updateOptionsKeys()"-->
                            <!--ng-change="cleanOption(option.key)"-->
                            <!--ng-init="option.type = option.type || types[0]"-->
                            <!--data-ng-model="option.type"-->
                            <!--data-ng-options="o as o for o in types">-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td class="form-group">-->
                        <!--<select class="form-control" ng-blur="updateOptionsKeys()"-->
                            <!--ng-init="option.required = option.required || false"-->
                            <!--data-ng-model="option.required"-->
                            <!--data-ng-options="o as o for o in [true, false]">-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td class="form-group" ng-if="item.isManagingStock">-->
                        <!--<select class="form-control" ng-blur="updateOptionsKeys()"-->
                            <!--ng-init="option.controls_inventory = (option.type === 'select' || option.type === 'radio') ? option.controls_inventory || false : false"-->
                            <!--data-ng-model="option.controls_inventory"-->
                            <!--data-ng-options="o as o for o in [true, false]"-->
                            <!--ng-disabled="option.type !== 'select' && option.type !== 'radio'">-->
                        <!--</select>-->
                    <!--</td>-->
                    <!--<td class="form-group">-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="option.order"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<div ng-if="option.type === 'field'"-->
        <!--class="table-responsive">-->
        <!--<table class="table table-condensed m-b-0">-->
            <!--<tbody>-->
                <!--<tr>-->
                    <!--<td class="form-group">-->
                        <!--<label>Price</label>-->
                        <!--<input class="form-control" type="text" ng-model="option.price" ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->

                    <!--<td class="form-group">-->
                        <!--<label>SKU</label>-->
                        <!--<input class="form-control" type="text" ng-model="option.sku" ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->

                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<div ng-if="['select', 'multi_select', 'radio', 'checkbox'].indexOf(option.type) !== -1"-->
        <!--class="table-responsive">-->
        <!--<table class="table table-condensed table-form m-b-0">-->
            <!--<colgroup>-->
                <!--<col width=""/>-->
                <!--<col width="15%"/>-->
                <!--<col width="15%"/>-->
                <!--<col width="15%"/>-->
                <!--<col width="5%"/>-->
            <!--</colgroup>-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th>Selection Label</th>-->
                    <!--<th>Price</th>-->
                    <!--<th>Sku</th>-->
                    <!--<th>Sort</th>-->
                    <!--<th>&nbsp;</th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="(key, row) in option.options | toArray | getOrdered">-->
                    <!--<td>-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="row.label"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="row.price"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="row.sku"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<input class="form-control"-->
                            <!--type="text"-->
                            <!--ng-model="row.order"-->
                            <!--ng-blur="updateOptionsKeys()" />-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<button class="btn btn-block btn-warning"-->
                            <!--type="button"-->
                            <!--ng-click="removeRow(option.key, row.key)">-->
                            <!--<i class="fa fa-remove"></i>-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
            <!--<tfoot>-->
                <!--<tr>-->
                    <!--<td colspan="99">-->
                        <!--<button class="btn btn-default btn-sm"-->
                            <!--type="button"-->
                            <!--ng-click="addRow(option.key)">-->
                            <!--<i class="fa fa-plus"></i> Add selection-->
                        <!--</button>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tfoot>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
