
<button class="btn btn-primary hidden-xs"
    type="button"
    ng-click="addNewOption()">
    Add option
</button>

<div class="visible-xs text-center">
    <button class="btn btn-primary"
        type="button"
        ng-click="addNewOption()">
        Add option
    </button>
</div>
<br />

<div ng-repeat="option in optionsData | getOrdered">

    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th colspan="99">
                        <h4>Option: {{option.label}}</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="form-group">
                        <label>Option Label</label>
                        <input class="form-control"
                            type="text"
                            ng-model="option.label"
                            ng-blur="modifyData()" />
                    </td>
                    <td class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-blur="modifyData()"
                            ng-change="cleanOption(option.label)"
                            ng-init="option.type = option.type || types[0]"
                            data-ng-model="option.type"
                            data-ng-options="o as o for o in types">
                        </select>
                    </td>
                    <td class="form-group">
                        <label>Is Required</label>
                        <select class="form-control" ng-blur="modifyData()"
                            ng-init="option.required = option.required || false"
                            data-ng-model="option.required"
                            data-ng-options="o as o for o in [true, false]">
                        </select>
                    </td>
                    <td class="form-group" ng-if="item.isManagingStock">
                        <label>Controls Inventory</label>
                        <select class="form-control" ng-blur="modifyData()"
                            ng-init="option.controls_inventory = option.controls_inventory || false"
                            data-ng-model="option.controls_inventory"
                            data-ng-options="o as o for o in [true, false]">
                        </select>
                    </td>
                    <td class="form-group">
                        <label>Sort</label>
                        <input class="form-control" type="text" ng-model="option.order" ng-blur="modifyData()" />
                    </td>
                    <td class="form-group">
                        <label for="">&nbsp;</label>
                        <button class="btn btn-warning form-control" type="button" ng-click="removeOption(option.label)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="option.type === 'field'"
        class="table-responsive">
        <table class="table table-condensed">
            <tbody>
                <tr>
                    <td class="form-group">
                        <label>Price</label>
                        <input class="form-control" type="text" ng-model="option.price" ng-blur="modifyData()" />
                    </td>

                    <td class="form-group">
                        <label>SKU</label>
                        <input class="form-control" type="text" ng-model="option.sku" ng-blur="modifyData()" />
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="['select', 'multi_select', 'radio', 'checkbox'].indexOf(option.type) !== -1"
        class="table-responsive">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Selection Label</th>
                    <th>Price</th>
                    <th>Sku</th>
                    <th>Sort Order</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, row) in option.options | getOrdered">
                    <td>
                        <input class="form-control"
                            type="text"
                            ng-model="row.label"
                            ng-blur="modifyData()" />
                    </td>
                    <td>
                        <input class="form-control"
                            type="text"
                            ng-model="row.price"
                            ng-blur="modifyData()" />
                    </td>
                    <td>
                        <input class="form-control"
                            type="text"
                            ng-model="row.sku"
                            ng-blur="modifyData()" />
                    </td>
                    <td>
                        <input class="form-control"
                            type="text"
                            ng-model="row.order"
                            ng-blur="modifyData()" />
                    </td>
                    <td class="text-right">
                        <button class="btn btn-block btn-warning"
                            type="button"
                            ng-click="removeRow(option.label, row.label)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="99">
                        <button class="btn btn-primary btn-sm"
                            type="button"
                            ng-click="addRow(option.label)">
                            Add selection
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <hr />
</div>

<pre>//item
{{item | json}}
</pre>