<div ng-if="!hasConfigurations"
     ng-form="configurationsSetup.formCtrl"
     class="panel panel-default">
    <div class="panel-heading">
        Select configurable attributes
    </div>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Attribute</th>
            <th>Label</th>
            <th>Type</th>
            <th>Controls Image</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, attribute) in configurationAttributes">
            <td>
                <input ng-model="attribute.selected"
                       type="checkbox">
            </td>
            <td>{{ key }}</td>
            <td>
                <input ng-model="attribute.label"
                       type="text" class="form-control input-sm"
                       name="attribute[{{key}}]type"
                       required>
            </td>
            <td>
                <select ng-model="attribute.type"
                        ng-options="k as v for (k, v) in optionTypes"
                        class="form-control input-sm">
                </select>
            </td>
            <td>
                <select ng-model="attribute.controls_image"
                        ng-options="o as o for o in [true, false]"
                        class="form-control input-sm">
                </select>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer text-right">
        <button ng-disabled="!canInitConfigurations()"
                ng-click="setupConfigurations(configurationAttributes)"
                type="submit" class="btn btn-primary">
            Continue
        </button>
    </div>
</div>

<div ng-if="hasConfigurations">
    <h3>Attributes Configuration</h3>

    <div class="panel-group">
        <div ng-repeat="option in superOptions"
             class="panel panel-default panel-configurations">
            <div class="panel-heading">
                {{option.label}}
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-attributes-configurations">
                        <thead>
                        <tr>
                            <th ng-if="option.controls_image">Image</th>
                            <th>Label</th>
                            <th>Sort</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, selection) in option.options | toArray | getOrdered">
                            <td ng-if="option.controls_image" ng-click="selectImage(selection)">
                                <img class="media-object"
                                     ng-src="{{getImagePath(selection.image_name)}}"
                                     style="width: 50px; height: 50px;">
                            </td>
                            <td>
                                <input ng-model="selection.label"
                                       class="form-control input-sm"
                                       type="text"/>
                            </td>
                            <td>
                                <input ng-model="selection.order"
                                       class="form-control input-sm"
                                       type="text"
                                       size="2"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-associated-products panel-configurations">
        <div class="panel-heading">
            Associated Products
        </div>
        <div class="panel-body">
            <ot-grid grid="productsGrid" config="gridViewConfig"></ot-grid>
        </div>
    </div>
</div>


