<p class="hidden-xs">
    <button class="btn btn-default" ng-click="newOption()">Add option</button>
</p>
<p class="visible-xs text-center">
    <button class="btn btn-default"
            type="button"
            ng-click="newOption()">
        Add option
    </button>
</p>

<div class="panel-group">
    <div class="panel panel-default product-option"
         ng-repeat="option in optionsData | toArray | getOrdered"
         ng-init="isUnfolded = (option.key) ? false : true">

        <div class="panel-heading" ng-click="isUnfolded = !isUnfolded">
            {{option.label}}
            <i class="fa" ng-class="{'fa-caret-down': !isUnfolded, 'fa-caret-up': isUnfolded}"></i>
        </div>

        <div class="panel-body" ng-show="isUnfolded">
            <div class="row">
                <div class="form-group col-sm-6 col-sm-push-6 form-item option-delete-container">
                    <button class="btn btn-danger" ng-click="removeOption(option.key)">
                        <i class="fa fa-times"></i>
                        Delete Option
                    </button>
                </div>

                <div class="form-group col-sm-6 col-sm-pull-6 form-item">
                    <label>Code: </label> {{option.key}}
                </div>

                <div class="form-group col-sm-6 form-item">
                    <label>Label *</label>
                    <input class="form-control"
                           type="text"
                           ng-model="option.label"
                           ng-blur="updateOptionsKeys()"/>
                </div>

                <div class="form-group col-sm-6 form-item">
                    <label>Type</label>
                    <select class="form-control"
                            ng-change="cleanOption(option.key)"
                            ng-init="option.type = option.type || optionTypes[0]"
                            ng-model="option.type"
                            ng-options="o as o for o in optionTypes">
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <label>Sort</label>
                    <input class="form-control"
                           type="text"
                           size="2"
                           ng-model="option.order"/>
                </div>

                <div class="form-group col-sm-6">
                    <label>Required</label>
                    <select class="form-control"
                            ng-init="option.required = option.required || false"
                            ng-model="option.required"
                            ng-options="o as o for o in [true, false]"
                            ng-disabled="option.has_associated_products">
                    </select>
                </div>

                <div class="form-group col-sm-6"
                     ng-if="(option.type === 'select' || option.type === 'radio') && productScope.isManagingStock">
                    <label>Controls inventory</label>
                    <select class="form-control"
                            ng-init="option.controls_inventory = option.controls_inventory || false"
                            ng-model="option.controls_inventory"
                            ng-options="o as o for o in [true, false]">
                    </select>
                </div>

                <div class="form-group col-sm-6"
                     ng-if="option.type === 'select' || option.type === 'radio'">
                    <label>Controls image</label>
                    <select class="form-control"
                            ng-init="option.controls_image = option.controls_image || false"
                            ng-model="option.controls_image"
                            ng-options="o as o for o in [true, false]">
                    </select>
                </div>

                <div class="form-group col-sm-6"
                     ng-if="option.type === 'select' || option.type === 'radio'">
                    <label>
                        Has associated products
                        <a uib-tooltip="Tooltip">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </label>
                    <select class="form-control"
                            ng-change="updateAssociatedProductsList()"
                            ng-init="option.has_associated_products = option.has_associated_products || false"
                            ng-model="option.has_associated_products"
                            ng-options="o as o for o in [true, false]"
                            ng-disabled="!canHaveAssociatedProducts(option.key)">
                    </select>
                </div>

                <div class="form-group col-sm-6"
                     ng-if="option.type === 'field'">
                    <label>Price</label>
                    <input class="form-control"
                           type="text"
                           ng-model="option.price"
                           ng-blur="updateOptionsKeys()"/>
                </div>

                <div class="form-group col-sm-6"
                     ng-if="option.type === 'field'">
                    <label>SKU</label>
                    <input class="form-control"
                           type="text"
                           ng-model="option.sku"
                           ng-blur="updateOptionsKeys()"/>
                </div>
            </div>

            <div class="option-selections"
                 ng-if="['select', 'multi_select', 'radio', 'checkbox'].indexOf(option.type) !== -1">
                <h3>Selections</h3>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed"
                           ng-show="isUnfolded"
                           ng-if="['select', 'multi_select', 'radio', 'checkbox'].indexOf(option.type) !== -1">
                        <thead>
                        <tr>
                            <th ng-if="option.controls_image">Image</th>
                            <th>Label</th>
                            <th>Price</th>
                            <th>Sku</th>
                            <th ng-if="option.has_associated_products">Products</th>
                            <th>Sort</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, selection) in option.options | toArray | getOrdered">
                            <td ng-if="option.controls_image">
                                <img class="media-object"
                                     ng-src="{{}}"
                                     style="width: 50px; height: 50px;">
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       ng-model="selection.label"
                                       ng-blur="updateOptionsKeys()"/>
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       ng-model="selection.price"/>
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       ng-model="selection.sku"/>
                            </td>
                            <td ng-if="option.has_associated_products">
                                <select class="form-control"
                                        ng-change="updateAssociatedProductList()"
                                        ng-init="option.has_associated_products = option.has_associated_products || false"
                                        ng-model="option.has_associated_products"
                                        ng-options="o as o for o in [true, false]">
                                </select>
                            </td>
                            <td>
                                <input class="form-control"
                                       type="text"
                                       size="2"
                                       ng-model="selection.order"
                                       ng-blur="updateOptionsKeys()"/>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fa fa-times"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <ot-grid grid="productsGrid" config="gridViewConfig"></ot-grid>
</div>
