.LeftContentContainer {
  float: left;
  width: 35%;
  background: $browseBody;
  padding-left: 85px;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  }

/* ----------------------------------------- TabHeaderContainer Styles ---------------------------------------------- */
.TabHeaderContainer {
  width: 85px;
  background: image-url('adminTab-background.png') top left repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  background: $TabHeaderContainerBack;
  .tabs-header-list {
    padding-right: 64px;
    li {
      float: left;
      padding: 6px;
      height: 52px;
      width: 52px;
      text-align: center;
      background: image-url('adminTab-inactive.png') top left repeat-x;
      &.active {
        background: image-url('adminTab-active.png') top left repeat-x;
      }
      a{
        text-decoration: none;
        img {
          display: block;
          margin: 0 10px 6px 10px;
        }
        span {
          font-family: "sans serif";
          color: $tabLinkColor;
        }
      }
    }
  }
  }
/* ----------------------------------------- END TabHeaderContainer Styles ------------------------------------------ */

/* -----------------------------------------  BrowseController Styles ----------------------------------------------- */

.BrowseController {
  background: $browseControllerBack;
  padding: 8px;
  height: 35px;
  .AddButtonContainer {
    float: left;
    width: 32px;
    height: 35px;
    margin-right: 8px;
  }
  .SwithViewContainer {
    float: right;
    width: 44px;
    height: 35px;
    .list {
      display: none;
    }
    a {
      float: left;
      margin-left: 8px;
      cursor: pointer;
      top: 2px;
      position: relative;
      &:hover {
        text-decoration: none;
      }
    }
    &.tile {
      .tile {
        display: none;
      }
      .list {
        display: block;
      }
    }
    &.list {
      .list {
        display: none;
      }
    }
  }
  .SearchContainer {
    height: 35px;
    width: auto;
    background: #ffffff;
    position: relative;
    margin: 0 44px 0 40px;
    div {
      position: relative;
      width: 100%;
    }
    input {
      width: 100%;
      height: 35px;
      margin: 0;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 0;
      line-height: 32px;
      padding-left: 35px;
      position: absolute;
      top: 0;
      left: 0;
      background: none;
      }
    }
  }
/* ----------------------------------------- End BrowseController Styles -------------------------------------------- */

/* ----------------------------------------- BrowseBody Styles ------------------------------------------------------ */
.BrowseBody {
  background: $browseBody;
  padding: 8px;
  height: 100%;
  .visitor-list {
    li {
      position: relative;
      padding-top: 8px;
      &:first-child {
        padding-top: 8px;
        .visitors-list-avatar {
          top: 0px;
        }
      }
      .visitors-list-avatar {
        display: inline-block;
        position: absolute;
        top: 8px;
        left: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
        img {
          max-width: 100%;
          height: auto;
          display: inline-block;
          vertical-align: top;
        }
        .visitors-title-avatar {
          display: none;
        }
      }
      .visitors-list-text {
        display: block;
        padding: 0 10px 0px 42px;
        height: 32px;
        background: $LeftVisitorListBack;
        color: $LeftVisitorListText;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 32px;
        overflow: hidden;
      }
    }
    &.tile {
      li {
        background: $LeftVisitorTileBack;
        float: left;
        width: 32%;
        margin-left: 2%;
        margin-top: 8px;
        padding-top: 0;
        &.visitor-first {
          margin-left: 0%;
        }
        .visitors-list-avatar {
          position: relative;
          width: 100%;
          height: 96px;
          text-align: center;
          line-height: 96px;
          top: -1px;
          display: block;
          img {
            vertical-align: middle;
          }
        }
        .visitors-list-text {
          padding: 0 5px;
          text-align: center;
          background: none;
          line-height: 15px;
          font-size: 12px;
        }
        &:hover {
          background: $LeftVisitorTileBackHover;
          .visitors-list-text {
            color: $LeftVisitorTileBackHoverText;
          }
        }
      }
    }
  }
  .BrowseBodyInner {
    overflow: auto;
    height: 100%;
  }
}
/* ----------------------------------------- End BrowseBody Styles -------------------------------------------------  */


