.RightContentContainer {
  float: left;
  width: 50%;
  background: $VisitorSecondaryInfoBack;
}

/* ------------------------------------------ VisitorControlBar Styles --------------------------------------------- */

.VisitorControlBar {
  height: 32px;
  background: $VisitorControlBarBack;
  li {
    height: 32px;
    float: left;
    padding: 0 8px;
    line-height: 32px;
    a {
      color: $VisitorControlLink;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block;

    }
    span {
      color: $VisitorControlLink;
      font-size: 14px;
    }
    &.use-type-select {
      background: $VisitorControlBarActive;
      a {
        padding-right: 14px;
        position: relative;
        min-width: 10px;
        height: 32px;
      }
      span {
        position: absolute;
        right: 4px;
        top: 14px;
        @include css-arrow(bottom, white, 5px);
      }
    }
  }
}
/* ------------------------------------------ End VisitorControlBar Styles ----------------------------------------- */

/* ------------------------------------------ VisitorTopProfile Styles ----------------------------------------------*/

.VisitorProfileImage {
  background: $VisitorProfileImageBack;
  width: 30%;
  text-align: center;
  padding: 20px 0;
  float: left;
  min-height: 164px;
}
.VisitorProfileMainInfoWrapper {
  width: 70%;
  background: $VisitorProfileMainInfoWrapperBack;
  float: left;
  min-height: 204px;
  .VisitorProfileMainInfo {
    padding: 15px 0 15px 48px;
    span {
      color: $VisitorProfileMainInfoSpanColor;
      font-size: 18px;
      display: block;
      margin-bottom: 8px;
    }
    label {
      display: block;
      color: $VisitorProfileMainInfoLabelColor;
      font-size: 12px;
      margin: 0 0 3px 6px;
    }
    input {
      display: block;
      margin: 0 0 3px 5px;
      width: 257px;
      padding: 0 5px;
      height: 25px;
      border: 1px solid $VisitorProfileMainInfoInputBorder;

    }
  }
}
.VisitorSecondaryInfo {
  clear: both;
  padding: 15px 0 30px 35px;
  h3 {
    padding: 15px 0 10px 0;
    margin: 0;
    color:  $VisitorSecondaryInfoFontColor;
    font-weight: normal;
    font-size: 18px;
  }
  label {
    display: block;
    margin: 0 0 3px 6px;
    font-size: 12px;
    color: $VisitorSecondaryInfoLabelColor;
  }
  input {
    margin: 0 0 8px 6px;
    border: 1px solid $VisitorSecondaryInfoInputBorder;
    padding: 0 5px;
    display: block;
    height: 25px;
    &.middle-size {
      width: 305px;
    }
    &.biggest-size {
      width: 540px;
    }
    &.small-size {
      width: 160px;
    }
  }
  .VisitorSecondaryInfoInputsBottom {
    float: left;
    margin-right: 19px;
    label {
      margin-left: 0;
    }
    input {
      margin-left: 0;
      .biggest-size {
        clear: left;
      }
    }
    &.second {
      float: none;
      clear: left;
    }
    select {
      border: 1px solid $VisitorSecondaryInfoInputBorder;
      height: 27px;
      width: 170px;
    }
    &.first {
      margin-left: 6px;
    }
  }
}

/* ------------------------------------------ End VisitorTopProfile Styles ----------------------------------------- */
