.browse-tab-header {
  span {

    display: inline-block;
    img {
      position: relative;
      top: 10px;
      margin-right: 12px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 10px 20px;
      position: relative;
      height: 20px;
      line-height: 20px;
      background: image-url('menu-back.jpg') top left repeat-x;
      > div {
        > div {
          > div {
            > ul {
              visibility: hidden;
              width: 200px;
              top: 0px;
              left: 199px;
              position: absolute;

            }
          }
        }
      }
      &:hover {
        > div {
          > div {
            > div {
              > ul {
                visibility: visible;
                li {
                  border: 1px solid $MenuLinkBorderColor;
                  &:hover {
                    background: image-url('menu-active-back.jpg') top left repeat-x;
                    a {
                      color: $MenuLinkColor;
                      text-decoration: none;
                    }
                  }
                  a {
                    color: $MenuLinkColor;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  > ul {
    > li {
      padding: 0;
      height: 64px;
      > a {
        height: 44px;
        line-height: 44px;
        padding: 10px 20px;
        display: block;
        color: $MenuLinkColor;
        text-decoration: none;
        &.active {
          background: image-url('menu-active-back.jpg') top left repeat-x;
        }
      }
      > div {
        > div {
          > div {
            > ul {
              top: 0px;
              position: absolute;
              left: 100%;
            }
          }
        }
      }
      &:hover {
        background: image-url('menu-active-back.jpg') top left repeat-x;
        > a {
          text-decoration: none;
          display: block;
          color: $MenuLinkColor;
        }
      }
    }
  }
}

