/*---------------------------- Styles for User Right Panel -----------------------------------------------------------*/

@media only screen and (min-width : 320px) and (max-width : 670px) {
  .RightContentContainer {
    width: 100%;
  }
  .LeftContentContainer {
    width: 100%;
   }

  .VisitorProfileMainImage {
    width: 100%;
    margin: 0;
  }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0;
    button {
      display: inline-block;
    }
  }
  .ng-hide {
    display: none !important;
  }
  .show-mobile {
    display: block !important;
  }
}
@media only screen and (min-width : 320px) and (max-width : 568px) {

  .VisitorProfileImage {
    width: 100%;
  }
  .VisitorProfileMainInfoWrapper {
    width: 100%;
    .VisitorProfileMainInfo {
      padding: 15px 10% 15px 10%;
      input {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 3px 0;
      }
      label {
        margin-left: 0;
      }
    }
  }
  .VisitorSecondaryInfo {
    padding: 15px 10% 30px 10%;
    input {
      width: 100% !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 3px 0;
    }
    label {
      margin-left: 0;
    }
    .VisitorSecondaryInfoInputsBottom {
      float: none;
      margin-right: 0;
      &.first {
        margin-left: 0;
      }
      input {
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 3px 0;
      }
      select {
        width: 100% !important;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 0 3px 0;
      }
    }
  }
  .ng-hide {
    display: none !important;
  }
  .show-mobile {
    display: block;
  }
}

/*---------------------------- End Styles for User Right Panel -------------------------------------------------------*/

