<!-- Menu title -->
<a ng-href="{{item.link}}" ng-class="{'dropdown-toggle' : item.children}">
	<i class="fa fa-fw {{item.icon}}" ng-if="item.icon"></i>
	<span>{{item.title}}</span>
	<i class="fa fa-angle-down children-icon" ng-if="item.children"></i>
</a>

<!-- Sub menu -->
<ul class="sub-menu" ng-if="item.children">
	<li class="menu-item" ng-repeat="item in item.children">
		<a ng-href="{{item.link}}">
			<i class="fa fa-fw {{item.icon}}" ng-if="item.icon"></i>
			<span>{{item.title}}</span>
		</a>
	</li>
</ul>
