.conversion-widget {
    text-align: center;
}

.conversion-widget__header {
    color: $gray;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
}

.conversion-widget__percent {
    font-weight: bold;
    font-size: 20px;
}

.conversion-widget__count {
    color: $gray;
}