.table-dashboard {
    color: $gray;

    th {
        font-weight: normal;
    }
    tbody th {
        white-space: nowrap;
    }
}

.table-dashboard__highlight {
    font-size: 20px;
    color: $brand-primary;
}
