.table-dashboard {
	color: $gray;
}
.table-dashboard th {
	font-weight: normal;
}
.table-dashboard__highlight {
	font-size: 20px;
	color: $brand-primary;
}


.table-pagination-row > div {
    padding: 0;
}