<div class="form-inline">
    <!-- Low range -->
    <div class="form-group" ng-class="{ 'has-error' : lowInvalid }" >
        <div class="input-group">
            <input type="text" class="form-control range" placeholder="Low" ng-model="low" ng-enter="submit()" ng-blur="submit()"/>
            <p ng-show="lowInvalid" class="help-block">Invalid format. Only numbers.</p>
        </div>
    </div>
    
    <!-- High range -->
    <div class="form-group" ng-class="{ 'has-error' : hightInvalid }" >
        <input type="text" class="form-control range" placeholder="High" ng-model="hight" ng-enter="submit()" ng-blur="submit()" />
        <p ng-show="hightInvalid" class="help-block">Invalid format. Only numbers.</p>
    </div>
</div>