@media (min-width: $screen-md-min) {
    .media-list {
        &>div:nth-child(4n + 5) {
            clear: left;
        }
    }
}

.modal-header {
    height: 150px;
    img {
        max-height: 120px;
    }
    h1 {
        margin-top: 0;
    }
}
