$nav-width: 230px;
$nav-break: 991px;

html,
body {
  overflow-x: hidden;
  height: auto;
  min-height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  @media (min-width: $nav-break) {
    padding-left: $nav-width;
  }
}
#content {
  min-height: 100%;
}
#loader {
  margin-left: -$nav-width;
  position: absolute;
  width: 100%;
}

// xs navbar
.navbar-default .navbar-nav {
  float: right;
  margin: 4px -15px;
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
}
.navbar-brand {
  font-size: 22px;

  > img {
    display: inline-block;
    margin: -2px 2px 0 0;
    width: 21px;
  }
}

// real menu, in sidebar
.nav-menu {
  position: fixed;
  right: -$nav-width;
  top: 0;
  z-index: 1001;
  width: $nav-width;
  height: 100%;

  overflow-y: auto;
  overflow-x: hidden;

  background: $navbar-default-bg;
  transition: all 0.4s ease;

  &::-webkit-scrollbar {
    width: .75em;
    height: .5em;
  }
  &::-webkit-scrollbar-thumb{
    background: #666;
  }
  &::-webkit-scrollbar-track{
    background: none;
  }

  &.nav-menu--active {
    right:0;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow-y: scroll;
  }

  @media (min-width: $nav-break) {
    left:0;
    right: auto;
  }
}

.nav-menu {
  ul {
    margin: 0;
    padding: 0;
  }

  .menu-link {
    display: block;
    line-height: 1;
    font-size: 16px;
    text-decoration: none;
    font-weight: 300 !important;
    color: $navbar-default-link-color;
    padding: 15px 0px 15px 15px;
    border-bottom: 1px #343438 solid;
    position: relative;

    &:hover {
      background: $navbar-default-link-hover-bg;
      color: $navbar-default-link-hover-color;
    }
    &.active {
      background: $navbar-default-link-active-bg;
      color: $navbar-default-link-active-color;
    }
  }

  .fa {
    margin-right: 15px;
  }
  .children-icon {
    position: absolute;
    font-size: 14px;
    right: 0;
  }
}
.menu-item__user {
  .fa {
    margin-top: -5px;
    margin-right: 2px;
  }
  .branding {
    font-size: 22px;
    color: #fff;
  }
  .fa-angle-down {
    font-size: 14px;
    margin-left: 3px;
    color: #98978B;
  }
  .user-name {
    margin-top: 5px;
    font-size: 14px;
  }
}
.user-menu-dropdown {
  z-index: 1002;
  margin-left: 12px;
  margin-top: -10px;
  border-color: #343438;
  overflow: hidden; // prevent :hover bg from ruining border-radius
  width: 250px;

  .menu-header {
    padding: 3px 20px;
    img {
      float: left;
      margin: 0 12px 0 0;
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .divider {
    margin: 3px 0;
  }
}

.nav-menu {
  .sub-menu {
    // hidden by default, playing with max-height lets us animate it
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;

    .menu-link {
      padding-left: 55px;
    }
  }
  .open .sub-menu {
    max-height: 400px; // 8 submenu items, hopefully pretty safe
  }
}
