.table .td__title {
    margin-top: 0;
}

.table-striped-even {
    > tbody > tr:nth-of-type(even) {
        background-color: $table-bg-accent;
    }
}

.th-clickable {
    cursor: pointer;
}

.table-v-middle tbody > tr > td {
    vertical-align: middle;
}

.table-form td {
    min-width: 60px;
}

// Shadow hinting for responsive tables
// https://github.com/iKristjan/bootstrap-responsive-table-scrolling-shadows/blob/master/bootstrap-responsive-table-scrolling-shadows.css
.table-responsive {
  background:
    radial-gradient(farthest-side at 0% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(farthest-side at 100% 50%, rgba(0,0,0,.2), rgba(0,0,0,0)) 100% 0;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 10px 100%;
  margin-bottom: 15px;
}

.table-responsive > .table {
  background:
    linear-gradient(to right, white 30%, rgba(255,255,255,0)),
    linear-gradient(to left, white 30%, rgba(255,255,255,0)) 100% 0;
  background-size: 50px 100%;
  background-repeat: no-repeat;
  max-width: none;
  margin-bottom: 0;
}