.table .td__title {
    margin-top: 0;
}

.table-striped-even {
    > tbody > tr:nth-of-type(even) {
        background-color: $table-bg-accent;
    }
}

.th-clickable {
    cursor: pointer;
}

.table-v-middle tbody > tr > td {
    vertical-align: middle;
}

.table-form td {
    min-width: 60px;
}