<div class="page-header">
    <h1 ng-if="visitor._id">
        <span class="fa fa-users"></span>
        Visitor: {{visitor.first_name}} {{visitor.last_name}}
    </h1>
    <h1 ng-if="!visitor._id">
        <span class="fa fa-users"></span>
        New visitor
    </h1>
</div>

<!-- Message -->
<ot-message-manager item="message"></ot-message-manager>

<!-- Atributes -->
<ot-attributes-editor-form-tabs attributes-list="attributes"
    object="this"
    item="visitor"></ot-attributes-editor-form-tabs>

<br>


<div class="text-center"
    ng-hide="!visitor._id">
    <div class="btn btn-primary"
        ng-click="addressForm()">Addresses</div>
</div>

<uib-tabset>
    <uib-tab heading="Orders">
        <p ng-if="!orders">No orders to report</p>
        <table class="table table-bordered table-striped"
            ng-if="orders">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>ID</th>
                    <th>Notes</th>
                    <th class="text-right">Total</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{ order.Extra.created_at | otStoreDate }}</td>
                    <td>{{ order.Extra._id }}</td>
                    <td>
                        <div ng-if="order.Extra.notes">
                            <div ng-repeat="note in order.Extra.notes">
                                {{ note }}
                            </div>
                        </div>
                    </td>
                    <td class="text-right">{{ order.Extra.grand_total | currency }}</td>
                    <td>{{ order.Extra.status }}</td>
                    <td>
                        <a ng-href="/orders/{{ order.ID }}">View Order</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab heading="Subscriptions">
        <p ng-if="!subscriptions">No subscriptions to report</p>
        <table class="table table-bordered table-striped"
            ng-if="subscriptions">
            <thead>
                <tr>
                    <th>Order Date</th>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subscription in subscriptions">
                    <td>{{ subscription.Extra.created_at | otStoreDate }}</td>
                    <td>{{ subscription.Extra._id }}</td>
                    <td>{{ subscription.Extra.status }}</td>
                    <td>
                        <a ng-href="/subscriptions/{{ subscription.ID }}">View Subscription</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </uib-tab>
</uib-tabset>
