<div>
    <div class="form-group">
        <input type="date"
            class="form-control input-sm range"
            ng-model="low" />
    </div>

    <div class="form-group">
        <input type="date"
            class="form-control input-sm range"
            ng-model="high" />
    </div>

    <p ng-show="lowInvalid || highInvalid"
        class="help-block">Invalid format. Select correct date.</p>

    <a ng-click="submit()"
        class="btn btn-default btn-block btn-sm">apply</a>
</div>

