<button type="button" class="btn btn-primary" ng-click="show()">Edit</button>

<div class="modal fade" id="jsonEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Json
                </h3>
            </div>
            <div class="modal-body">
                <form name="jsonForm" class="row">
                    <!-- Items of the list -->
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-repeat="item in items  track by $index">
                        <span class="form-group col-xs-12 col-sm-6">
                            <label for="">Option Name</label>
                            <input type="text" class="form-control" ng-model="item.key" />
                        </span>
                        
                        <span class="form-group col-xs-12 col-sm-6">
                            <label for="">Option Value</label>
                            <input type="text" class="form-control" ng-model="item.value" />
                        </span>
                        
                        <div class="text-center">
                            <span class="btn btn-primary" ng-click="remove(item.key)">Delete</span>
                        </div>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="hide()">Save</button>
                <button class="btn btn-primary" ng-click="addItem()">Add Option</button>
            </div>
        </div>
    </div>
</div>