<ng-form name="passwordForm">
    <label for="inp_{{attribute.Attribute}}">
        {{attribute.Label}}
        <span class="asterisk"
            ng-show="attribute.IsRequired">*</span>
    </label>
    <div ng-class="{ 'has-error' : passwordForm.password.$error.pwmatch}">
        <input type="password"
            class="form-control"
            id="inp_{{attribute.Attribute}}"
            autocomplete="off"
            ot-apply-validator="attribute.Validators"
            password
            ot-password
            placeholder="{{attribute.Label}}"
            dynamic-name="attribute.Attribute"
            ng-required="attribute.IsRequired"
            ng-model="item[attribute.Attribute]"
            title="{{attribute.Description}}">

        <p ng-show="passwordForm.password.$error.otpassword"
            class="help-block">{{passwordForm[attribute.Attribute].message2}}</p>
    </div>

    <div ng-if="attribute.Confirm"
        ng-class="{ 'has-error' : passwordForm.password.$error.pwmatch}">
        <label>Confirm
            <span class="asterisk"
                ng-if="passwordForm.password.$error.pwmatch">*</span>
        </label>

        <input type="password"
            class="form-control"
            id="inp_{{attribute.Attribute}}_confirm"
            autocomplete="off"
            placeholder="Confirm"
            ng-model="confirm"
            title="Confirm password"
            password-confirm="attribute.Attribute">

        <p ng-show="(passwordForm.password.$error.pwmatch && !passwordForm.password.$error.otpassword)"
            class="help-block">{{passwordForm[attribute.Attribute].message}}</p>
    </div>
</ng-form>

