<ng-form name="passwordForm" novalidate>
    <div class="form-group"
        ng-class="{ 'has-error' : passwordForm.password.$invalid && passwordForm.password.$dirty}">
        <label class="control-label">
            Password*
        </label>

        <input type="password"
            class="form-control"
            name="password"
            ng-model="item.password"
            ot-password
            required
            autocomplete="off">

        <div class="help-block"
            ng-show="passwordForm.password.$dirty">
            <span ng-show="passwordForm.password.$error.required">This field is required.</span>
            <span ng-show="passwordForm.password.$error['ot-password']">{{passwordForm.password.message}}</span>
        </div>
    </div>

    <div class="form-group"
        ng-class="{ 'has-error' : passwordForm.confirm_password.$invalid && passwordForm.confirm_password.$dirty}">
        <label class="control-label">
            Confirm*
        </label>

        <!-- NOTE: intentionally not bound to the model, because we send the whole model to the server
        and the server will error out if there are any extra fields present -->
        <input type="password"
            class="form-control"
            name="confirm_password"
            ng-model="confirm_password"
            ot-match="item.password"
            required
            autocomplete="off">

        <div class="help-block"
            ng-show="passwordForm.$submitted || passwordForm.confirm_password.$dirty">
            <span ng-show="passwordForm.confirm_password.$error.required">This field is required.</span>
            <span ng-show="passwordForm.confirm_password.$error.match">The two passwords don't match</span>
        </div>
    </div>

</ng-form>

