<form role="form" name="otEditForm" role="tabpanel" novalidate>
    <ul class="nav nav-tabs">
        <li ng-class='{active:$first}' ng-repeat="(key, items) in tabs" ng-click="click(key)" role="presentation">
            <a href="#collapse{{key}}" target="_self" aria-controls="home" role="tab" data-toggle="tab">
                {{items[0].Label}}
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div ng-class='{active:$first,in:$first}' id="collapse{{key}}" class="tab-pane fade" ng-repeat="(key, items) in attributeGroups">
            <gui-form-builder attributes="items" item="item"></gui-form-builder>
        <div>
    </div>
    <br>
    <div class="text-center">
        <div class="btn btn-primary" ng-click="parent.save()">Save</div>
        <div class="btn btn-default" ng-click="parent.back()">Back</div>
    </div>
</form>

