<add-css src="style.css"></add-css>
<add-css src="style-responsive.css"></add-css>
<add-css src="dashboard.css"></add-css>
<add-css src="main.css"></add-css>


<div class="LoginWrapper" ng-controller="loginLoginController">
    <div class="LoginLogo"></div>
    <div class="LoginContainer">

        <form role="form" name="loginForm">
            <label for="username">User Name or Email Address</label>
            <input id="username" type="text" ng-model="loginCredentials.email" required auto-fill-sync/>

            <label for="password">Password</label>
            <input id="password" type="password" ng-model="loginCredentials.password" required auto-fill-sync/>

            <button type="submit" ng-click="login()">Sign In</button>
        </form>

        <div class="clear"></div>
    </div>
</div>