<dashboard-header></dashboard-header>
<div class="MainWrapper">
    <div class="LeftContentContainer" id="browseContainer">
        <div class="TabHeaderContainer" id="browseTabHeader">
            <browse-tab-header class="browse-tab-header" ng-init="submenu = menuitems;"></browse-tab-header>
        </div>
        <browse-controller></browse-controller>
        <browse-body>
            This is the help page
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            asssasa
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
dsdsds
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
wrwwr
        </browse-body>
    </div>
    <div class="clear"></div>
</div>
<dashboard-footer></dashboard-footer>
