<div class="ProductControlBar" id="editControlBar">
    <p><input type="checkbox" ng-model="product.is_visible" name="visible" id="visible" /><label for="visible">Visible</label></p>
</div>
<div class="ProductMainTopContainer">
    <div class="ProductMainImage" id="editImage">
        <img src="images/product/product-main-image.jpg"  alt="" />
    </div>
    <div class="ProductSecondaryImagesWrapper">
        <div class="ProductSecondaryImages">
            <ul>
                <li>
                    <a href="#" title=""><img src="images/product/products-secondary-images.jpg"  alt="" /></a>
                </li>
                <li>
                    <a href="#" title=""><img src="images/product/products-secondary-images.jpg"  alt="" /></a></li>
                </li>
                <li>
                    <a href="#" title=""><img src="images/product/products-secondary-images.jpg"  alt="" /></a>
                </li>
                <li>
                    <a href="#" title=""><img src="images/product/products-secondary-images.jpg"  alt="" /></a>
                </li>
                <li>
                    <a href="#" title=""><img src="images/product/products-secondary-images.jpg"  alt="" /></a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="ProductTopActions">
            <ul>
                <li><a href="#" title=""><img src="images/icon-add.png" alt=""></a></li>
                <li><a href="#" title=""><img src="images/icon-del.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/icon-browse.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="ProductSecondaryInfo" id="editBody">
    <ul>
        <li>
            <label>product name</label>
            <input type="text" name="name" ng-model="product.name" required/>
        </li>
        <li>
            <label>product ID</label>
            <input type="text" name="id" ng-model="product.id"/>
        </li>
    </ul>
    <ul>
        <li>
            <label>SKU</label>
            <input type="text" name="sku" ng-model="product.sku" required />
        </li>
        <li>
            <label>MPN</label>
            <input type="text" name="mpn" ng-model="product.mpn"/>
        </li>
    </ul>
    <div class="clear"></div>
    <label>tags</label>
    <input type="text" />
    <label>categories</label>
    <input type="text" name="categories" ng-model="product.categories"/>
    <div class="ProductSecondaryInfoSep"></div>
    <label>short description</label>
    <input type="text" name="short_description" ng-model="product.short_description"/>
    <label>long description</label>
    <textarea rows="0" cols="0" name="description" ng-model="product.description"></textarea>
</div>