<div id="productListPanel" class="panel panel-default">
    <div class="panel-heading">

        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New</button>
            </div>

            <input type="text" class="form-control" placeholder="Search">

            <div class="input-group-btn">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-large"></span></button>
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
            </div>
        </div>

    </div>
    <div class="panel-body">

        <ul class="media-list">
            <li class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/product/iphone-5s-white.jpg" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">iphone-5s-white</h4>
                    Default product
                </div>
            </li>
        </ul>

    </div>
</div>