<div class="BrowseController" id="browseController">
    <div class="AddButtonContainer">
        <a ng-click="addNewEntity()" title=""><img src="images/icon-add.png" width="32" height="32" alt=""></a>
    </div>
    <div class="SwithViewContainer">
        <a ng-click="switchView('tile')" title=""><img src="images/icon-grid.png" width="32" height="32" alt=""></a>
        <a ng-click="switchView('list')"title=""><img src="images/icon-list.png" width="32" height="32" alt=""></a>
    </div>
    <div class="SearchContainer">
        <form>
            <input type="text" name="top-search" class="top-search"/>
        </form>
    </div>
</div>