<div class="page-header">
	<h1 ng-if="product._id">
		<span class="fa fa-tags"></span>
		<a ng-href="/products">Products</a> / {{product.name}} [{{product.sku}}]
	</h1>
	<h1 ng-if="!product._id">
		<span class="fa fa-tags"></span>
		<a ng-href="/products">Products</a> / New
	</h1>
</div>

<ot-grid grid="productsGrid" config="gridViewConfig"></ot-grid>

<!-- Error mesage -->
<ot-message-manager item="message"></ot-message-manager>

<!-- Tabs editor -->
<ot-attributes-editor-form-tabs attributes-list="attributes" object="this" item="product"></ot-attributes-editor-form-tabs>
