.product-option {
    & > .panel-heading {
        cursor: pointer;
        font-size: 16px;

        .fa {
            margin-left: 7px;
            font-size: 18px;
        }
    }

    .option-delete-container {
        text-align: left;

        @media (min-width: $screen-sm-min) {
            text-align: right;
        }
    }

    .option-selections {
        h3 {
            text-transform: uppercase;
            color: $gray;
            font-weight: 500;
        }

        th {
            background-color: $gray-lighter;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }

        img {
            display: inline-block;
        }
    }
}