<div class="BrowseController" id="browseController">
    <div class="AddButtonContainer">
        <a ng-click="addNewEntity()" title="" class="fa fa-3x fa-plus-circle"></a>
    </div>
    <div class="SwithViewContainer {{activeView}}">
        <a ng-click="switchView('tile')" class="tile fa fa-3x fa-th-large" title=""></a>
        <a ng-click="switchView('list')" class="list fa fa-3x  fa-align-justify" title=""></a>
    </div>
    <div class="SearchContainer">
        <form>
           <div class="fa fa-3x fa-search"><input type="text" name="top-search" class="top-search"></div>
        </form>
    </div>
</div>