<div ng-repeat="attribute in attributes" ng-if="attribute.Type!=='group'" class="form-item">
    <div ng-switch="attribute.Editors">

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="not_editable">
            <label>{{attribute.Label}} <span  ng-show="attribute.IsRequired">*</span></label>
            <ot-not-editable editor-scope="attribute" item="item"></ot-not-editable>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="multiline_text"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>
                {{attribute.Label}}
                <span ng-show="attribute.IsRequired">*</span>
                <a uib-tooltip="{{attribute.Description}}"
                    ng-show="attribute.Description">
                    <i class="fa fa-info-circle"></i>
                </a>
            </label>
            <ot-multiline-text editor-scope="attribute"
                item="item">
            </ot-multiline-text>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12" ng-switch-when="html"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">

            <ot-html editor-scope="attribute" item="item"></ot-html>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="text"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>
                {{attribute.Label}}
                <span class="asterisk"
                    ng-show="attribute.IsRequired">*
                </span>
                <a uib-tooltip="{{attribute.Description}}"
                    ng-show="attribute.Description">
                    <i class="fa fa-info-circle"></i>
                </a>
            </label>
            <ot-text editor-scope="attribute"
                item="item"
                ng-required="attribute.IsRequired"
                name="attribute.Attribute">
            </ot-text>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="price"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
             (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-price editor-scope="attribute" item="item" ng-required="attribute.IsRequired"
                      name="attribute.Attribute"></ot-price>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="datetime"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-datetime editor-scope="attribute" item="item"></ot-datetime>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="model_selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-model-selector editor-scope="attribute" item="item"></ot-model-selector>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="array_model_selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-array-model-selector editor-scope="attribute" item="item"></ot-array-model-selector>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div ng-switch-when="password"
            class="form-group col-xs-12 col-sm-6">
            <ot-password item="item" editor-scope="attribute"></ot-password>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="boolean"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>
                {{attribute.Label}}
                <span class="asterisk"
                    ng-show="attribute.IsRequired">*</span>
                <a uib-tooltip="{{attribute.Description}}"
                    ng-show="attribute.Description">
                    <i class="fa fa-info-circle"></i>
                </a>
            </label>
            <ot-boolean editor-scope="attribute"
                item="item">
            </ot-boolean>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="select"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-select editor-scope="attribute" item="item"></ot-select>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div ng-switch-when="selector"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-select editor-scope="attribute" item="item"></ot-select>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="multi_select"
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-multi-select editor-scope="attribute" item="item"></ot-multi-select>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <div class="form-group col-xs-12" ng-switch-when="visitor_selector">
            <label>{{attribute.Label}} <span class="asterisk"
                                             ng-show="attribute.IsRequired">*</span></label>
            <ot-visitor-selector editor-scope="attribute" item="item"></ot-visitor-selector>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="category_selector">
            <label>{{attribute.Label}} <span ng-show="attribute.IsRequired">*</span></label>
            <ot-category-selector editor-scope="attribute" item="item"></ot-category-selector>
        </div>


        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="page_selector">
          <label>{{attribute.Label}} <span ng-show="attribute.IsRequired">*</span></label>
          <ot-page-selector editor-scope="attribute" item="item"></ot-page-selector>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="products_selector">
          <label>{{attribute.Label}} <span ng-show="attribute.IsRequired">*</span></label>
          <ot-products-selector editor-scope="attribute" item="item" parent="parent"></ot-products-selector>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="post_selector">
            <label>{{attribute.Label}} <span ng-show="attribute.IsRequired">*</span></label>
            <ot-post-selector editor-scope="attribute" item="item"></ot-post-selector>
        </div>

        <!-- PDP: Product options -->
        <div class="col-xs-12" ng-switch-when="product_options">
            <ot-product-options-manager product="item" product-scope="parent" editor-scope="attribute"></ot-product-options-manager>
        </div>

        <!-- Product Configurations -->
        <div class="col-xs-12" ng-switch-when="product_configurations">
            <ot-product-configurations-manager product="item" product-scope="parent" attributes="parent.attributes"></ot-product-configurations-manager>
        </div>

        <!-- PDP: Product Sale Price -->
        <div class="col-xs-12" ng-switch-when="sale_prices">
            <ot-sale-price-manager editor-scope="attribute" item="item"></ot-sale-price-manager>
        </div>

        <!-- PDP: Pictures manager -->
        <div class="container-fluid text-center" ng-switch-when="picture_manager">
            <ot-picture-manager image-handler="parent" images="parent.images" images-path="parent.imagesPath"></ot-picture-manager>
        </div>

        <!-- PDP: Inventory manager -->
        <div class="col-xs-12" ng-switch-when="inventory_manager">
            <ot-inventory-manager
              options="item.options"
              inventory="item.inventory">
            </ot-inventory-manager>
        </div>

        <div class="form-group col-xs-12 col-sm-6" ng-switch-default
             ng-class="{ 'has-error' : (parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
                       (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine) }">

            <label>
              {{attribute.Label}}
              <span class="asterisk"
                ng-show="attribute.IsRequired">*</span>
                <a uib-tooltip="{{attribute.Description}}"
                    ng-show="attribute.Description">
                    <i class="fa fa-info-circle"></i>
                </a>
            </label>
            <ot-text editor-scope="attribute" item="item"></ot-text>

            <p ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$error.required)"
               class="help-block">This field is required.</p>

            <p ng-if="!parent.form[attribute.Attribute].$error.required"
               ng-show="(parent.form.submitted && parent.form.{{attribute.Attribute}}.$invalid) ||
               (parent.form.{{attribute.Attribute}}.$invalid && !parent.form.{{attribute.Attribute}}.$pristine)"
               class="help-block">{{parent.form[attribute.Attribute].message}}</p>
        </div>

        <!-- Selector products with modal -->
        <div class="form-group col-xs-12 col-sm-6" ng-switch-when="product_selector">
            <label>{{attribute.Label}} <span ng-show="attribute.IsRequired">*</span></label>
            <ot-product-selector editor-scope="attribute" item="item" parent="parent"></ot-product-selector>
        </div>

    </div>

</div>
<div class="clearfix"></div>
