<section ng-init="init()">
    <form role="form" class="form-group  ">

        <!-- Pagination -->
        <div class="text-center" ng-show="paginator.countPages > 1">
            <div uib-pagination
                total-items="paginator.countItems"
                items-per-page="paginator.countPerPage"
                force-ellipses="true"
                max-size="5"
                boundary-link-numbers="true"
                ng-model="paginator.page"
                ng-change="updateSearch()">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class=" ">
                        <!-- Checkboxes column thead -->
                        <th class="checkboxes-column" ng-if="buttons.checkbox">
                            <input type="checkbox" id="selectAll" ng-click="selectAll()">
                        </th>

                        <!-- Other columns thead -->
                        <th ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'th-sort': field.label}" ng-click="field.label ? setSort(field.attribute) : ''">
                            {{field.label}}
                            <span ng-class="getSortClass(field.attribute)"></span>
                        </th>
                    </tr>

                    <!-- Filters row -->
                    <tr class=" " ng-hide="filters.length <= 1 && !filters[0].visible">
                        <th ng-if="buttons.checkbox">&nbsp;</th>
                        <th ng-repeat="filter in filters" ng-switch="filter.type" ng-show="parent.fields[$index].visible">
                            <div ng-switch-when="text">
                                <ot-filter-text editor-scope="filter.attributes" item="filter" object="this"></ot-filter-text>
                            </div>

                            <div ng-switch-when="select">
                                <ot-filter-select editor-scope="filter.attributes" item="filter" object="this"></ot-filter-select>
                            </div>
                            <div ng-switch-default="">
                                &nbsp;
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class=" " ng-repeat="_item in items" ng-click="rowClick(_item)">

                        <!-- Checkboxes column -->
                        <td class="checkboxes-column" ng-if="buttons.checkbox">
                            <input type="checkbox" ng-checked="parent.selected[_item[map.id]]" ng-if="!_item.IsStatic">
                        </td>

                        <!-- Other columns with ng-switcher -->
                        <td ng-repeat="field in parent.fields" ng-show="field.visible" ng-class="{'select-link': field.type ==='select-link'}">
                            <span ng-switch="field.type">
                                <!-- Image -->
                                <span ng-switch-when="image">
                                    <img class="media-object"
                                         ng-src="{{ _item.Images[0].thumb }}"
                                         style="width: 50px; height: 50px;">
                                </span>

                                <!-- Currency -->
                                <div ng-switch-when="price" class="text-right">{{_item[field.attribute] | currency}}</div>
                                <span ng-switch-when="currency">{{_item[field.attribute] | currency}}</span>

                                <!-- Date -->
                                <span ng-switch-when="date"
                                    ot-store-date
                                    date="_item[field.attribute]">
                                </span>

                                <!-- Link -->
                                <span ng-switch-when="select-link">
                                    <div ng-click="parent.select(_item[map.id])">{{_item[field.attribute]}}</div>
                                </span>

                                <!-- String, text -->
                                <span ng-switch-default="">{{_item[field.attribute]}}</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="text-center" ng-show="paginator.countPages > 1">
            <div uib-pagination
                total-items="paginator.countItems"
                items-per-page="paginator.countPerPage"
                force-ellipses="true"
                max-size="5"
                boundary-link-numbers="true"
                ng-model="paginator.page"
                ng-change="updateSearch()">
            </div>
        </div>

        <div class="clearfix"></div>
    </form>
</section>
