<section>
    <form role="form" class="form-group">

        <div class="row m-b">

            <!-- Delete/New buttons -->
            <div class="col-xs-8 col-sm-6">
                <button class="btn btn-default"
                    ng-click="parent.remove()"
                    ng-if="buttons.delete">Delete</button>
                <button class="btn btn-default"
                    ng-click="parent.create()"
                    ng-if="buttons.new">New</button>
            </div>


            <!-- Filters -->
            <div class="col-xs-4 col-sm-6">
                <div class="btn-group pull-right">
                    <button class="filters btn btn-default"
                        type="button"
                        ng-show="parent.fields.length > 1"
                        ng-click="isFiltersVisible = !isFiltersVisible">
                        Filters
                    </button>
                </div>
            </div>
        </div>

        <!-- Pagination -->
        <div class="text-center" ng-show="paginator.countPages > 1">
            <div uib-pagination
                total-items="paginator.countItems"
                items-per-page="paginator.countPerPage"
                force-ellipses="true"
                max-size="5"
                boundary-link-numbers="true"
                ng-model="paginator.page"
                ng-change="updateSearch()">
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <!-- Labels -->
                <thead>
                    <tr>
                        <th class="checkboxes-column">
                            <input type="checkbox" id="selectAll" ng-click="selectAll()">
                        </th>
                        <!--
                        note: parent.fields is sometimes dynamically added to,
                        as in the products grid
                        -->
                        <th class="th-clickable"
                            ng-repeat="field in parent.fields"
                            ng-show="::field.visible"
                            ng-class="::{'text-uppercase': field.label}"
                            ng-click="field.label ? setSort(field.attribute) : ''">
                            {{::field.label}}
                            <span ng-class="getSortClass(field.attribute)"></span>
                        </th>
                    </tr>
                    <!-- Filters -->
                    <tr ng-show="isFiltersVisible">
                        <td>&nbsp;</td>
                        <td ng-repeat="filter in filters"
                            ng-switch="filter.type"
                            ng-show="parent.fields[$index].visible">
                            <div ng-switch-when="text">
                                <ot-filter-text editor-scope="filter.attributes" item="filter" object="this"></ot-filter-text>
                            </div>

                            <div ng-switch-when="range">
                                <ot-filter-range editor-scope="filter.attributes" item="filter" object="this"></ot-filter-range>
                            </div>

                            <div ng-switch-when="select">
                                <ot-filter-select editor-scope="filter.attributes" item="filter" object="this"></ot-filter-select>
                            </div>

                            <div ng-switch-when="date_range">
                                <ot-filter-date-range editor-scope="filter.attributes" item="filter" object="this"></ot-filter-date-range>
                            </div>

                            <div ng-switch-default="">
                                &nbsp;
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="_item in ::items">
                        <td class="checkboxes-column">
                            <input type="checkbox"
                                ng-if="::!_item.IsStatic"
                                ng-model="parent.idsSelectedRows[_item[map.id]]">
                        </td>
                        <td ng-click="parent.select(_item[map.id])"
                            ng-repeat="field in ::parent.fields"
                            ng-show="::field.visible"
                            ng-class="::{'select-link': field.type ==='select-link'}">
                            <span ng-switch="::field.type">

                                <!-- Image -->
                                <span ng-switch-when="image">
                                    <img class="media-object"
                                        ng-src="{{ _item.Images[0].thumb }}"
                                        style="width: 50px; height: 50px;">
                                </span>

                                <!-- Currency -->
                                <span ng-switch-when="price" class="text-right">{{_item[field.attribute] | currency}}</span>
                                <span ng-switch-when="currency">{{_item[field.attribute] | currency}}</span>

                                <!-- Date -->
                                <span ng-switch-when="date"
                                    ot-store-date
                                    date="::_item[field.attribute]">
                                </span>

                                <!-- Link -->
                                <span ng-switch-when="select-link">
                                    <div>{{_item[field.attribute]}}</div>
                                </span>

                                <!-- String, text -->
                                <span ng-switch-default="">{{_item[field.attribute]}}</span>

                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Pagination -->
        <div class="text-center" ng-show="paginator.countPages > 1">
            <div uib-pagination
                total-items="paginator.countItems"
                items-per-page="paginator.countPerPage"
                force-ellipses="true"
                max-size="5"
                boundary-link-numbers="true"
                ng-model="paginator.page"
                ng-change="updateSearch()">
            </div>
        </div>

    </form>
</section>
