<!-- Navigation bar -->
<nav class="navbar navbar-default navbar-static-top hidden-xs" id="header_sidebar" ng-controller="dashboardHeaderController">
    <div class="container-fluid text-center" ng-show='isNavVisible()'>

        <!-- sidebar toggler -->
        <ul class="nav navbar-nav navbar-left"  data-toggle="offcanvas" >
            <li>
                <a href="" class="sidebar-toggler">
                    <span class="fa fa-bars"></span>
                </a>
            </li>
        </ul>

        <!-- Logo -->
        <div class="navbar-brand">
            <a href="#/">
                <img ng-src="{{getImg('logo.png')}}" alt=""/>
            </a>
        </div>

        <!-- Right side -->
        <div class="collapse navbar-collapse pull-right">

            <!-- Account menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>&nbsp;
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id="static_sidebar" class="visible-lg"><a href="">Sidebar visibility</a></li>
                        <li id="navbar_switch_top" class="visible-md visible-lg"><a href="">Navbar mode</a></li>
                        <li ng-repeat="item in rightMenu" ng-include="getTemplate('dashboard/header/menuItem.html')"></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>


<!-- Navigation bar -->
<nav class="navbar navbar-default hidden-sm" id="header_no_sidebar" ng-controller="dashboardHeaderController">
    <div class="container-fluid" ng-show='isNavVisible()'>
        <div class="navbar-header">

            <!-- Logo -->
            <a class="navbar-brand" href="#/">
                <img ng-src="{{getImg('logo.png')}}" alt=""/>
            </a>

            <!-- Mobile menu's button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Right side -->
        <div class="collapse navbar-collapse" id="myNavbar">

            <!-- Account menu -->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>&nbsp;
                        {{it.getUsername()}}&nbsp;
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li id="navbar_switch_side" class="hidden-xs hidden-sm"><a href="">Sidebar mode</a></li>
                        <li id="fix_navbar" class="hidden-xs hidden-sm"><a href="">Fix the navbar</a></li>
                        <li ng-repeat="item in rightMenu" ng-include="getTemplate('dashboard/header/menuItem.html')"></li>
                    </ul>
                </li>
            </ul>

            <!-- Main menu -->

            <ul class="nav navbar-nav text-center main-menu" ng-controller="dashboardSidebarController">
                <li ng-repeat="item in items track by $index"
                ng-include="getTemplate('dashboard/header/sidebarItem.html')" class="dropdown visible-xs-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block text-left">
                </li>
            </ul>
        </div>
    </div>
</nav>