<div class="page-header">
    <h1>
        <span class="fa fa-home"></span> Dashboard
    </h1>
</div>

<section class="welcome">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Sales</h3></div>
                <table class="table table-dashboard">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Total Sales</th>
                            <th>Order Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-dashboard__highlight">
                            <th>Today</th>
                            <td>$<span odometer="salesStats.sales.today"></span></td>
                            <td><span odometer="salesStats.orders.today"></span></td>
                        </tr>
                        <tr>
                            <th>Yesterday</th>
                            <td>{{salesStats.sales.yesterday | currency}}</td>
                            <td>{{salesStats.orders.yesterday}}</td>
                        </tr>
                        <tr>
                            <th>Last 7 Days</th>
                            <td>{{salesStats.sales.week | currency}}</td>
                            <td>{{salesStats.orders.week}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="chart-widget">
                    <highchart config="salesGraph"></highchart>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Visits</h3></div>
                <table class="table table-dashboard">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Total Page Views</th>
                            <th>Unique Visitors</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-dashboard__highlight">
                            <th>Today</th>
                            <td><span odometer="visitStats.total.today"></span></td>
                            <td><span odometer="visitStats.unique.today"></span></td>
                        </tr>
                        <tr>
                            <th>Yesterday</th>
                            <td>{{visitStats.total.yesterday}}</td>
                            <td>{{visitStats.unique.yesterday}}</td>
                        </tr>
                        <tr>
                            <th>Last 7 Days</th>
                            <td>{{visitStats.total.week}}</td>
                            <td>{{visitStats.unique.week}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="chart-widget">
                    <highchart config="visitorGraph" class="chart"></highchart>
                </div>
            </div>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Conversions</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="conversion-widget">
                                <h4 class="conversion-widget__header">Added to cart</h4>
                                <div class="conversion-widget__percent">{{conversions.addedToCartPercent | number:2}}%</div>
                                <div class="conversion-widget__count">{{conversions.addedToCart}} customers</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="conversion-widget">
                                <h4 class="conversion-widget__header">Reached Checkout</h4>
                                <div class="conversion-widget__percent">{{conversions.reachedCheckoutPercent | number:2}}%</div>
                                <div class="conversion-widget__count">{{conversions.reachedCheckout}} customers</div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="conversion-widget">
                                <h4 class="conversion-widget__header">Purchased</h4>
                                <div class="conversion-widget__percent">{{conversions.purchasedPercent | number:2}}%</div>
                                <div class="conversion-widget__count">{{conversions.purchased}} customers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Top Referrals</h3></div>
                <table class="table table-striped table-statistic">
                    <tbody>
                        <tr ng-repeat="item in referrers | limitTo:10">
                            <td>{{item.url}}</td>
                            <td class="text-right">{{item.count}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Top Sellers -->
    <div class="panel panel-default top-p-widget">
        <div class="panel-heading"><h3 class="panel-title">Top Products</h3></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-2" ng-repeat="item in topSellers | limitTo:6">
                    <div class="thumbnail">
                        <img ng-src="{{getProductImage(item.image)}}" class="img-responsive">
                        <div class="caption">
                            <h5 class="top-p-widget__name">{{item.name}}</h5>
                            <div>sold: {{item.count}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
