<div class="HeaderWrapper" id="globalHeader">
    <div class="LogoContainer">
        <a href="#" title=""><img src="../../images/logo.png" width="32"
                                  height="32" alt=""></a>
    </div>
    <div class="VisitorSettingWrapper">
        <div class="VisitorSettingContainerGlobal">
            <a href="#" title="" class="visitor-name">
                <img src="../../images/visitor/avatar.jpg" width="32"
                     height="32" alt=""/>
                <span>User Name</span>
            </a>

            <div class="VisitorSettingContainer">
                <a href="#" title="" class="visitor-setting-image"><img
                        src="../../images/settings-image.png" width="32"
                        height="32" alt=""/></a>
            </div>
        </div>
    </div>
</div>