<!-- Theme switcher -->
<div id="theme_switcher" class="btn-primary">
    <span class="btn btn-primary">
        <i class="fa fa-cog fa-spin"></i>
    </span>
    <div id="switcher">
        <div class="preview" id="default">
            <img class="" src="">
        </div>
        <div class="preview" id="cerulean">
            <img class="" src="">
        </div>
        <div class="preview" id="cosmo">
            <img class="" src="">
        </div>
        <div class="preview" id="cyborg">
            <img class="" src="">
        </div>
        <div class="preview" id="darkly">
            <img class="" src="">
        </div>
        <div class="preview" id="flatly">
            <img class="" src="">
        </div>
        <div class="preview" id="journal">
            <img class="" src="">
        </div>
        <div class="preview" id="lumen">
            <img class="" src="">
        </div>
        <div class="preview" id="paper">
            <img class="" src="">
        </div>
        <div class="preview" id="readable">
            <img class="" src="">
        </div>
        <div class="preview" id="sandstone">
            <img class="" src="">
        </div>
        <div class="preview" id="simplex">
            <img class="" src="">
        </div>
        <div class="preview" id="spacelab">
            <img class="" src="">
        </div>
        <div class="preview" id="superhero">
            <img class="" src="">
        </div>
        <div class="preview" id="united">
            <img class="" src="">
        </div>
        <div class="preview" id="yeti">
            <img class="" src="">
        </div>
    </div>
    <!-- navigation arrows -->
    <button class="btn btn-lg btn-success scroll-down fa fa-arrow-circle-o-down"></button>
    <button class="btn btn-lg btn-success scroll-up fa fa-arrow-circle-o-up"></button>
</div>