@font-face {
    font-family: 'roboto_ltregular';
    src: url('fonts/roboto/roboto-light.eot');
    src: url('fonts/roboto/roboto-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-light.woff') format('woff'),
         url('fonts/roboto/roboto-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto/roboto-bold.eot');
    src: url('fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-bold.woff') format('woff'),
         url('fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto/roboto-regular.eot');
    src: url('fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto/roboto-regular.woff') format('woff'),
         url('fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: Arial;
  height: 100%;
}

img {
  border: 0;
  margin: 0;
  padding: 0; }

.clear {
  height: 0;
  width: 100%;
  clear: both; }

ul {
  margin: 0px;
  padding: 0;
  list-style: none; }

.MainWrapper {
  background: #131010;
  position: relative;
  overflow: hidden; }

.fa-plus-circle {
  color: #ffffff !important; }

.fa-th-large {
  color: #ffffff !important; }

.fa-align-justify {
  color: #ffffff !important; }

.container {
  width: 100%;
  padding: 0; }

.ng-hide {
  display: none !important; }

.show-mobile {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 5px; }

.HeaderWrapper {
  with: 100%;
  height: 32px;
  background: #000000; }

.LogoContainer {
  float: left;
  width: 35%;
  height: 32px; }
  .LogoContainer a {
    display: inline-block; }
    .LogoContainer a img {
      vertical-align: top; }

.VisitorSettingWrapper {
  width: 65%;
  float: right; }

.VisitorSettingContainerGlobal {
  background: #242424;
  min-width: 185px;
  width: 185px;
  height: 32px;
  position: relative;
  float: right; }
  .VisitorSettingContainerGlobal .visitor-name {
    position: relative;
    float: left;
    color: #ffffff;
    text-decoration: none;
    padding-left: 40px;
    line-height: 32px; }
    .VisitorSettingContainerGlobal .visitor-name img {
      position: absolute;
      top: 0;
      left: 0; }
  .VisitorSettingContainerGlobal .VisitorSettingContainer {
    float: right;
    background: #000000; }
    .VisitorSettingContainerGlobal .VisitorSettingContainer a img {
      vertical-align: top; }

.LeftContentContainer {
  float: left;
  width: 35%;
  background: #1a1919;
  padding-left: 85px;
  position: relative;
  box-sizing: border-box;
  height: 100%; }

/* ----------------------------------------- TabHeaderContainer Styles ---------------------------------------------- */
.TabHeaderContainer {
  width: 85px;
  background: url("../images/adminTab-background.png") top left repeat-x;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100%;
  background: #000000; }
  .TabHeaderContainer .tabs-header-list {
    padding-right: 64px; }
    .TabHeaderContainer .tabs-header-list li {
      float: left;
      padding: 6px;
      height: 52px;
      width: 52px;
      text-align: center;
      background: url("../images/adminTab-inactive.png") top left repeat-x; }
      .TabHeaderContainer .tabs-header-list li.active {
        background: url("../images/adminTab-active.png") top left repeat-x; }
      .TabHeaderContainer .tabs-header-list li a {
        text-decoration: none; }
        .TabHeaderContainer .tabs-header-list li a img {
          display: block;
          margin: 0 10px 6px 10px; }
        .TabHeaderContainer .tabs-header-list li a span {
          font-family: "sans serif";
          color: #ffffff; }

/* ----------------------------------------- END TabHeaderContainer Styles ------------------------------------------ */
/* -----------------------------------------  BrowseController Styles ----------------------------------------------- */
.BrowseController {
  background: #272525;
  padding: 8px;
  height: 35px; }
  .BrowseController .AddButtonContainer {
    float: left;
    width: 32px;
    height: 35px;
    margin-right: 8px; }
  .BrowseController .SwithViewContainer {
    float: right;
    width: 44px;
    height: 35px; }
    .BrowseController .SwithViewContainer .list {
      display: none; }
    .BrowseController .SwithViewContainer a {
      float: left;
      margin-left: 8px;
      cursor: pointer;
      top: 2px;
      position: relative; }
      .BrowseController .SwithViewContainer a:hover {
        text-decoration: none; }
    .BrowseController .SwithViewContainer.tile .tile {
      display: none; }
    .BrowseController .SwithViewContainer.tile .list {
      display: block; }
    .BrowseController .SwithViewContainer.list .list {
      display: none; }
  .BrowseController .SearchContainer {
    height: 35px;
    width: auto;
    background: #ffffff;
    position: relative;
    margin: 0 44px 0 40px; }
    .BrowseController .SearchContainer div {
      position: relative;
      width: 100%; }
    .BrowseController .SearchContainer input {
      width: 100%;
      height: 35px;
      margin: 0;
      box-sizing: border-box;
      border: 0;
      line-height: 32px;
      padding-left: 35px;
      position: absolute;
      top: 0;
      left: 0;
      background: none; }

/* ----------------------------------------- End BrowseController Styles -------------------------------------------- */
/* ----------------------------------------- BrowseBody Styles ------------------------------------------------------ */
.BrowseBody {
  background: #1a1919;
  padding: 8px;
  height: 100%; }
  .BrowseBody .visitor-list li {
    position: relative;
    padding-top: 8px; }
    .BrowseBody .visitor-list li:first-child {
      padding-top: 8px; }
      .BrowseBody .visitor-list li:first-child .visitors-list-avatar {
        top: 0px; }
    .BrowseBody .visitor-list li .visitors-list-avatar {
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 32px;
      height: 32px;
      overflow: hidden; }
      .BrowseBody .visitor-list li .visitors-list-avatar img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top; }
      .BrowseBody .visitor-list li .visitors-list-avatar .visitors-title-avatar {
        display: none; }
    .BrowseBody .visitor-list li .visitors-list-text {
      display: block;
      padding: 0 10px 0px 42px;
      height: 32px;
      background: #ffffff;
      color: #000000;
      width: 100%;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 32px;
      overflow: hidden; }
  .BrowseBody .visitor-list.tile li {
    background: #ffffff;
    float: left;
    width: 32%;
    margin-left: 2%;
    margin-top: 8px;
    padding-top: 0; }
    .BrowseBody .visitor-list.tile li.visitor-first {
      margin-left: 0%; }
    .BrowseBody .visitor-list.tile li .visitors-list-avatar {
      position: relative;
      width: 100%;
      height: 96px;
      text-align: center;
      line-height: 96px;
      top: -1px;
      display: block; }
      .BrowseBody .visitor-list.tile li .visitors-list-avatar img {
        vertical-align: middle; }
    .BrowseBody .visitor-list.tile li .visitors-list-text {
      padding: 0 5px;
      text-align: center;
      background: none;
      line-height: 15px;
      font-size: 12px; }
    .BrowseBody .visitor-list.tile li:hover {
      background: #19b2ff; }
      .BrowseBody .visitor-list.tile li:hover .visitors-list-text {
        color: #ffffff; }
  .BrowseBody .BrowseBodyInner {
    overflow: auto;
    height: 100%; }

/* ----------------------------------------- End BrowseBody Styles -------------------------------------------------  */
.RightContentContainer {
  float: left;
  width: 65%;
  background: #131010;
  height: 100%; }

.RightContentInner {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }

/* ------------------------------------------ VisitorControlBar Styles --------------------------------------------- */
.VisitorControlBar {
  height: 32px;
  background: #131010; }
  .VisitorControlBar li {
    height: 32px;
    float: left;
    padding: 0 8px;
    line-height: 32px; }
    .VisitorControlBar li a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      text-transform: uppercase;
      display: inline-block; }
    .VisitorControlBar li span {
      color: #ffffff;
      font-size: 14px; }
    .VisitorControlBar li.use-type-select {
      background: #131010; }
      .VisitorControlBar li.use-type-select a {
        padding-right: 14px;
        position: relative;
        min-width: 10px;
        height: 32px; }
      .VisitorControlBar li.use-type-select span {
        position: absolute;
        right: 4px;
        top: 14px; }
        .VisitorControlBar li.use-type-select span:after {
          position: absolute;
          border: solid transparent;
          content: " ";
          top: auto;
          left: auto;
          height: 0;
          width: 0;
          margin: 0;
          border-color: transparent;
          border-width: 5px;
          pointer-events: none; }
        .VisitorControlBar li.use-type-select span:after {
          top: 100%;
          border-top-color: white;
          margin-left: -5px;
          left: 50%; }

/* ------------------------------------------ End VisitorControlBar Styles ----------------------------------------- */
/* ------------------------------------------ VisitorTopProfile Styles ----------------------------------------------*/
.VisitorProfileMainImage {
  float: left;
  width: 40%;
  float: left;
  margin-right: 10%;
  text-align: center; }

.VisitorProfileSecondaryImage {
  float: left;
  width: 70%; }
  .VisitorProfileSecondaryImage li {
    float: left;
    width: 25%;
    padding-bottom: 15px; }

.VisitorProfileButtons {
  float: left;
  width: 50%;
  padding-right: 33px;
  box-sizing: border-box; }
  .VisitorProfileButtons button {
    display: block;
    width: 150px;
    margin-bottom: 15px; }

.VisitorSectionTitle {
  text-align: left;
  background: #ffffff;
  margin: 0 33px 10px 0; }
  .VisitorSectionTitle h3 {
    padding: 5px 0 5px 10px;
    margin: 0;
    color: #000000;
    font-weight: normal;
    font-size: 18px; }

.VisitorProfileMainInfoWrapper {
  width: 70%;
  background: #131010;
  float: left;
  min-height: 204px; }
  .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo {
    padding: 15px 0 15px 48px; }
    .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo span {
      color: #ffffff;
      font-size: 18px;
      display: block;
      margin-bottom: 8px; }
    .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo label {
      display: block;
      color: #ffffff;
      font-size: 12px;
      margin: 0 0 3px 6px; }
    .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo input {
      display: block;
      margin: 0 0 3px 5px;
      width: 257px;
      padding: 0 5px;
      height: 25px;
      border: 1px solid #ffffff; }

.VisitorSecondaryInfo {
  clear: both;
  padding: 15px 35px 30px 35px; }
  .VisitorSecondaryInfo .panel-collapse {
    background: #131010; }
  .VisitorSecondaryInfo label {
    display: block;
    margin: 0 0 3px 6px;
    font-size: 12px;
    color: #ffffff; }
  .VisitorSecondaryInfo input {
    margin: 0 0 8px 6px;
    border: 1px solid #ffffff;
    padding: 0 5px;
    display: block;
    height: 25px; }
    .VisitorSecondaryInfo input.middle-size {
      width: 305px; }
    .VisitorSecondaryInfo input.biggest-size {
      width: 540px; }
    .VisitorSecondaryInfo input.small-size {
      width: 160px; }
  .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom {
    float: left;
    margin-right: 19px; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom label {
      margin-left: 0; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom input {
      margin-left: 0; }
      .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom input .biggest-size {
        clear: left; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom.second {
      float: none;
      clear: left; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom select {
      border: 1px solid #ffffff;
      height: 27px;
      width: 170px; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom.first {
      margin-left: 6px; }
  .VisitorSecondaryInfo .VisitorAbsoluteButtons {
    position: absolute;
    bottom: 0px;
    right: 10px;
    z-index: 100; }

/* ------------------------------------------ End VisitorTopProfile Styles ----------------------------------------- */
.FooterWrapper {
  height: 40px;
  background: #000000;
  width: 100%; }

/*---------------------------- Styles for User Right Panel for Portrait View -----------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1000px) and (orientation: portrait) {
  .VisitorSecondaryInfo input {
    width: 305px !important;
    box-sizing: border-box;
    margin: 0 0 3px 0; }
  .VisitorSecondaryInfo select {
    width: 305px !important;
    box-sizing: border-box;
    margin: 0 0 3px 0; }
  .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom {
    float: none;
    margin-right: 0; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom.first {
      margin-left: 0; }
  .VisitorProfileMainImage {
    width: 100%;
    margin: 0; }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0; }
    .VisitorProfileButtons button {
      display: inline-block; } }

/*---------------------------- End Styles for User Right Panel for Portrait View -------------------------------------*/
/*---------------------------- Styles for User Right Panel for Landscape View ----------------------------------------*/
@media only screen and (min-width: 600px) and (max-width: 1000px) and (orientation: landscape) {
  .VisitorSecondaryInfo input {
    width: 305px !important;
    box-sizing: border-box;
    margin: 0 0 3px 0; }
  .VisitorSecondaryInfo select {
    width: 305px !important;
    box-sizing: border-box;
    margin: 0 0 3px 0; }
  .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom {
    float: none;
    margin-right: 0; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom.first {
      margin-left: 0; }
  .VisitorProfileMainImage {
    width: 100%;
    margin: 0; }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0; }
    .VisitorProfileButtons button {
      display: inline-block; } }

/*---------------------------- End Styles for User Right Panel for Landscape View ------------------------------------*/
/*---------------------------- Styles for User Right Panel -----------------------------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 670px) {
  .RightContentContainer {
    width: 100%; }
  .LeftContentContainer {
    width: 100%; }
  .VisitorProfileMainImage {
    width: 100%;
    margin: 0; }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0; }
    .VisitorProfileButtons button {
      display: inline-block; }
  .ng-hide {
    display: none !important; }
  .show-mobile {
    display: block !important; } }

@media only screen and (min-width: 320px) and (max-width: 568px) {
  .VisitorProfileImage {
    width: 100%; }
  .VisitorProfileMainInfoWrapper {
    width: 100%; }
    .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo {
      padding: 15px 10% 15px 10%; }
      .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo input {
        width: 100%;
        box-sizing: border-box;
        margin: 0 0 3px 0; }
      .VisitorProfileMainInfoWrapper .VisitorProfileMainInfo label {
        margin-left: 0; }
  .VisitorSecondaryInfo {
    padding: 15px 10% 30px 10%; }
    .VisitorSecondaryInfo input {
      width: 100% !important;
      box-sizing: border-box;
      margin: 0 0 3px 0; }
    .VisitorSecondaryInfo label {
      margin-left: 0; }
    .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom {
      float: none;
      margin-right: 0; }
      .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom.first {
        margin-left: 0; }
      .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom input {
        width: 100% !important;
        box-sizing: border-box;
        margin: 0 0 3px 0; }
      .VisitorSecondaryInfo .VisitorSecondaryInfoInputsBottom select {
        width: 100% !important;
        box-sizing: border-box;
        margin: 0 0 3px 0; }
  .ng-hide {
    display: none !important; }
  .show-mobile {
    display: block; } }

/*---------------------------- End Styles for User Right Panel -------------------------------------------------------*/
/* ----------------------------------------- BrowseBody Styles ------------------------------------------------------ */
.BrowseBody {
  background: #1a1919;
  padding: 8px; }
  .BrowseBody .product-list li {
    position: relative;
    padding-top: 8px; }
    .BrowseBody .product-list li:first-child {
      padding-top: 0px; }
      .BrowseBody .product-list li:first-child .products-list-avatar {
        top: 0px; }
    .BrowseBody .product-list li .products-list-avatar {
      display: inline-block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 32px;
      height: 32px;
      overflow: hidden; }
      .BrowseBody .product-list li .products-list-avatar img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top; }
      .BrowseBody .product-list li .products-list-avatar .products-title-avatar {
        display: none; }
    .BrowseBody .product-list li .products-list-text {
      display: block;
      padding: 0 10px 0px 42px;
      height: 32px;
      background: #ffffff;
      color: #000000;
      width: 100%;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 32px;
      overflow: hidden; }
  .BrowseBody .product-list.tile li {
    background: #ffffff;
    float: left;
    width: 32%;
    margin-left: 2%;
    margin-bottom: 8px;
    padding-top: 0; }
    .BrowseBody .product-list.tile li.product-first {
      margin-left: 0%; }
    .BrowseBody .product-list.tile li .products-list-avatar {
      position: relative;
      width: 100%;
      height: 96px;
      text-align: center;
      line-height: 96px;
      top: -1px;
      display: block; }
      .BrowseBody .product-list.tile li .products-list-avatar img {
        vertical-align: middle; }
    .BrowseBody .product-list.tile li .products-list-text {
      padding: 0 5px;
      text-align: center;
      background: none;
      line-height: 15px;
      font-size: 12px; }
    .BrowseBody .product-list.tile li:hover {
      background: #19b2ff; }
      .BrowseBody .product-list.tile li:hover .products-list-text {
        color: #ffffff; }

/* ----------------------------------------- End BrowseBody Styles -------------------------------------------------  */
.ProductMainTopContainer {
  background: #131010; }

/* ------------------------------------------ ProductControlBar Styles --------------------------------------------- */
.ProductControlBar {
  height: 32px;
  background: #131010; }
  .ProductControlBar p {
    padding: 0 16px;
    line-height: 32px;
    margin: 0;
    height: 32px;
    background: #131010;
    float: left; }
    .ProductControlBar p label {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
      position: relative;
      top: -2px;
      margin-left: 5px; }


.ProductAccordionInner {
  padding: 10px 35px; }

/* ------------------------------------------ End ProductControlBar Styles ------------------------------------------ */
/* ------------------------------------------ ProductRightTopContainer Styles ----------------------------------------*/
.ProductMainImage {
  background: #131010;
  width: 30%;
  text-align: center;
  padding: 8px 0;
  float: left;
  min-height: 112px; }
  .ProductMainImage img {
    display: inline-block;
    vertical-align: top; }

.ProductSecondaryImagesWrapper {
  width: 70%;
  background: #131010;
  float: left;
  min-height: 120px;
  position: relative; }
  .ProductSecondaryImagesWrapper .ProductSecondaryImages {
    padding: 4px 12px; }
    .ProductSecondaryImagesWrapper .ProductSecondaryImages ul {
      margin: 0;
      padding: 0; }
      .ProductSecondaryImagesWrapper .ProductSecondaryImages ul li {
        float: left;
        list-style: none; }
        .ProductSecondaryImagesWrapper .ProductSecondaryImages ul li a {
          width: 52px;
          height: 52px;
          overflow: hidden;
          display: block;
          padding: 4px; }
          .ProductSecondaryImagesWrapper .ProductSecondaryImages ul li a img {
            max-width: 100%;
            height: auto;
            display: block; }
          .ProductSecondaryImagesWrapper .ProductSecondaryImages ul li a:hover {
            background: #95d2ff; }
  .ProductSecondaryImagesWrapper .ProductTopActions {
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    height: 128px;
    text-align: center;
    background: #131010; }
    .ProductSecondaryImagesWrapper .ProductTopActions li {
      width: 100%;
      display: block;
      margin-top: 8px; }
      .ProductSecondaryImagesWrapper .ProductTopActions li img {
        display: block;
        margin: 0 auto; }

/* ---------------------------------------End ProductRightTopContainer Styles ----------------------------------------*/
/* ---------------------------------------ProductSecondaryInfoContainer Styles ---------------------------------------*/
.ProductSecondaryInfo {
  padding: 15px 0 30px 35px; }
  .ProductSecondaryInfo ul {
    clear: left; }
  .ProductSecondaryInfo li {
    float: left; }
    .ProductSecondaryInfo li input {
      width: 260px; }
    .ProductSecondaryInfo li:first-child {
      margin-right: 20px; }
  .ProductSecondaryInfo label {
    color: #ffffff; }
  .ProductSecondaryInfo input {
    display: block;
    width: 540px;
    padding: 0 5px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box; }
  .ProductSecondaryInfo textarea {
    display: block;
    width: 540px;
    padding: 0 5px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    box-sizing: border-box; }
  .ProductSecondaryInfo .ProductSecondaryInfoSep {
    margin-bottom: 35px; }

.ProductSecondaryInputs input {
  float: left; }

.ProductMainImage {
  float: left;
  width: 15%;
  float: left;
  text-align: center; }

.ProductSecondaryImages {
  float: left;
  width: 70%; }
  .ProductSecondaryImages li {
    float: left;
    width: 25%;
    padding-bottom: 15px; }

.ProductProfileButtons {
  float: left;
  width: 15%;
  padding-right: 33px;
  box-sizing: border-box; }
  .ProductProfileButtons button {
    display: block;
    width: 150px;
    margin-bottom: 15px; }

.ProductAbsoluteButtons {
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 100; }

/* ----------------------------------- End ProductSecondaryInfoContainer Styles --------------------------------------*/
@media only screen and (min-width: 320px) and (max-width: 1000px) and (orientation: portrait) {
  .ProductSecondaryInfo {
    width: 80%;
    padding: 15px 10%; }
    .ProductSecondaryInfo li {
      float: none; }
      .ProductSecondaryInfo li:first-child {
        margin-right: 0; }
    .ProductSecondaryInfo input {
      width: 100% !important;
      box-sizing: border-box;
      margin: 0 0 3px 0; }
    .ProductSecondaryInfo textarea {
      width: 100% !important;
      box-sizing: border-box;
      margin: 0 0 3px 0; }
  .ProductMainImage {
    width: 100%;
    text-align: center; }
  .ProductSecondaryImages {
    width: 100%;
    text-align: center; }
    .ProductSecondaryImages li {
      float: none;
      display: inline-block; }
  .ProductProfileButtons {
    width: 100%;
    text-align: center; }
    .ProductProfileButtons button {
      display: inline-block; } }

@media only screen and (min-width: 320px) and (max-width: 1000px) and (orientation: landscape) {
  .ProductSecondaryInfo {
    width: 80%;
    padding: 15px 10%; }
    .ProductSecondaryInfo li {
      float: none; }
      .ProductSecondaryInfo li:first-child {
        margin-right: 0; }
    .ProductSecondaryInfo input {
      width: 100% !important;
      box-sizing: border-box;
      margin: 0 0 3px 0; }
    .ProductSecondaryInfo textarea {
      width: 100% !important;
      box-sizing: border-box;
      margin: 0 0 3px 0; }
  .ProductMainImage {
    width: 100%;
    text-align: center; }
  .ProductSecondaryImages {
    text-align: center;
    width: 100%; }
    .ProductSecondaryImages li {
      float: none;
      display: inline-block; }
  .ProductProfileButtons {
    width: 100%;
    text-align: center; }
    .ProductProfileButtons button {
      display: inline-block; } }

.LoginWrapper {
  width: 540px;
  margin: 0 auto;
  padding-top: 15px; }
  .LoginWrapper .LoginLogo {
    width: 540px;
    height: 110px;
    background: url("../images/login/desktop-logo.jpg") top left no-repeat;
    margin-bottom: 30px; }
  .LoginWrapper .LoginContainer {
    background: #157ac1;
    padding: 64px;
    width: 540px;
    box-sizing: border-box; }
    .LoginWrapper .LoginContainer label {
      display: block;
      font-size: 24px;
      color: #ffffff;
      margin-bottom: 20px;
      font-weight: normal; }
    .LoginWrapper .LoginContainer input {
      width: 100%;
      box-sizing: border-box;
      padding: 0 5px;
      height: 64px;
      border: 0px;
      margin-bottom: 40px;
      font-size: 24px; }
    .LoginWrapper .LoginContainer button {
      height: 64px;
      line-height: 64px;
      width: 190px;
      font-size: 36px;
      line-height: 36px;
      text-align: center;
      background: #95d2ff;
      color: #1a598f;
      border: 0;
      float: right;
      cursor: pointer; }

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .LoginWrapper {
    width: 410px; }
    .LoginWrapper .LoginLogo {
      width: 350px;
      height: 70px;
      background: url("../images/login/tablet-logo.png") top left no-repeat;
      margin: 0 auto;
      margin-bottom: 30px; }
      .LoginWrapper .LoginLogo input {
        height: 48px; }
      .LoginWrapper .LoginLogo button {
        height: 48px;
        line-height: 48px; }
    .LoginWrapper .LoginContainer {
      padding: 36px;
      width: 410px; } }

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .LoginWrapper {
    width: 240px;
    font-size: 18px; }
    .LoginWrapper .LoginLogo {
      width: 220px;
      height: 45px;
      margin: 0 auto;
      margin-bottom: 40px;
      background: url("../images/login/mobile-logo.jpg") top left no-repeat; }
    .LoginWrapper .LoginContainer {
      padding: 30px;
      width: 240px; }
      .LoginWrapper .LoginContainer label {
        font-size: 18px;
        width: 158px;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 10px; }
      .LoginWrapper .LoginContainer input {
        height: 36px;
        margin-bottom: 20px; }
      .LoginWrapper .LoginContainer button {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 24px; } }

.RightDashBoardConfig {
  float: left;
  width: 65%;
  padding: 32px;
  background: #131010;
  moz-box-sizing: border-box;
  box-sizing: border-box; }
  .RightDashBoardConfig li {
    padding-bottom: 8px; }
  .RightDashBoardConfig label {
    display: block;
    color: #ffffff;
    font-size: 12px;
    margin: 0 0 3px 6px; }
  .RightDashBoardConfig input {
    display: block;
    margin: 0 0 3px 5px;
    width: 257px;
    padding: 0 5px;
    height: 25px;
    border: 1px solid #ffffff; }
  .RightDashBoardConfig h3 {
    padding: 15px 0 10px 0;
    margin: 0;
    color: #ffffff;
    font-weight: normal;
    font-size: 18px; }

.LeftDashBoardConfig {
  padding: 8px; }
  .LeftDashBoardConfig li {
    width: 100%;
    margin-top: 8px;
    background: #ffffff; }
    .LeftDashBoardConfig li:hover {
      background: #00a3f5; }
    .LeftDashBoardConfig li.config-tab-active {
      background: #00a3f5; }
    .LeftDashBoardConfig li span {
      display: block;
      padding: 0 10px 0px 10px;
      height: 32px;
      line-height: 32px;
      cursor: pointer; }

.view-animate-container {
  position: relative;
  overflow: hidden;
  height: 392px; }
  .view-animate-container .well {
    background: #131010; }

.view-animate-container > .slide.ng-enter, .view-animate-container > .slide.ng-leave {
  transition: all ease 0.5s;
  width: 100%;
  position: absolute; }

.view-animate-container > .slide.ng-enter {
  left: 100%;
  opacity: 0; }

.view-animate-container > .slide.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1; }

.view-animate-container > .slide.ng-leave.ng-leave-active {
  left: -100%;
  opacity: 0; }

.browse-tab-header span {
  display: block; }
.browse-tab-header ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .browse-tab-header ul li {
    margin: 0;
    padding: 10px 20px;
    position: relative;
    height: 40px;
    line-height: 20px;
    background: url("../images/menu-back.jpg") top left repeat-x; }
    .browse-tab-header ul li > div > div > div > ul {
      visibility: hidden;
      width: 200px;
      top: 0px;
      left: 199px;
      position: absolute; }
    .browse-tab-header ul li:hover > div > div > div > ul {
      visibility: visible; }
      .browse-tab-header ul li:hover > div > div > div > ul li {
        border: 1px solid #000000; }
        .browse-tab-header ul li:hover > div > div > div > ul li:hover {
          background: url("../images/menu-active-back.jpg") top left repeat-x; }
          .browse-tab-header ul li:hover > div > div > div > ul li:hover a {
            color: #ffffff;
            text-decoration: none; }
        .browse-tab-header ul li:hover > div > div > div > ul li a {
          color: #ffffff; }
.browse-tab-header > ul > li {
  padding: 0;
  height: 64px;
  background: none; }
  .browse-tab-header > ul > li > a {
    height: 44px;
    padding: 10px 0px;
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none; }
  .browse-tab-header > ul > li > div > div > div > ul {
    top: 0px;
    position: absolute;
    left: 100%; }
  .browse-tab-header > ul > li:hover > a {
    text-decoration: none;
    display: block;
    color: #ffffff; }
 
/*/////////////////////////////////////////////////////////////////////////////////////////////////// start left menu */

.custom-nav li .fa {
    font-size: 22px;
    margin: -4px 14px 0 5px;
    width: 27px;
}
.left-side-inner ul.custom-nav li:first-child .fa {
    font-size: 28px;
}
.custom-nav > li.nav-active > a {
    color: #23212C;
}
.custom-nav > li.menu-list > a:hover {
    background-color: #A0CAEB;
    background-image: inherit;
}
.custom-nav > li.menu-list > a {
    background: none;
    border-bottom: 1px solid #343438;
}
.custom-nav > li > a {
    background: none;
    font: 18px 'roboto_ltregular',sans-serif;
    padding: 23px 20px 22px;
}
.custom-nav > li.nav-active > a {
    background: none;
    background-color: #A0CAEB;
    color: #23212C;
}
.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    background-color: #A0CAEB;
    color: #23212C;;
}
.custom-nav > li.nav-active > a:hover {
    background-image: inherit;
}
.left-side {
    background-color: #23212c;
    width: 282px;
}
.custom-nav .sub-menu-list > li > a {
    background-color: #292b3d;
    border-bottom: 1px solid #343438;
    color: #5a5a5a;
    font: 18px 'roboto_ltregular',sans-serif;
    padding: 26px 5px 26px 71px;
}
.custom-nav .sub-menu-list > li.active > a {
    color: #cccccc;
}
.left-side-collapsed .custom-nav .sub-menu-list > li > a {
    padding: 5px;
}
.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    color: #cccccc;
}
.custom-nav .sub-menu-list > li > a:hover span {
    color: #9BCBEA;
}
.toggle-btn {
    border-right: none;
    padding: 27px;
    width: 72px;
    height: 70px;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////// end left menu */

/*/////////////////////////////////////////////////////////////////////////////////////////////////// start dashboard */

.h-logo {
  display: inline-block;
  height: auto;
  margin: 3px auto 0;
  padding: 0;
  width: auto;
  line-height: 5.5;
}
.h-logo a:hover {
    opacity: 0.8;
}
.menu-right {
  position: absolute;
  right: 30px;
  top: 0;
}
.notification-menu .dropdown-toggle {
    padding: 18px 30px 18px 10px;
    margin-top: 0;
}
.notification-menu .dropdown-toggle:hover, .notification-menu .dropdown-toggle:focus, .notification-menu .dropdown-toggle:active, .notification-menu .dropdown-toggle.active, .notification-menu .open .dropdown-toggle.dropdown-toggle {
    background: none repeat scroll 0 0 #e6e8eb;
    font: 14px 'roboto_ltregular',sans-serif;
    color: #34374a;
}
.notification-menu .dropdown-toggle img {
    border-radius: 25px;
    width: 35px;
}
.notification-menu .dropdown-menu-usermenu {
    background: none repeat scroll 0 0 #ffffff;
    min-width: 171px;
}
.notification-menu .dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    padding: 5px;
    -webkit-box-shadow: -2px 2px 3px rgba(25, 25, 25, 0.31);
    -moz-box-shadow: -2px 2px 3px rgba(25, 25, 25, 0.31);
    box-shadow: -2px 2px 3px rgba(25, 25, 25, 0.31);
}
.notification-menu .dropdown-menu li a {
    color: #24222c;
    font: 14px 'roboto_ltregular',sans-serif;
}
.notification-menu .dropdown-menu:after {
    border-bottom: none;
}
.top {
  height: 44px;
  width: 100%;
  border-top: 1px solid #C1C1C1;
  border-bottom: 1px solid #C1C1C1;
  background-color: #9BCBEA;
}
.top i {
  float: left;
  color: #34374a;
  font-size: 40px;
  margin-left: 17px;
}
.top h6 {
  float: left;
  margin: 8px 0 0 14px;
  color: #34374a;
  font: 18px 'roboto_ltregular',sans-serif;
}
.d-progressbar .panel {
  border: 1px solid #E4E4E4;
  height: 130px;
  border-radius: 0;
}
.dashboard {
  padding: 14px 15px;
  background-color: #ffffff;
}
.d-progressbar .num {
    color: #555555;
    display: block;
    font: 45px/32px 'roboto_ltregular',sans-serif;
    margin: 0 0 7px;
    width: 120px;
}
.d-progressbar .text {
  color: #555555;
  font: 16px 'roboto_ltregular',sans-serif;
}
.d-progressbar .perc {
    color: #555555;
    float: right;
    font: 28px/25px 'roboto_ltregular',sans-serif;
    margin-left: 4px;
}
.d-progressbar .perc + .text {
  color: #555555;
  display: block;
  font: 11px 'roboto_ltregular',sans-serif;
  text-align: right;
  width: 60px;
}
.d-progressbar .pointer i {
  color: #1A598F;
  font-size: 22px;
}
.d-progressbar .pointer {
    border: 1px solid #1a598f;
    border-radius: 50%;
    height: 26px;
    padding: 0 0 0 2px;
    width: 26px;
    float: right;
}
.d-progressbar .extra-pad {
    padding: 28px 0;
}
.d-progressbar .clear + .text {
    float: right;
    font-size: 11px;
    margin-top: 2px;
    text-align: right;
    width: 61px;
}
.d-progressbar .progress {
    background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 0;
    box-shadow: none;
    height: 7px;
    margin: 0 15px;
}
.d-progressbar .progress-bar {
    background-color: #1a598f;
}
.d-progress-middle .progress-bar {
   background-color: #70BE06;
}
.d-progress-middle .pointer i {
  color: #70BE06;
}
.d-progress-middle .pointer {
    border: 1px solid #70BE06;
}
.d-progress-last .col-sm-4 .progress {
    margin: 0;
}
.d-progress-last .progress-bar {
    background-color: #FC9918;
}
.d-progress-last p {
    color: #555555;
    display: block;
    font: 18px 'roboto_ltregular',sans-serif;
    margin: -22px 0 7px;
    text-align: center;
}
.d-progress-last .progress-xs + span {
    font-size: 11px;
    text-align: center;
    display: block;
}
.dashboard .panel-info > .panel-heading {
    background-color: #00a3f5;
}
.dashboard .panel-heading {
    border-radius: 0;
}
.dashboard .panel-info {
     border: 1px solid #e4e4e4;
     border-radius: 0;
}
.dashboard .panel-title {
    color: #ffffff;
    font: 16px 'roboto_ltregular',sans-serif;
    text-align: center;
    text-transform: capitalize;
}
.dashboard .col-md-2 {
    float: right;
}
.dashboard .col-md-2 .panel-info h4 {
  color: #555555;
  font: 24px/27px 'roboto_ltregular',sans-serif;
  text-align: center;
  margin-top: 7px;
  padding: 0 15px;
}
.dashboard .col-md-2 .panel-body i {
  color: #ffffff;
  background-color: #00A3F5;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 60px;
  padding: 20px;
  display: block;
  margin: 0 auto;
}
.dashboard .col-md-2 p {
    color: #555555;
    display: block;
    font: 14px/17px 'robotoregular',sans-serif;
    margin-bottom: 0;
    margin-top: 3px;
    text-align: center;
}
.dashboard .col-md-2 span {
  color: #555555;
  font: 24px 'robotobold',sans-serif;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
.dashboard .col-md-2 span.small {
  font-size: 14px;
  display: inline;
}
.dashboard .col-md-2 .panel-body {
    padding: 0;
}
.dashboard .col-md-2 .panel-body .fa-dollar {
    padding-left: 32px;
}
.dashboard .col-md-2 .panel-body a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.dashboard table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 2px;
  margin-bottom: 25px;
}
.dashboard table tr {
  background-color: #F4F5F7;
  height: 30px;
  color: #656565;
  font: 12px 'roboto_ltregular',sans-serif;
}
.dashboard table tr td:first-child {
  width: 90%;
}
.dashboard table tr td:last-child {
  width: 10%;
}
.dashboard table tr td {
  padding: 1px 10px 0 13px;
}
.dashboard .d-table .panel-body {
    padding: 1px 3px;
     min-height: 272px;
     position: relative;
}
.dashboard .d-table .panel-body a {
    bottom: 7px;
    color: #3838eb;
    display: block;
    font: 10px 'roboto_ltregular',sans-serif;
    position: absolute;
    right: 16px;
    text-decoration: underline;
}
.d-sellers img {
    height: 40px;
    border: 1px solid #555555;
    border-radius: 3px;
    margin: 1px 0 2px;
}
.d-sellers table tr td:first-child {
    width: 10%;
}
.d-sellers table tr td:last-child {
    width: 90%;
}
.btns {
    background-color: #34374a;
    border-radius: 3px;
    color: #ffffff;
    display: table-cell;
    font: 11px 'roboto_ltregular',sans-serif;
    height: 42px;
    margin: 10px 3px 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 18.6%;
}
.btns:hover {
    cursor: pointer;
    opacity: 0.8;
}
.d-visitors .col-md-12,
.d-sales .col-md-12 {
    display: table;
    padding: 0;
    width: 100%;
}
.btns-pad {
    display: table-cell;
    padding: 0 3px;
    width: 20%;
}
.btns.active {
    background-color: #9BCBEA;
}
#visitors-chart .legend,
#visitors-chart2 .legend{
    display: none;
}
.dashboard .d-visitors .panel-heading,
.dashboard .d-sales .panel-heading,
.d-table .panel-heading {
    padding: 8px;
}
.dashboard .d-visitors .panel-body,
.dashboard .d-sales .panel-body,
.d-table .panel-body {
    padding: 11px 15px 15px;
}
.main-content {
    background-color: #ffffff;
}
.main-content:after {
  content: "";
  display: table;
  clear: both;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////// end dashboard */

/*/////////////////////////////////////////////////////////////////////////////////////////////////// start customers */

.top-custom i {
    font-size: 25px;
    margin-top: 8px;
}
.customers table {
  width: 100%;
}
.customers form {
  margin-top: 20px;
}
.customers table td,
.customers table th {
    color: #555555;
    font: 18px 'roboto_ltregular',sans-serif;
   padding: 12px 0;
}
.customers table tr {
    border-bottom: 1px solid #BBBBBB;
}
.customers table tr {
    background-color: #F6F6F6;
}
.customers table tr:nth-child(2) {
    border: none;
}
.customers table tr:last-child,
.customers table tr:first-child {
    background-color: inherit;
}
.customers table tr:first-child th {
    padding: 8px 0;
}
.customers table tr:last-child,
.customers table tr:nth-child(2) {
    background-color: inherit;
    height: 14px;
}
.customers table tr:nth-child(2) {
    height: 10px;
}
.customers table tr th:first-child,
.customers table tr td:first-child {
    width: 5%;
    padding: 13px 0 3px 10px;
}


.customers table tr th:nth-child(3) ,
.customers table tr td:nth-child(3) {
    width: 20%;
}
.customers table tr th:nth-child(4) ,
.customers table tr td:nth-child(4) {
    width: 20%;
}
.customers table tr th:nth-child(5) ,
.customers table tr td:nth-child(5) {
    width: 10%;
    text-align: center;
}
.customers table tr th:nth-child(6) ,
.customers table tr td:nth-child(6) {
    width: 10%;
    text-align: center;
}
.customers table tr th:nth-child(7) ,
.customers table tr td:nth-child(7) {
    width: 15%;
    text-align: center;
}
.myCheckbox input {
    display: none;
}
.myCheckbox span {
    width: 22px;
    height: 22px;
    display: block;
    background: url(../images/checkbox.jpg) no-repeat;
    text-align: center;
    display: table-cell;
}
.myCheckbox input:checked + span {
    background: url(../images/checkbox2.jpg) no-repeat;
}
.btn-black {
  float: right;
  background-color: #23212C;
  color: #ffffff;
  width: 215px;
  height: 40px;
  text-align: center;
  font: 18px 'roboto_ltregular',sans-serif;
  margin: 25px 12px 25px 0;
  padding-top: 6px;
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.btn-black:hover {
    background: #48474a;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s ease;/* Firefox 4-15 */
    -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
    transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.customers {
    padding: 0 15px;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////// end customers */

/*//////////////////////////////////////////////////////////////////////////////////////////////////// start products */

.filters {
  width:20px;
  height: 20px;
  background: #fcfcfc;
  border-radius: 2px;
  display: block;
  text-align: center;
  border:1px #cccccc solid;
  cursor: pointer;
  position: relative;
  float: right;
  margin: 20px 64px 20px 27px;
}
.filters:before {
    content: "Filters";
    font-size: 14px;
    left: -49px;
    position: absolute;
    top: -1px;
}
.filters:after {
    color: #555555;
    content: "+";
    display: block;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}
.filters.active:after {
    content: "-";
    line-height: 0.9;
}
.customers table tr:nth-child(2) {
    display: none;
    width: 100%;
}
.customers table tr:nth-child(2).active {
    display: table-row;
}
.cat-label {
    margin: 15px 0 10px;
    position: relative;
}
.cat-label button {
    /*left: 120px;*/
    /*padding: 0 10px;*/
    /*position: absolute;*/
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////// end products */

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 25px;
    padding: 3px;
    background-color: white;
    border-radius: 3px;
    box-shadow: inset 0 -1px #fff,inset 0 1px 1px rgba(0,0,0,0.05);
    cursor: pointer;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0
}

.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #f9f9f9;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.12),inset 0 0 2px rgba(0,0,0,0.15);
    -webkit-transition: .15s ease-out;
    -moz-transition: .15s ease-out;
    -o-transition: .15s ease-out;
    transition: .15s ease-out;
    -webkit-transition-property: opacity background;
    -moz-transition-property: opacity background;
    -o-transition-property: opacity background;
    transition-property: opacity background
}

.switch-label:before,.switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit
}

.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaa;
    text-shadow: 0 1px rgba(255,255,255,0.5)
}

.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: white;
    text-shadow: 0 1px rgba(0,0,0,0.2);
    opacity: 0
}

.switch-input:checked ~ .switch-label {
    background: #4fc1e9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.15),inset 0 0 3px rgba(0,0,0,0.2)
}

.switch-input:checked ~ .switch-label:before {
    opacity: 0
}

.switch-input:checked ~ .switch-label:after {
    opacity: 1
}

.switch-handle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    background-image: -webkit-linear-gradient(top,#fff 40%,#f0f0f0);
    background-image: -moz-linear-gradient(top,#fff 40%,#f0f0f0);
    background-image: -o-linear-gradient(top,#fff 40%,#f0f0f0);
    background-image: linear-gradient(to bottom,#fff 40%,#f0f0f0);
    -webkit-transition: left .15s ease-out;
    -moz-transition: left .15s ease-out;
    -o-transition: left .15s ease-out;
    transition: left .15s ease-out
}

.switch-handle:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0,0,0,0.02);
    background-image: -webkit-linear-gradient(top,#eee,#fff);
    background-image: -moz-linear-gradient(top,#eee,#fff);
    background-image: -o-linear-gradient(top,#eee,#fff);
    background-image: linear-gradient(to bottom,#eee,#fff)
}

.switch-input:checked ~ .switch-handle {
    left: 37px;
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2)
}

.switch-primary>.switch-input:checked ~ .switch-label {
    background: #36a9e1
}

.switch-success>.switch-input:checked ~ .switch-label {
    background: #78cd51
}

.switch-warning>.switch-input:checked ~ .switch-label {
    background: #fabb3d
}

.switch-important>.switch-input:checked ~ .switch-label {
    background: #ff5454
}

.switch-info>.switch-input:checked ~ .switch-label {
    background: #67c2ef
}

.switch-danger>.switch-input:checked ~ .switch-label {
    background: #d9534f
}

.product-tabs .custom-tab {
    background-color: inherit !important;
    border-bottom: 1px solid #dddddd;
    height: 36px;
}
.product-tabs  .nav-tabs > li.active,
.product-tabs  .nav-tabs > li:hover {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-top: 3px solid #9BCBEA;
    border-bottom: 1px solid #ffffff;
}
.product-tabs .panel-heading .nav > li > a {
    color: #555555;
    font: 18px 'roboto_ltregular', sans-serif;
}
.product-tabs .panel-heading {
    text-transform: inherit;
}
.product-tabs .custom-tab li a:hover, .custom-tab li.active a {
    color: inherit !important;
}
.product-tabs .custom-tab ul > li > a {
    padding: 8px 15px 6px !important;
}

/** */
.modal-header span{
    margin-right: 10px;
}
.modal-header button{
    bottom: 6px;
    position: relative;
}






/*---------- By Andrey ----------*/

.btn-primary {
  outline: none !important;
  border-radius: 0;
}

/*--------- Products modal ----------*/
/*---------- modals ----------*/
.modal-body .pagination-block{
    text-align: center;
}
.modal-dialog {
  width: 50%;
  min-width: 800px;
}
.modal-body {
  padding: 0;
}
.modal-dialog .panel-body {
  padding: 0;
}
.modal-dialog form {
  padding: 0;
}
.modal-body table th {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*---------- checkboxes in table ----------*/
table .checkboxes  {
  width: auto;
  height: auto;
  margin: 0;
  display: inline-block;
}
table .myCheckbox  {
  width: auto;
  height: auto;
  margin: 0;
  display: inline-block;
}
table .myCheckbox span {
  display: inline-block;
  padding: 0 !important;
  width: 25px !important;
}



/*---------- tables ----------*/
.customers table tr th:nth-child(1), .customers table tr td:nth-child(1) {
  padding: 0;
  vertical-align: middle;
  text-align: center;
  width: 0%;
}
.customers table tr th:first-child, .customers table tr td:first-child {
  width: 0.00005%;
}


.customers table tr .th2,
.customers table tr .th2 {
    width: 20%;
}
.customers table tr .image-row,
.customers table tr .image-row {
    width: 1% !important;
}

/*---------- checkboxes in head ----------*/
.head-checkboxes {
  width:20px;
  height: 20px;
  background: #fcfcfc;
  border-radius: 2px;
  display: block;
  text-align: center;
  border:1px #cccccc solid;
  cursor: pointer;
  position: relative;
  float: right;
  margin: 20px 0 20px 27px;
}
.head-checkboxes:after {
  content: "+";
  font-size: 16px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
  display: block;
}
.head-checkboxes:before {
  content: "Columns";
  font-size: 14px;
  left: -65px;
  position: absolute;
  top: -1px;
}
.head-checkboxes .checkboxes-wrapper {
  display: none;
  position: absolute;
  right: 0;
  top: 40%;
  background: white;
  width: 280px;
  height: auto;
  padding: 20px 20px 0;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
  z-index: 50;
  cursor: default;
}
.head-checkboxes:hover .checkboxes-wrapper{
  display: block;
}
.head-checkboxes .checkboxes-wrapper label {
  display: block;
  margin-bottom: 21px;
}
.head-checkboxes .checkboxes-wrapper label span {
  cursor: pointer;
}

table input.form-control {
  margin: 5px 0;
}

/*---------- themes ----------*/
.theme-preview {
  display: inline-block;
  height: 290px;
  width: 335px;
  margin: 0 10px 60px;
}
.theme-preview img {
  width: 100%;
  height: 100%;
}
.theme-preview:nth-child(odd) img {
  border: 12px #e2e2e2 solid;
  border-bottom: none;
}
.theme-preview:nth-child(even) img {
  border: 6px #e2e2e2 solid;
  border-bottom: none;
}
.theme-preview h6 {
  font-size: 18px;
  color: #565656;
  text-transform: capitalize;
}
.theme-preview h6 span {
  font-size: 12px;
  color: #185b8f;
  float: right;
  margin-top: 5px;
}
.theme-preview a {
  color: #44b1f6;
  border-bottom: 1px #44b1f6 solid;
  float: right;
  line-height: 1.2;
  font-size: 14px;
}
.theme-preview a:hover {
  text-decoration: none;
  border-bottom: none;
}

/*---------- Json modals ----------*/
#jsonEditor .panel-body {
  text-align: center;
  padding: 20px;
}
#jsonEditor ul li {
  height: 55px;
  padding-top: 15px;
  margin-top: 0;
}
#jsonEditor button.save{
  margin-left: 10px;
  margin-right: 15px;
}
#jsonEditor button.add {
  margin-bottom: 20px;
}
#jsonEditor input {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  height: 30px;
  margin-right: 10px;
  width: 218px;
  position: relative;
  top: 2px;
  font-family: 16px;
  padding: 0 15px;
}
#jsonEditor span.input-wrap {
  position: relative;
  display: inline-block;
}
#jsonEditor span.input-wrap label{
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 11px;
}
/*---------- parents modal ----------*/
#parent_id .modal-body {
  padding: 20px;
}
#parent_id .modal-body tr th, #parent_id .modal-body tr td {
  padding: 15px 0;
  vertical-align: middle;
}
#parent_id .modal-body input {
  margin-bottom: 0;
}
/*---------- order details ----------*/
.order-details-head, .order-detail {
  font-family: "robotoregular";
}
.order-details-head .fa-list-alt {
  font-size: 25px;
  transform:scaleY(1.2);
  position: relative;
  top: 1px;
}
.order-detail h6 {
  font-size: 21px;
  color: #565656;
}
.order-detail h6 strong {
  font-size: 28px;
  font-weight: normal;
  color: #3e4146;
}
.order-detail .hr {
  width: 100%;
  height: 0;
  border-bottom: 2px #969696 dashed;
}
.order-detail .od-blocks .od-block {
  float: left;
  width: auto;
  margin-right: 60px;
}
.order-detail .od-blocks .od-block p {
  font-size: 16px;
  color: #3e4146;
}

.order-detail .od-product{
  width: 100%;
  text-align: left;
}
.order-detail .od-product tr th {
  font-size: 18px;
  color: #565656;
}
.order-detail .od-product tr td {
  font-size: 18px;
  color: #3e4146;
  text-transform: lowercase;
  padding: 0;
}
.order-detail .od-product tr td:first-letter {
  text-transform: uppercase;
}
.order-detail .od-product tr th:not(:first-child),.order-detail .od-product tr td:not(:first-child) {
  text-align: right;
  width: 150px;
}
.order-detail .od-total {
  width: 100%;
  font-size: 18px;
  text-align: right;
  color: #565656;
}
.order-detail .od-total span {
  width: 120px;
  float: right;
}
.order-detail .order-total h6 {
  width: 120px;
  float: right;
  text-align: right;
}
.order-detail .btn-group {
  margin-top: 20px;
}


/*---------- product-custom-options ----------*/
.product-custom-options input,.product-custom-options select {
  height: 33px;
  vertical-align: middle;
  padding: 0 10px;
  width: 100%;
  border: 2px #ededed solid;
  border-radius: 4px;
}
.product-custom-options input {
  position: relative;
  top: -2px;
}
.product-custom-options input:focus {
  border-color: #66646d;
  -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
  -moz-transition: all 0.5s ease;/* Firefox 4-15 */
  -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
  transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.product-custom-options label{
  width: 100%;
  margin: 5px 5px;
}
.product-custom-options button{
  width: 150px;
  height: 30px;
  margin: 5px 5px;
}
.product-custom-options .btn-black {
  float: none;
  outline: none;
  border: none;
  font-size: 14px;
  padding-top: 0;
  position: relative;
  top: 0;
}
.product-custom-options .left {
  width: 150px;
  margin: 5px 5px;
  display: inline-block;
}
.option-values{
    background-color: #ededed;
    padding: 15px;
    margin-top: 10px;
}