/* Login page */
#hide {
  display: none !important;
}
.login-page h1 {
  color: #fff;
}
.login-page .jumbotron {
  padding-top: 1px;
}
/* Index page */
.navbar {
  height: auto !important;
  min-height: 0 !important;
}
.navbar-brand {
  padding: 5px 15px !important;
}
.main-menu {
  float: none !important;
  width: 100% !important;
  text-align: center !important;
}
.main-menu > li {
  float: none !important;
  display: inline-block !important;
}
.main-menu > li > a > i,
.navbar-right li a .fa {
  font-size: 20px !important;
  position: relative !important;
  top: 3px !important;
}
input.range {
  width: 80px !important;
}
.has-error {
  position: relative;
}
.help-block {
  position: absolute;
  width: 150px;
  background: black;
  z-index: 10;
  padding: 10px;
  text-align: center;
  top: 100%;
  left: 50%;
  margin-left: -75px;
  color: #fff !important;
  font-weight: 300;
  border-radius: 2px;
}
.help-block:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #000;
  position: absolute;
  top: -6px;
  color: #000;
  left: 50%;
  margin-left: -4px;
  display: block;
  z-index: 50;
}
.nav-tabs li a:focus {
  outline: none !important;
}
.attr-table table tr td,
.attr-table table tr th,
.attr-table table tr:hover {
  background: none !important;
  border-color: transparent;
  color: #000;
}
.attr-table table tr td:first-child {
  width: 30px;
}
