<form role="form"
    name="otEditForm"
    role="tabpanel"
    novalidate
    class="animated fadeIn">

    <div class="row">
        <div class="col-sm-3 col-md-2">
            <ul class="nav nav-pills nav-stacked animated fadeIn">
                <li ng-class='{active:$first}'
                    ng-repeat="tab in tabs"
                    ng-click="click(tab.key)"
                    role="presentation">
                    <a href="#collapse-{{tab.key}}"
                        target="_self"
                        role="tab"
                        data-toggle="tab">
                        {{tab.label}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 col-md-10">

            <div class="row tab-content animated fadeIn m-t-0">
                <div ng-class='{active:$first,in:$first}'
                    ng-repeat="tab in tabs"
                    id="collapse-{{tab.key}}"
                    class="tab-pane fade">
                    <ot-form-builder attributes="attributeGroups[tab.key]"
                        item="item"></ot-form-builder>

                    <br>

                    <div class="text-center animated fadeIn">
                        <a class="btn btn-primary"
                            ng-click="parent.save()">
                            Save
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
