<div class="page-header">
    <h1><i class="fa fa-file-image-o"></i> CMS / Images</h1>
</div>

<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h4>Uploading Images</h4>
            <p>Accepted file formats: .jpg, .jpeg, .png, .gif</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-8">
                    <div class="file form-control">
                        <label>
                            <input ot-bind-file="files"
                                type="file"
                                multiple
                                accept=".jpg, .jpeg, .png, .gif" />

                            <span class="file-text">Choose Files...</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block"
                        ng-click="upload()">
                        Upload
                    </button>
                </div>
            </div>

            <ul class="file-list">
                <li ng-repeat="file in files">{{file.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3"
        ng-repeat="img in images">
        <div class="panel panel-default">
            <img ng-src="{{img.url}}"
                class="img-responsive" />
            <div class="panel-body">
                <div>{{img.url}}</div>
                <div class="text-muted"><small>{{img.created_at}}</small></div>
            </div>
        </div>
    </div>
</div>

