<div class="page-header">
    <h1><i class="fa fa-file-image-o"></i> CMS / Images</h1>
</div>

<!-- Upload Area -->
<div class="well">
    <div class="row">
        <div class="col-sm-6">
            <h4>Uploading Images</h4>
            <p>Accepted file formats: .jpg, .jpeg, .png, .gif</p>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-8">
                    <div class="file form-control">
                        <label>
                            <input ot-bind-file="files"
                                type="file"
                                multiple
                                accept=".jpg, .jpeg, .png, .gif" />
                            <span class="file-text">{{files.length ? files.length + ' file(s) selected' : 'Select files...'}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block"
                        ng-click="upload()">
                        Upload
                    </button>
                </div>
            </div>

            <ul class="file-list">
                <li ng-repeat="file in files">{{file.name}}</li>
            </ul>
        </div>
    </div>
</div>

<!-- List of media items -->
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3"
        ng-repeat="img in media">
        <div class="panel panel-default panel-hover">
            <!-- TODO: use real images again -->
            <!-- <img ng-src="{{img.url}}"
                class="img-responsive" /> -->
            <img src="//placehold.it/800x600"
                class="img-responsive" />
            <div class="panel-body">
                <!-- todo: cleanup -->
                json dump:
                <pre>{{img | json}}</pre>

                <!-- real code -->
                <div><input class="form-control" type="text" readonly value="{{img.url}}" /></div>
                <div class="text-muted"><small>{{img.created_at}}</small></div>
            </div>
        </div>
    </div>
</div>

