<!-- Sidebar view -->
<nav id="offcanvas" class="navmenu hidden-xs" ng-controller="dashboardHeaderController">
  <div class="sidebar-wrapper">
    <div class="navbar-user">
      <img ng-src="{{it.getAvatar()}}" alt="" class="pull-left avatar">
      <h4 class="pull-left">{{it.getUsername()}}</h4>
    </div>

    <div class="navbar-top">
      <a href="/">
        <img ng-src="{{getImg('logo.png')}}" alt=""/>
      </a>
    </div>

    <!-- Main menu -->
    <div ng-controller="dashboardSidebarController">
      <div ng-repeat="item in items track by $index"
           ng-include="getTemplate('dashboard/header/offcanvasItem.html')"></div>
    </div>
  </div>
</nav>
