.RightDashBoardConfig {
  float: left;
  width: 65%;
  padding: 32px;
  background: $RightDashBoardConfigBack;
  moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  li {
    padding-bottom: 8px;
  }
  label {
    display: block;
    color: $RightDashBoardConfigLabelColor;
    font-size: 12px;
    margin: 0 0 3px 6px;
  }
  input {
    display: block;
    margin: 0 0 3px 5px;
    width: 257px;
    padding: 0 5px;
    height: 25px;
    border: 1px solid $RightDashBoardConfigInputBorder;

  }
  h3 {
    padding: 15px 0 10px 0;
    margin: 0;
    color:  $RightDashBoardConfigLabelColor;
    font-weight: normal;
    font-size: 18px;
  }
}
.LeftDashBoardConfig {
  padding: 8px;
  li {
    width: 100%;
    margin-top: 8px;
    background: $LeftDashBoardConfigItemBack;
    &:hover {
      background: $LeftDashBoardConfigItemHoverBack;
    }
    &.config-tab-active {
      background: $LeftDashBoardConfigItemHoverBack;
    }
    span {
      display: block;
      padding: 0 10px 0px 10px;
      height: 32px;
      line-height: 32px;
      cursor: pointer;
    }
  }
}

.view-animate-container {
  position: relative;
  overflow: hidden;
  height:392px;
  .well {
    background: $RightDashBoardConfigBack;
  }
}

.view-animate-container > .slide.ng-enter,
.view-animate-container > .slide.ng-leave {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  width: 100%;
  position:absolute;
}

.view-animate-container > .slide.ng-enter {
  left:100%;
  opacity: 0;
}
.view-animate-container > .slide.ng-enter.ng-enter-active {
  left:0;
  opacity: 1;
}
.view-animate-container > .slide.ng-leave.ng-leave-active {
  left: -100%;
  opacity: 0;
}