.ProductMainTopContainer {
  background: $VisitorProfileImageBack;
}
/* ------------------------------------------ ProductControlBar Styles --------------------------------------------- */

.ProductControlBar {
  height: 32px;
  background: $VisitorControlBarBack;
  p {
    padding: 0 16px;
    line-height: 32px;
    margin: 0;
    height: 32px;
    background: $VisitorControlBarActive;
    float: left;
    label {
      color: $VisitorControlLink;
      font-size: 14px;
      text-transform: uppercase;
      position: relative;
      top: -2px;
      margin-left: 5px;
    }
  }
}
.panel-collapse {
  background: $VisitorProfileMainInfoWrapperBack;
}
.ProductAccordionInner {
  padding: 10px 35px;
}
/* ------------------------------------------ End ProductControlBar Styles ------------------------------------------ */

/* ------------------------------------------ ProductRightTopContainer Styles ----------------------------------------*/

.ProductMainImage {
    background: $VisitorProfileImageBack;
    width: 30%;
    text-align: center;
    padding: 8px 0;
    float: left;
    min-height: 112px;
    img {
    display: inline-block;
    vertical-align: top;
    }
  }
.ProductSecondaryImagesWrapper {
  width: 70%;
  background: $VisitorProfileMainInfoWrapperBack;
  float: left;
  min-height: 120px;
  position: relative;
  .ProductSecondaryImages {
    padding: 4px 12px;
    ul {
      margin: 0;
      padding: 0;
      li {
        float: left;
        list-style: none;
        a {
          width: 52px;
          height: 52px;
          overflow: hidden;
          display: block;
          padding: 4px;
          img {
            max-width: 100%;
            height: auto;
            display: block;
          }
          &:hover {
            background: $ProductSecondaryImagesHoverBack;
          }
        }
      }
    }
  }
  .ProductTopActions {
    width: 48px;
    position: absolute;
    top: 0;
    right: 0;
    height: 128px;
    text-align: center;
    background: $ProductTopActionsBack;
    li {
      width: 100%;
      display: block;
      margin-top: 8px;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}

/* ---------------------------------------End ProductRightTopContainer Styles ----------------------------------------*/

/* ---------------------------------------ProductSecondaryInfoContainer Styles ---------------------------------------*/
.ProductSecondaryInfo {
  padding: 15px 0 30px 35px;
  ul {
    clear: left;
  }
  li {
    float: left;
    input {
      width: 260px;
    }
    &:first-child {
      margin-right: 20px;
    }
   }
  label {
    color: $ProductLabelFontColor;
  }
  input {
    display: block;
    width: 540px;
    padding: 0 5px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid $VisitorProfileMainInfoInputBorder;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  textarea {
    display: block;
    width: 540px;
    padding: 0 5px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid $VisitorProfileMainInfoInputBorder;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .ProductSecondaryInfoSep {
    margin-bottom: 35px;
  }
}
.ProductSecondaryInputs {
  input {
    float: left;
  }
}

.ProductMainImage {
  float: left;
  width: 15%;
  float: left;
  text-align: center;
}
.ProductSecondaryImages {
  float: left;
  width: 70%;
  li {
    float: left;
    width: 25%;
    padding-bottom: 15px;
  }
}
.ProductProfileButtons {
  float: left;
  width: 15%;
  padding-right: 33px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  button {
    display: block;
    width: 150px;
    margin-bottom: 15px;
  }
}
.ProductAbsoluteButtons {
  position: absolute;
  bottom: 0px;
  right: 10px;
  z-index: 100;
}
/* ----------------------------------- End ProductSecondaryInfoContainer Styles --------------------------------------*/