/*---------------------------- Styles for User Right Panel for Portrait View -----------------------------------------*/

@media only screen and (min-width : 600px) and (max-width : 1000px) and (orientation : portrait) {
  .VisitorSecondaryInfo {
    input {
      width: 305px !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 3px 0;
    }
    select {
      width: 305px !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 3px 0;
    }
    .VisitorSecondaryInfoInputsBottom {
      float: none;
      margin-right: 0;
      &.first {
        margin-left: 0;
      }
    }
  }
  .VisitorProfileMainImage {
    width: 100%;
    margin: 0;
  }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0;
    button {
      display: inline-block;
    }
  }
}

/*---------------------------- End Styles for User Right Panel for Portrait View -------------------------------------*/

/*---------------------------- Styles for User Right Panel for Landscape View ----------------------------------------*/

@media only screen and (min-width : 600px) and (max-width : 1000px) and (orientation : landscape) {
  .VisitorSecondaryInfo {
    input {
      width: 305px !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 3px 0;
    }
    select {
      width: 305px !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 3px 0;
    }
    .VisitorSecondaryInfoInputsBottom {
      float: none;
      margin-right: 0;
      &.first {
        margin-left: 0;
      }
    }
  }
  .VisitorProfileMainImage {
    width: 100%;
    margin: 0;
  }
  .VisitorProfileButtons {
    width: 100%;
    text-align: center;
    padding: 0;
    button {
      display: inline-block;
    }
  }
}
/*---------------------------- End Styles for User Right Panel for Landscape View ------------------------------------*/