<!DOCTYPE html >
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../../styles/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
</head>
<body>
    <div class="HeaderWrapper" id="globalHeader">
        <div class="LogoContainer">
            <a href="#" title=""><img src="../../images/logo.png" width="32" height="32" alt="" ></a>
        </div>
        <div class="CustomerSettingWrapper">
            <div class="CustomerSettingContainerGlobal">
                <a href="#" title="" class="customer-name">
                    <img src="../../images/customer/avatar.jpg" width="32" height="32" alt=""  />
                    <span>{{User Name}}</span>
                </a>
                <div class="CustomerSettingContainer">
                    <a href="#" title="" class="customer-setting-image"><img src="../../images/settings-image.png" width="32" height="32" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="MainWrapper">
        <div class="LeftContentContainer" id="browseContainer">
            <div class="TabHeaderContainer" id="browseTabHeader">
                <ul class="tabs-header-list">
                    <li class="active">
                        <a href="#" title="">
                            <img src="../../images/icon-visitor.png" width="32" height="32" alt="" />
                            <span>visitors</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="">
                            <img src="../../images/icon-product.png" width="32" height="32" alt="" />
                            <span>products</span>
                        </a>
                    </li>
                </ul>
                <a href="#" title="" class="help">
                    <img src="../../images/icon-help.jpg" width="32" height="32" alt="" />
                    <span>help</span>
                </a>
            </div>
            <div class="BrowseController" id="browseController">
                <div class="AddButtonContainer">
                    <a href="#" title=""><img src="../../images/icon-add.png" width="32" height="32" alt=""></a>
                </div>
                <div class="SwithViewContainer">
                    <a href="#" title=""><img src="../../images/icon-grid.png" width="32" height="32" alt=""></a>
                    <a href="#" title=""><img src="../../images/icon-list.png" width="32" height="32" alt=""></a>
                </div>
                <div class="SearchContainer">
                    <form>
                        <input type="text" name="top-search" class="top-search"/>
                    </form>
                </div>
            </div>
            <div class="BrowseBody" id="browseBody">
                <ul class="customer-list tile">
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/icon-visitor-new.jpg"   alt=""></a>

                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/icon-visitor-new.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm dsd fsdf sdf sdf sdf sdf sdf </span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li>
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                    <li class="visitor-first">
                        <a href="#" class="visitors-list-avatar" title=""><img src="../../images/customer/list-avatar.jpg"  alt=""></a>
                        <span class="visitors-list-text">Mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmmm mmmmmm mmmmmm</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="RightContentContainer" id="editContainer">
            <div class="CustomerControlBar" id="editControlBar">
                <ul>
                    <li><span>visitor type:</span></li>
                    <li class="use-type-select">
                        <a href="#" title="">customer<span></span></a>
                    </li>
                </ul>
            </div>
            <div class="CustomerProfileImage" id="editImage">
                <img src="../../images/customer/global-avatar.jpg" width="150" height="150" alt="" />
            </div>
            <div class="CustomerProfileMainInfoWrapper">
                <div class="CustomerProfileMainInfo">
                    <form>
                        <span>Name</span>
                        <label for="visitor-first-name">first name</label>
                        <input type="text" name="" id="visitor-first-name" />
                        <label for="visitor-last-name">last name</label>
                        <input type="text" name="" id="visitor-last-name" />
                        <label for="visitor-role">role (optional)</label>
                        <input type="text" name="" id="visitor-role" />
                    </form>
                </div>
            </div>
            <div class="CustomerSecondaryInfo" id="editBody">
                <h3>Contact Information</h3>
                <label>phone</label>
                <input class="middle-size" />
                <label>email</label>
                <input class="middle-size" />
                <h3>Shipping Address</h3>
                <label>address line 1</label>
                <input class="biggest-size" />
                <label>address line 2 (optional)</label>
                <input class="biggest-size" />
                <div class="CustomerSecondaryInfoInputsBottom first">
                    <label>city</label>
                    <input class="small-size" />
                </div>
                <div class="CustomerSecondaryInfoInputsBottom">
                    <label>state</label>
                    <select><option></option></select>
                </div>
                <div class="CustomerSecondaryInfoInputsBottom">
                    <label>Zip code</label>
                    <input class="small-size" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="FooterWrapper" id="globalFooter"></div>
</body>
</html>