<div class="LoginWrapper" ng-controller="loginController">
    <div class="LoginLogo"></div>
    <div class="LoginContainer">

        <form role="form" name="loginForm">
            <label for="username">User Name or Email Address</label>
            <input id="username" type="text" ng-model="username" required auto-fill-sync/>

            <label for="password">Password</label>
            <input id="password" type="password" ng-model="password" required auto-fill-sync/>

            <button type="submit" ng-click="login()">Sign In</button>
        </form>

        <div class="clear"></div>
    </div>
</div>