<dashboard-header></dashboard-header>
<div class="MainWrapper">
    <div class="TabHeaderContainer" id="browseTabHeader">
        <browse-tab-header class="browse-tab-header" ng-init="submenu = menuitems;"></browse-tab-header>
    </div>
    <div class="LeftContentContainer" id="browseContainer">
        <browse-controller></browse-controller>
        <browse-body>
            <div ng-controller="ProductListCtrl">
                <product-list></product-list>
            </div>
        </browse-body>
    </div>
    <edit-container>
        <form name="productForm" ng-controller="ProductFormEditCtrl">
            <product-edit></product-edit>
        </form>
    </edit-container>
    <div class="clear"></div>
</div>
<dashboard-footer></dashboard-footer>
