.form-item:nth-child(2n + 1) {
    clear: both;
}

.heading-filters .filter-title-_selection {
    max-width: 25px;

    select {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.row-col-_selection {
    text-align: center;
}