<!-- Pagination -->
<div class="text-center" ng-if="parent.paginator.countPages > 1">
    <ul class="pagination">

        <li class="{{parent.getClass(page)}}" ng-repeat="page in parent.getPages()" ng-if="$first">
            <a ng-click="parent.setPage(page)">{{page}}</a>
        </li>

        <li class="disabled" ng-if="leftBreak">
            <a>...</a>
        </li>

        <li class="{{parent.getClass(page)}}" ng-repeat="page in parent.getPages()" ng-if="isNeighbors(page) && !$first && !$last">
            <a href="" target="_self" ng-click="parent.setPage(page)">{{page}}</a>
        </li>

        <li class="disabled" ng-if="rightBreak">
            <a>...</a>
        </li>

        <li class="{{parent.getClass(page)}}" ng-repeat="page in parent.getPages()" ng-if="$last">
            <a ng-click="parent.setPage(page)">{{page}}</a>
        </li>
    </ul>
</div>
